<div class="card-2" *ngIf="Modo === 'agregar'">
  <form [formGroup]="form">
    <mat-card>
      <mat-card-title>{{'GLOBAL.Acta_Recibido.CapturarElementos.CargaMasivaTitle' | translate }}</mat-card-title>
      <mat-card-content>
        <div class="row">
          <div class="form-group col-sm soporte">
            <p>{{'GLOBAL.descargarP' | translate }}</p>
            <button mat-flat-button color="primary" (click)="TraerPlantilla()" style="padding: 1rem 0;">
              <em class="fas fa-file-download fa-2x"></em>
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-sm soporte">
            <p>{{'GLOBAL.seleccionarArch' | translate }}</p>
            <button mat-flat-button color="primary" (click)="fileInputDocumento.click()" style="padding: 1rem 0;"
              [disabled]="form.valid">
              <em class="fas fa-file-upload fa-2x"></em>
              <input type="file" formControlname="archivo" id="archivo" #fileInputDocumento style="display: none;"
                accept=".xlsx,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                (change)="onFileChange($event)" (click)="$event.target.value=null">
            </button>
            <p *ngIf="form.valid">{{form.value.archivo.name}}</p>
            <p *ngIf="!form.valid">{{'GLOBAL.Acta_Recibido.CapturarElementos.ValidadorPlaceholder' | translate:
              {EXT:'xlsx'} }}</p>
          </div>
          <div class="col-sm soporte">
            <p>{{'GLOBAL.Acta_Recibido.CapturarElementos.LimpiarEspacioButton' | translate }}</p>
            <button mat-flat-button color="primary" (click)="clearFile()" style="padding: 1rem 0;"
              [disabled]="!form.valid">
              <em class="fas fa-trash-alt fa-2x"></em>
            </button>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="primary" [disabled]="!form.valid" (click)="onSubmit()">
          {{'GLOBAL.Acta_Recibido.CapturarElementos.CargarElementosButton' | translate }}
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>

<mat-card [nbSpinner]="cargando">
  <mat-card-content>
    <div class="row" *ngIf="Modo === 'agregar'">
      <button mat-flat-button color="primary" class="seleccionados" [disabled]="!checkParcial && !checkTodos"  (click)="borraSeleccionados()">
        {{'GLOBAL.borrarSel' | translate }}
      </button>
      <div class="col">
        <ng2-completer *ngIf="!ocultarAsignacionCatalogo" type="text" inputClass="cell form-control" style="height: 8px;" placeholder="Asignar clase"
          [datasource]="dataService" [minSearchLength]="4" (selected)="onClaseMultiple($event)"
          [disableInput]="!checkParcial && !checkTodos" [clearSelected]="true" [clearUnselected]="false">
        </ng2-completer>
      </div>
      <div class="col">
        <input nbInput (keyup)="applyFilter($event.target.value)" class="filter" placeholder="Filtro"
          style="height: 45px;">
      </div>
    </div>
    <mat-table #table *ngIf="dataSource" class="noselect" [dataSource]="dataSource" matSort
      (keyup)="keyUpTabla($event)" (keydown.shift)="keyDownTablaShift()">

      <!-- Acciones Macro/Checkbox -->
      <ng-container matColumnDef="AccionesMacro">
        <th id="col-seleccionado" mat-header-cell *matHeaderCellDef>
          <mat-checkbox aria-label="Seleccionar/Deseleccionar Todo"
            (change)="cambioCheckTodos($event.checked)" nbPopover="Seleccionar/Deseleccionar Todo" #checkTodoInput (click)="enviarSeleccionados()"
            nbPopoverTrigger="hover" nbPopoverPlacement="left" [checked]="checkTodos" [indeterminate]="checkParcial">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let element; let rowIndex = index">
          <nb-checkbox (change)="setCasilla(rowIndex, $event.srcElement.checked)"
            [(ngModel)]="element.seleccionado"></nb-checkbox>
        </td>
        <td mat-footer-cell *matFooterCellDef>
          {{'GLOBAL.Acta_Recibido.CapturarElementos.TotalesFooter' | translate }}
        </td>
      </ng-container>

      <!-- Subgrupo Catalogo -->
      <ng-container matColumnDef="SubgrupoCatalogoId">
        <th id="col-combinado"  mat-header-cell *matHeaderCellDef mat-sort-header>
          <!-- TODO: Revisar texto siguiente -->
          {{ 'GLOBAL.subgrupo.clase.nombre' | translate }}
        </th>
        <td mat-cell *matCellDef="let element; let rowIndex = index">
          <div style="width: 250px;">
            <ng2-completer nbInput type="text" id="clase" inputClass="cell" style="border: 0rem" fieldSize="tiny" [disabled]="Modo !== 'agregar'"
              [datasource]="dataService" [minSearchLength]="4" (blur)="onBlurClase(rowIndex)" (selected)="onSelectedClase($event,rowIndex)"
              [(ngModel)]="element.Combinado"></ng2-completer>
          </div>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- Tipo de Bien -->
      <ng-container matColumnDef="TipoBienId">
        <th id="col-bien-nombre" mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'GLOBAL.Acta_Recibido.CapturarElementos.TipoBienHeader' | translate }} </th>
        <td mat-cell *matCellDef="let element; let rowIndex = index">
          <div>
            <input disabled nbInput type="text" fieldSize="tiny" class="cell" [(ngModel)]="element.SubgrupoCatalogoId.TipoBienId.Nombre"
              readonly>
          </div>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- Nombre Catalogo -->
      <ng-container matColumnDef="Nombre">
        <th id="col-nombre" mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'GLOBAL.Acta_Recibido.CapturarElementos.DescripcionHeader' | translate }} </th>
        <td mat-cell *matCellDef="let element; let rowIndex = index">
          <input nbInput type="text" fieldSize="tiny" class="cell" [disabled]="Modo !== 'agregar'"
            placeholder="{{'GLOBAL.Acta_Recibido.CapturarElementos.DescripcionHeader' | translate }}"
            [(ngModel)]="element.Nombre" required>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- Cantidad Column -->
      <ng-container matColumnDef="Cantidad">
        <th id="col-cantidad" mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'GLOBAL.Acta_Recibido.CapturarElementos.CantidadHeader' | translate }} </th>
        <td mat-cell *matCellDef="let element; let rowIndex = index">
          <input nbInput type="number" fieldSize="tiny" min="0"
            class="cell-2"  [disabled]="Modo !== 'agregar'" placeholder="{{'GLOBAL.Acta_Recibido.CapturarElementos.CantidadHeader' | translate }}"
            [(ngModel)]="element.Cantidad" (ngModelChange)="calcularValores(rowIndex)">
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- Marca Column -->
      <ng-container matColumnDef="Marca">
        <th id="col-marca" mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'GLOBAL.Acta_Recibido.CapturarElementos.MarcaHeader' | translate }}
        </th>
        <td mat-cell *matCellDef="let element; let rowIndex = index">
          <input nbInput  [disabled]="Modo !== 'agregar'" type="text" fieldSize="tiny" class="cell"
            placeholder="{{'GLOBAL.Acta_Recibido.CapturarElementos.MarcaHeader' | translate }}"
            [(ngModel)]="element.Marca" required>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- Serie Column -->
      <ng-container matColumnDef="Serie">
        <th id="col-serie" mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'GLOBAL.Acta_Recibido.CapturarElementos.SerieHeader' | translate }}
        </th>
        <td mat-cell *matCellDef="let element; let rowIndex = index">
          <input nbInput [disabled]="Modo !== 'agregar'" type="text" fieldSize="tiny" class="cell"
            placeholder="{{'GLOBAL.Acta_Recibido.CapturarElementos.SerieHeader' | translate }}"
            [(ngModel)]="element.Serie" required>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- UnidadMedida Column -->
      <ng-container matColumnDef="UnidadMedida">
        <th id="col-unidad" mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'GLOBAL.Acta_Recibido.CapturarElementos.UnidadMedidaHeader' | translate }} </th>
        <td mat-cell *matCellDef="let element; let rowIndex = index">
          <select nbInput [disabled]="Modo !== 'agregar'" type="text" class="cell" [(ngModel)]="element.UnidadMedida" required>
            <option *ngFor="let unidad of Unidades" [(value)]="unidad.Id">{{unidad.Unidad}}</option>
          </select>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- ValorUnitario Column -->
      <ng-container matColumnDef="ValorUnitario">
        <th id="col-valorunitario" mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'GLOBAL.Acta_Recibido.CapturarElementos.ValorUnitarioHeader' | translate }} </th>
        <td mat-cell *matCellDef="let element; let rowIndex = index">

          <input currencyMask [options]="{allowNegative: false}" nbInput [disabled]="Modo !== 'agregar'" type="text" fieldSize="tiny" class="cell"
            placeholder="{{'GLOBAL.Acta_Recibido.CapturarElementos.ValorUnitarioHeader' | translate }}"
            [(ngModel)]="element.ValorUnitario" (ngModelChange)="calcularValores(rowIndex)">
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- Subtotal Column -->
      <ng-container matColumnDef="Subtotal">
        <th id="col-subtotal" mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'GLOBAL.Acta_Recibido.CapturarElementos.SubtotalHeader' | translate }} </th>
        <td mat-cell *matCellDef="let element; let rowIndex = index">
          <input disabled currencyMask [options]="{allowNegative: false}" nbInput type="text" fieldSize="tiny"
            class="cell" placeholder="{{'GLOBAL.Acta_Recibido.CapturarElementos.SubtotalHeader' | translate }}"
            [(ngModel)]="element.Subtotal" readonly>
        </td>
        <td mat-footer-cell *matFooterCellDef>
          <p *ngIf="respuesta">{{ getSubtotales() | currency }}</p>
        </td>
      </ng-container>

      <!-- Descuento Column -->
      <ng-container matColumnDef="Descuento">
        <th id="col-descuento" mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'GLOBAL.Acta_Recibido.CapturarElementos.DescuentoHeader' | translate }} </th>
        <td mat-cell *matCellDef="let element; let rowIndex = index">
          <input currencyMask [options]="{allowNegative: false}" nbInput [disabled]="Modo !== 'agregar'" type="text" fieldSize="tiny" class="cell"
            placeholder="{{'GLOBAL.Acta_Recibido.CapturarElementos.DescuentoHeader' | translate }}"
            [(ngModel)]="element.Descuento" (ngModelChange)="calcularValores(rowIndex)">
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- PorcentajeIvaId Column -->
      <ng-container matColumnDef="PorcentajeIvaId">
        <th id="col-porcentajeiva" mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'GLOBAL.Acta_Recibido.CapturarElementos.IVAHeader' | translate }}
        </th>
        <td mat-cell *matCellDef="let element; let rowIndex = index">
          <select nbInput [disabled]="Modo !== 'agregar'" type="text" class="cell form-control"
            [(ngModel)]="element.PorcentajeIvaId" (ngModelChange)="calcularValores(rowIndex)">
            <option *ngFor="let tarifas of Tarifas_Iva" [(value)]="tarifas.Tarifa">{{tarifas.Nombre}}</option>
          </select>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- ValorIva Column -->
      <ng-container matColumnDef="ValorIva">
        <th id="col-valoriva" mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'GLOBAL.Acta_Recibido.CapturarElementos.ValorIVAHeader' | translate }} </th>
        <td mat-cell *matCellDef="let element; let rowIndex = index">
          <input disabled currencyMask [options]="{allowNegative: false}" nbInput type="text" fieldSize="tiny"
            class="cell" placeholder="{{'GLOBAL.Acta_Recibido.CapturarElementos.ValorIVAHeader' | translate }}"
            [(ngModel)]="element.ValorIva" readonly>
        </td>
        <td mat-footer-cell *matFooterCellDef>
          <p *ngIf="respuesta">{{ getIVA() | currency }}</p>
        </td>
      </ng-container>

      <!-- ValorTotal Column -->
      <ng-container matColumnDef="ValorTotal">
        <th id="col-valortotal" mat-header-cell *matHeaderCellDef mat-sort-header>
          {{'GLOBAL.Acta_Recibido.CapturarElementos.ValorTotalHeader' | translate }}</th>
        <td mat-cell *matCellDef="let element; let rowIndex = index">
          <input disabled currencyMask [options]="{allowNegative: false}" nbInput type="text" fieldSize="tiny"
            class="cell" placeholder="{{'GLOBAL.Acta_Recibido.CapturarElementos.ValorTotalHeader' | translate }}"
            [(ngModel)]="element.ValorTotal" readonly>
        </td>
        <td mat-footer-cell *matFooterCellDef>
          <p *ngIf="respuesta">{{ getTotales() | currency }}</p>
        </td>
      </ng-container>

      <!-- Acciones Column -->
      <ng-container matColumnDef="Acciones">
        <th id="col-acciones" mat-header-cell *matHeaderCellDef>
          <button mat-icon-button color="primary" [disabled]="Modo !== 'agregar'" (click)="addElemento()"
            matTooltip="{{'GLOBAL.Acta_Recibido.CapturarElementos.AgregarElemento' | translate }}">
            <mat-icon>add_box</mat-icon>
          </button>
        </th>
        <td mat-cell *matCellDef="let element; let rowIndex = index">
          <button mat-icon-button color="secondary" [disabled]="Modo !== 'agregar'" (click)="deleteElemento (rowIndex)"
            matTooltip="{{'GLOBAL.Acta_Recibido.CapturarElementos.EliminarElemento' | translate }}">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[10, 20, 30, 40, 50]" (page)="cambioPagina($event)"></mat-paginator>
  </mat-card-content>
</mat-card>
