<mat-horizontal-stepper #stepper [linear]=true>

  <!-- SOPORTE -->
  <mat-step [stepControl]="facturaForm" label="{{'GLOBAL.resolucion' | translate}}">
    <form [formGroup]="facturaForm" class="step-container">
      <h5>{{'GLOBAL.resolucion' | translate}}</h5>
      <div class="row">
        <div class="form-group col-sm">
          <label>{{'GLOBAL.numeroResolucion' | translate}}</label>
          <div class="input-group">
            <select class="form-control" formControlName="facturaCtrl" (change)="changeSelectSoporte()">
              <option value="" selected>--{{'GLOBAL.seleccionar' | translate}}--</option>
              <option *ngFor="let item of soportes" value="{{ item.Id }}">{{ item.Consecutivo }}</option>
            </select>
          </div>
        </div>
        <div class="form-group col-sm">
          <label>{{'GLOBAL.fechaResolucion' | translate}}</label>
          <div class="input-group">
            <input nbInput type="text" shape="semi-round" placeholder="{{'GLOBAL.fechaResolucion' | translate}}"
              class="form-control" value="{{ fechaFactura | date:'dd/MM/yyy' }}" [readonly]="true">
          </div>
        </div>
      </div>
      <div class="botones-stepper-middle">
        <button mat-flat-button color="primary" matStepperPrevious>{{'GLOBAL.anterior' | translate}}</button>
        <button mat-flat-button color="primary" matStepperNext>{{'GLOBAL.siguiente' | translate}}</button>
      </div>
    </form>
  </mat-step>

  <!-- OBSERVACIONES -->
  <mat-step [stepControl]="observacionForm" label="{{'GLOBAL.observaciones' | translate}}">
    <form [formGroup]="observacionForm" class="step-container">
      <h5>{{'GLOBAL.observaciones' | translate}}</h5>
      <div class="row">
        <div class="form-group  col-lg-12">
          <div class="input-group">
            <textarea rows="5" shape="semi-round" placeholder="{{'GLOBAL.observaciones' | translate}}"
              class="form-control" formControlName="observacionCtrl"></textarea>
          </div>
        </div>
      </div>
      <div class="botones-stepper-middle">
        <button mat-flat-button color="primary" matStepperPrevious>{{'GLOBAL.anterior' | translate}}</button>
        <button mat-flat-button color="primary" matStepperNext (click)="onObservacionSubmit()">{{'GLOBAL.registrar_entrada' | translate}}</button>
      </div>
    </form>
  </mat-step>

</mat-horizontal-stepper>
