  <nb-card>
    <nb-card-header>
      <h1>{{'GLOBAL.consultar_entrada' | translate}}</h1>
    </nb-card-header>
    <nb-card-body [nbSpinner]="!mostrar">

      <!-- CARD PARA MOSTRAR LAS SOLICITUDES *ngIf="!detalle" -->
      <p class="h4 pb-4" *ngIf="!detalle">{{'GLOBAL.mensaje_consulta_entrada' | translate}}</p>

      <ng2-smart-table [settings]="settings" [source]="source" (custom)="onCustom($event)" (create)="onRegister($event)" *ngIf="!detalle">
      </ng2-smart-table>

      <!-- CARD PARA MOSTRAR LOS DETALLES DE LAS SOLICITUDES -->
      <h5 *ngIf="detalle" class="pb-4">{{'GLOBAL.detalle_entrada' | translate}}</h5>

      <div *ngIf="detalle" class="container">

        <!-- ENTRADA -->
        <div class="row">
          <div class="col">
            <p class="text-uppercase"><strong>Entrada</strong>: {{ entradaEspecifica.Consecutivo }}</p>
          </div>
          <div class="col">
            <p class="text-uppercase"><strong>Tipo de Entrada:</strong>
              {{ entradaEspecifica.TipoEntradaId.Nombre }}</p>
          </div>
        </div>

        <!-- ACTA RECIBIDO -->
        <div *ngIf="detalle" class="row">
          <div class="col">
            <p class="text-uppercase"><strong>Acta de Recibido N°:</strong>
              {{ entradaEspecifica.ActaRecibidoId }}</p>
          </div>
        </div>

        <!-- ADQUISICIÓN -->
        <div *ngIf="detalle && entradaEspecifica.TipoEntradaId.Nombre === 'Adquisición'" class="row">
          <div class="col">
            <p class="text-uppercase"><strong>Contrato N°:</strong> {{ entradaEspecifica.ContratoId }}</p>
          </div>
          <div class="col">
            <p class="text-uppercase"><strong>Tipo Contrato:</strong> {{ contrato.TipoContrato }}</p>
          </div>
        </div>

        <div *ngIf="detalle && entradaEspecifica.TipoEntradaId.Nombre === 'Adquisición'" class="row">
          <div class="col">
            <p class="text-uppercase"><strong>Ordenador de Gasto:</strong>
              {{ contrato.OrdenadorGasto.NombreOrdenador }}
            </p>
          </div>
          <div class="col">
            <p class="text-uppercase"><strong>Cargo:</strong> {{ contrato.OrdenadorGasto.RolOrdenadorGasto }}</p>
          </div>
        </div>

        <div *ngIf="detalle && entradaEspecifica.TipoEntradaId.Nombre === 'Adquisición'" class="row">
          <div class="col">
            <p class="text-uppercase"><strong>Supervisor:</strong> {{ contrato.Supervisor.Nombre }}</p>
          </div>
          <div class="col">
            <p class="text-uppercase"><strong>Cargo:</strong> {{ contrato.Supervisor.Cargo }}</p>
          </div>
        </div>

        <!-- ELABORACIÓN PROPIA -->
        <div *ngIf="detalle && entradaEspecifica.TipoEntradaId.Nombre === 'Elaboración Propia'" class="row">
          <div class="col">
            <p class="text-uppercase"><strong>Ordenador de Gasto:</strong>
              capturar
            </p>
          </div>
          <div class="col">
            <p class="text-uppercase"><strong>Cargo:</strong>capturar</p>
          </div>
        </div>

        <div *ngIf="detalle && entradaEspecifica.TipoEntradaId.Nombre === 'Elaboración Propia'" class="row">
          <div class="col">
            <p class="text-uppercase"><strong>Solicitante:</strong> capturar </p>
          </div>
          <div class="col">
            <p class="text-uppercase"><strong>Cargo:</strong> capturar</p>
          </div>
        </div>

        <!-- DONACIÓN -->
        <div *ngIf="detalle && entradaEspecifica.TipoEntradaId.Nombre === 'Donación'" class="row">
          <div class="col">
            <p class="text-uppercase"><strong>Contrato N°:</strong> {{ entradaEspecifica.ContratoId }}</p>
          </div>
          <div class="col">
            <p class="text-uppercase"><strong>Tipo Contrato:</strong> {{ contrato.TipoContrato }}</p>
          </div>
        </div>

        <div *ngIf="detalle && entradaEspecifica.TipoEntradaId.Nombre === 'Donación'" class="row">
          <div class="col">
            <p class="text-uppercase"><strong>Ordenador de Gasto:</strong>
              {{ contrato.OrdenadorGasto.NombreOrdenador }}
            </p>
          </div>
          <div class="col">
            <p class="text-uppercase"><strong>Cargo:</strong> {{ contrato.OrdenadorGasto.RolOrdenadorGasto }}</p>
          </div>
        </div>

        <div *ngIf="detalle && entradaEspecifica.TipoEntradaId.Nombre === 'Donación'" class="row">
          <div class="col">
            <p class="text-uppercase"><strong>Supervisor:</strong> {{ contrato.Supervisor.Nombre }}</p>
          </div>
          <div class="col">
            <p class="text-uppercase"><strong>Cargo:</strong> {{ contrato.Supervisor.Cargo }}</p>
          </div>
        </div>
        <div *ngIf="detalle && entradaEspecifica.TipoEntradaId.Nombre === 'Donación'" class="row">
          <div class="col">
            <p class="text-uppercase"><strong>Solicitante:</strong> capturar </p>
          </div>
          <div class="col">
            <p class="text-uppercase"><strong>Cargo:</strong> capturar</p>
          </div>
        </div>

        <!-- REPOSICIÓN -->
        <!-- HACER CUANDO ESTE LISTO -->

        <!-- SOBRANTE -->
        <div *ngIf="detalle && entradaEspecifica.TipoEntradaId.Nombre === 'Sobrante'" class="row">
        </div>

        <!-- TERCEROS -->
        <div *ngIf="detalle && entradaEspecifica.TipoEntradaId.Nombre === 'Terceros'" class="row">
          <div class="col">
            <p class="text-uppercase"><strong>Contrato N°:</strong> {{ entradaEspecifica.ContratoId }}</p>
          </div>
          <div class="col">
            <p class="text-uppercase"><strong>Tipo Contrato:</strong> {{ contrato.TipoContrato }}</p>
          </div>
        </div>

        <div *ngIf="detalle && entradaEspecifica.TipoEntradaId.Nombre === 'Terceros'" class="row">
          <div class="col">
            <p class="text-uppercase"><strong>Ordenador de Gasto:</strong>
              {{ contrato.OrdenadorGasto.NombreOrdenador }}
            </p>
          </div>
          <div class="col">
            <p class="text-uppercase"><strong>Cargo:</strong> {{ contrato.OrdenadorGasto.RolOrdenadorGasto }}</p>
          </div>
        </div>

        <div *ngIf="detalle && entradaEspecifica.TipoEntradaId.Nombre === 'Terceros'" class="row">
          <div class="col">
            <p class="text-uppercase"><strong>Supervisor:</strong> {{ contrato.Supervisor.Nombre }}</p>
          </div>
          <div class="col">
            <p class="text-uppercase"><strong>Cargo:</strong> {{ contrato.Supervisor.Cargo }}</p>
          </div>
        </div>

        <!-- CAJA MENOR -->
        <div *ngIf="detalle && entradaEspecifica.TipoEntradaId.Nombre === 'Caja menor'" class="row">
          <div class="col">
            <p class="text-uppercase"><strong>Ordenador de Gasto:</strong>
              capturar
            </p>
          </div>
          <div class="col">
            <p class="text-uppercase"><strong>Cargo:</strong>capturar</p>
          </div>
        </div>

        <div *ngIf="detalle && entradaEspecifica.TipoEntradaId.Nombre === 'Caja menor'" class="row">
          <div class="col">
            <p class="text-uppercase"><strong>Solicitante:</strong> capturar </p>
          </div>
          <div class="col">
            <p class="text-uppercase"><strong>Cargo:</strong> capturar</p>
          </div>
        </div>

        <!-- ADICIONES Y MEJORAS -->
        <div *ngIf="detalle && entradaEspecifica.TipoEntradaId.Nombre === 'Adiciones y mejoras'" class="row">
          <div class="col">
            <p class="text-uppercase"><strong>Contrato N°:</strong> {{ entradaEspecifica.ContratoId }}</p>
          </div>
          <div class="col">
            <p class="text-uppercase"><strong>Tipo Contrato:</strong> {{ contrato.TipoContrato }}</p>
          </div>
        </div>

        <div *ngIf="detalle && entradaEspecifica.TipoEntradaId.Nombre === 'Adiciones y mejoras'" class="row">
          <div class="col">
            <p class="text-uppercase"><strong>Ordenador de Gasto:</strong>
              {{ contrato.OrdenadorGasto.NombreOrdenador }}
            </p>
          </div>
          <div class="col">
            <p class="text-uppercase"><strong>Cargo:</strong> {{ contrato.OrdenadorGasto.RolOrdenadorGasto }}</p>
          </div>
        </div>

        <div *ngIf="detalle && entradaEspecifica.TipoEntradaId.Nombre === 'Adiciones y mejoras'" class="row">
          <div class="col">
            <p class="text-uppercase"><strong>Supervisor:</strong> {{ contrato.Supervisor.Nombre }}</p>
          </div>
          <div class="col">
            <p class="text-uppercase"><strong>Cargo:</strong> {{ contrato.Supervisor.Cargo }}</p>
          </div>
        </div>      

        <!-- INTANGIBLES ADQUIRIDOS -->
        <div *ngIf="detalle && entradaEspecifica.TipoEntradaId.Nombre === 'Intangibles'" class="row">
          <div class="col">
            <p class="text-uppercase"><strong>Contrato N°:</strong> {{ entradaEspecifica.ContratoId }}</p>
          </div>
          <div class="col">
            <p class="text-uppercase"><strong>Tipo Contrato:</strong> {{ contrato.TipoContrato }}</p>
          </div>
        </div>

        <div *ngIf="detalle && entradaEspecifica.TipoEntradaId.Nombre === 'Intangibles'" class="row">
          <div class="col">
            <p class="text-uppercase"><strong>Ordenador de Gasto:</strong>
              {{ contrato.OrdenadorGasto.NombreOrdenador }}
            </p>
          </div>
          <div class="col">
            <p class="text-uppercase"><strong>Cargo:</strong> {{ contrato.OrdenadorGasto.RolOrdenadorGasto }}</p>
          </div>
        </div>

        <div *ngIf="detalle && entradaEspecifica.TipoEntradaId.Nombre === 'Intangibles'" class="row">
          <div class="col">
            <p class="text-uppercase"><strong>Supervisor:</strong> {{ contrato.Supervisor.Nombre }}</p>
          </div>
          <div class="col">
            <p class="text-uppercase"><strong>Cargo:</strong> {{ contrato.Supervisor.Cargo }}</p>
          </div>
        </div>     

        <!-- PROVISIONAL -->
        <div *ngIf="detalle && entradaEspecifica.TipoEntradaId.Nombre === 'Provisional'" class="row">
          <div class="col">
            <p class="text-uppercase"><strong>Contrato N°:</strong> {{ entradaEspecifica.ContratoId }}</p>
          </div>
          <div class="col">
            <p class="text-uppercase"><strong>Tipo Contrato:</strong> {{ contrato.TipoContrato }}</p>
          </div>
        </div>

        <div *ngIf="detalle && entradaEspecifica.TipoEntradaId.Nombre === 'Provisional'" class="row">
          <div class="col">
            <p class="text-uppercase"><strong>Ordenador de Gasto:</strong>
              {{ contrato.OrdenadorGasto.NombreOrdenador }}
            </p>
          </div>
          <div class="col">
            <p class="text-uppercase"><strong>Cargo:</strong> {{ contrato.OrdenadorGasto.RolOrdenadorGasto }}</p>
          </div>
        </div>

        <div *ngIf="detalle && entradaEspecifica.TipoEntradaId.Nombre === 'Provisional'" class="row">
          <div class="col">
            <p class="text-uppercase"><strong>Supervisor:</strong> {{ contrato.Supervisor.Nombre }}</p>
          </div>
          <div class="col">
            <p class="text-uppercase"><strong>Cargo:</strong> {{ contrato.Supervisor.Cargo }}</p>
          </div>
        </div>  

        <!-- COMPRAS EXTRANJERAS -->
        <div *ngIf="detalle && entradaEspecifica.TipoEntradaId.Nombre === 'Compras extranjeras'" class="row">
          <div class="col">
            <p class="text-uppercase"><strong>Contrato N°:</strong> {{ entradaEspecifica.ContratoId }}</p>
          </div>
          <div class="col">
            <p class="text-uppercase"><strong>Tipo Contrato:</strong> {{ contrato.TipoContrato }}</p>
          </div>
        </div>

        <div *ngIf="detalle && entradaEspecifica.TipoEntradaId.Nombre === 'Compras extranjeras'" class="row">
          <div class="col">
            <p class="text-uppercase"><strong>Ordenador de Gasto:</strong>
              {{ contrato.OrdenadorGasto.NombreOrdenador }}
            </p>
          </div>
          <div class="col">
            <p class="text-uppercase"><strong>Cargo:</strong> {{ contrato.OrdenadorGasto.RolOrdenadorGasto }}</p>
          </div>
        </div>

        <div *ngIf="detalle && entradaEspecifica.TipoEntradaId.Nombre === 'Compras extranjeras'" class="row">
          <div class="col">
            <p class="text-uppercase"><strong>Supervisor:</strong> {{ contrato.Supervisor.Nombre }}</p>
          </div>
          <div class="col">
            <p class="text-uppercase"><strong>Cargo:</strong> {{ contrato.Supervisor.Cargo }}</p>
          </div>
        </div>  
        <div *ngIf="detalle && entradaEspecifica.TipoEntradaId.Nombre === 'Compras extranjeras'" class="row">
          <div class="col">
            <p class="text-uppercase"><strong>Registro de Importación:</strong> {{ entradaEspecifica.RegistroImportacion }}</p>
          </div>
          <div class="col">
            <p class="text-uppercase"><strong>Tasa Representativa del mercado:</strong> {{ entradaEspecifica.TasaRepresentativaMercado }}</p>
          </div>
        </div>
        <!-- INTANGIBLES DESARROLLADOS -->
        <div *ngIf="detalle && entradaEspecifica.TipoEntradaId.Nombre === 'Desarrollo interior'" class="row">
          <div class="col">
            <p class="text-uppercase"><strong>Ordenador de Gasto:</strong>
              capturar
            </p>
          </div>
          <div class="col">
            <p class="text-uppercase"><strong>Cargo:</strong>capturar</p>
          </div>
        </div>
        
        <!-- APROVECHAMIENTOS -->

        <div *ngIf="detalle && entradaEspecifica.TipoEntradaId.Nombre === 'Aprovechamientos'" class="row">
          <div *ngIf="Supervisor!=undefined" class="col">
            <p class="text-uppercase"><strong>Supervisor:</strong> {{ Supervisor.TerceroPrincipal.NombreCompleto }}</p>
          </div>
          <div *ngIf="Supervisor!=undefined" class="col">
            <p class="text-uppercase"><strong>Dependencia:</strong> {{ Supervisor.Dependencia.Nombre}}</p>
          </div>
        </div>  

        <div *ngIf="detalle && entradaEspecifica.TipoEntradaId.Nombre === 'Aprovechamientos'" class="row">
          <div *ngIf="Proveedor!=undefined" class="col">
            <p class="text-uppercase"><strong>Proveedor:</strong> {{ Proveedor }}</p>
          </div>
        </div>  

        <!-- OBSERVACIONES -->
        <div *ngIf="detalle" class=" row">
          <div class="col">
            <p *ngIf="entradaEspecifica.Observacion !== ''" class="text-uppercase">
              <strong>Observaciones:</strong> {{ entradaEspecifica.Observacion }}</p>
            <p *ngIf="entradaEspecifica.Observacion === ''" class="text-uppercase">
              <strong>Observaciones:</strong> N/A</p>
          </div>
        </div>

        <!-- SOPORTES -->
        <label *ngIf="documentoId" class="text-uppercase"><strong>Soportes:</strong></label>
        <button *ngIf="documentoId" mat-button type="button" (click)="loadSoporte()">
          <mat-icon>cloud_download</mat-icon>
        </button>

      </div>

      <ngx-tabla-entradas [actaRecibidoId]="actaRecibidoId" *ngIf="detalle"></ngx-tabla-entradas>

    </nb-card-body>
    <nb-card-footer class="pt-4">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onVolver()"
          *ngIf="detalle">{{'GLOBAL.volver' | translate}}
        </button>
    </nb-card-footer>
  </nb-card>
