<mat-card [nbSpinner]="spinner" [nbSpinnerMessage]="spinner">
  <mat-card-title *ngIf="!entradaEspecifica && !updateEntrada">
    {{'GLOBAL.consultar_entrada' | translate}}
  </mat-card-title>
  <mat-card-title *ngIf="entradaEspecifica">
    {{'GLOBAL.detalle_entrada' | translate}} {{ entradaEspecifica?.Consecutivo }}
  </mat-card-title>
  <mat-card-subtitle *ngIf="!(entradaEspecifica || updateEntrada)">
    {{'GLOBAL.mensaje_consulta_entrada' | translate}}
  </mat-card-subtitle>

  <mat-card-content>

    <!-- CARD PARA MOSTRAR LAS LISTA DE ENTRADAS -->

    <div class="container-tabla" *ngIf="mostrar">
      <ng2-smart-table [settings]="settings" [source]="source" (delete)="onDelete($event)" (edit)="onEdit($event)"
        (create)="onRegister($event)">
      </ng2-smart-table>
    </div>

    <div *ngIf="updateEntrada">
      <ngx-registro [EntradaId]="entradaId" [ActaParaEditar]="actaRecibidoId" (volver)="onVolver($event)">
      </ngx-registro>
    </div>

    <!-- CARD PARA MOSTRAR LOS DETALLES DE LAS SOLICITUDES -->

    <div *ngIf="entradaEspecifica">

      <mat-vertical-stepper #stepper>
        <mat-step label="{{'GLOBAL.info' | translate}}">
          <ngx-detalle-entrada [detalleEntrada]="entradaEspecifica"></ngx-detalle-entrada>
        </mat-step>
        <mat-step label="{{'GLOBAL.elementos_entrada' | translate}}">
          <ngx-gestionar-elementos [ActaRecibidoId]="actaRecibidoId" [Modo]="'ver'"></ngx-gestionar-elementos>
        </mat-step>
        <mat-step label="{{'GLOBAL.Comprobante_Contable.Titulo' | translate}}" *ngIf="trContable || transaccionContable">
          <ngx-comprobante *ngIf="trContable" [ajusteInfo]="trContable" [modo]="'get'"
            [consecutivo]="entradaEspecifica?.Consecutivo" [fecha]="trContable.fecha" [concepto]="trContable.concepto">
          </ngx-comprobante>
          <ngx-ver-comprobante *ngIf="transaccionContable" [consecutivo]="entradaEspecifica.Consecutivo"
            [transaccion]="transaccionContable"></ngx-ver-comprobante>
        </mat-step>
      </mat-vertical-stepper>

    </div>
  </mat-card-content>

  <mat-card-actions *ngIf="entradaEspecifica">
    <div *ngIf="movimiento?.EstadoMovimientoId?.Nombre === 'Entrada En Trámite' && modo === 'revision'"
      style="padding-bottom: 3rem;">
      <button mat-flat-button color="primary" class="float-left text-uppercase" (click)="confirmSubmit(false)" [disabled]="submitted">
        {{'GLOBAL.Acta_Recibido.VerificacionActa.Rechazar' | translate}}
      </button>
      <button mat-flat-button color="primary" class="float-right text-uppercase" (click)="confirmSubmit(true)" [disabled]="submitted">
        {{'GLOBAL.Acta_Recibido.VerificacionActa.Verificar' | translate}}
      </button>
    </div>
    <div>
      <button mat-flat-button color="primary" class="float-left text-uppercase" (click)="onVolver()">
        {{'GLOBAL.volver' | translate}}
      </button>
    </div>
  </mat-card-actions>

</mat-card>
