<mat-horizontal-stepper [linear]=true>

  <!-- OBSERVACIONES -->
  <mat-step [stepControl]="observacionForm" label="{{'GLOBAL.observaciones' | translate}}">
    <form [formGroup]="observacionForm" class="step-container">
      <h5>{{'GLOBAL.observaciones' | translate}}</h5>
      <div class="row">
        <div class="form-group  col-lg-12">
          <div class="input-group">
            <textarea rows="5" shape="semi-round" placeholder="{{'GLOBAL.observaciones' | translate}}"
              class="form-control" formControlName="observacionCtrl"></textarea>
          </div>
        </div>
      </div>
      <div class="boton-stepper-initial">
        <button mat-flat-button color="primary" matStepperNext (click)="onObservacionSubmit()">{{'GLOBAL.registrar_entrada' | translate}}</button>
      </div>
    </form>
  </mat-step>

</mat-horizontal-stepper>
