<mat-card>

  <mat-card-title>
    {{'GLOBAL.bajas.aprobar.title' | translate}}
  </mat-card-title>

  <mat-card-subtitle>
    {{'GLOBAL.bajas.aprobar.subtitle' | translate}}
  </mat-card-subtitle>
  <mat-card-content>
    <form [formGroup]="formResolucion">
      <div class="row">
        <div class="form-group col-sm">
          <mat-form-field appearance="outline">
            <mat-label>{{'GLOBAL.resolucion' | translate}}</mat-label>
            <input matInput formControlName="numero">
          </mat-form-field>
        </div>
        <div class="form-group col-sm">
          <mat-form-field appearance="outline">
            <mat-label>{{'GLOBAL.emisorResolucion' | translate}}</mat-label>
            <input matInput type="text" formControlName="dependencia" [matAutocomplete]="auto"
              placeholder="{{'GLOBAL.Errores.ErrorMinLength' | translate : {NUM : 4} }}">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="muestraDependencia">
              <mat-option *ngFor="let item of dependencias" [value]="item">
                {{item.Nombre}}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="formResolucion.get('dependencia').errors?.required">
              {{'GLOBAL.placeholder' | translate}}</mat-error>
            <mat-error *ngIf="formResolucion.get('dependencia').errors?.errorLongitudMinima">
              {{'GLOBAL.Errores.ErrorMinLength' | translate : {NUM : 4} }}</mat-error>
            <mat-error *ngIf="formResolucion.get('dependencia').errors?.dependenciaNoValido">
              {{'GLOBAL.Errores.ErrorDependencia' | translate}}</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group col-sm">
          <mat-form-field appearance="outline">
            <mat-label>{{'GLOBAL.bajas.consulta.fechaRevC' | translate}}</mat-label>
            <input matInput [matDatepicker]="fecha" readonly [max]="maxDate" formControlName="fecha">
            <mat-datepicker-toggle matSuffix [for]="fecha"></mat-datepicker-toggle>
            <mat-datepicker #fecha></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="primary" class="float-left text-uppercase"
       (click)="submitForm(true)">
      {{'GLOBAL.volver' | translate}}
    </button>
    <button mat-flat-button color="primary" class="float-right text-uppercase" [disabled]="!formResolucion.valid"
      (click)="submitForm(false)">
      {{'GLOBAL.bajas.aprobar.confDatos' | translate}}
    </button>
  </mat-card-actions>
</mat-card>
