<div class="row" [nbSpinner]="cargando">

  <mat-card class="col">
    <mat-card-title>
      {{'GLOBAL.catalogo.cuentas' | translate}}
    </mat-card-title>
    <mat-card-content>
      <header [nbSpinner]="!this.estado_cargado">
        <strong>{{'GLOBAL.estado' | translate}}:</strong>
        {{ texto_estado }}
        <button mat-stroked-button class="float-right" *ngIf="puede_editar"
          [disabled]="!this.estado_cargado" (click)="preguntaSesionAsignacionContable()">
          {{ texto_sesion_contable }}
        </button>
        <p *ngIf="modificando_cuentas && puede_editar"><em>{{'GLOBAL.instr_asig_cuentas' | translate}}</em></p>
      </header>
      <mat-select class="form-control mb-4" style="height: auto;" [(ngModel)]="catalogoId">
        <mat-option [value]="0">--{{ 'GLOBAL.seleccionar' | translate }}--</mat-option>
        <mat-option *ngFor="let sede of catalogos" [(value)]="sede.Id">{{sede.Nombre}}</mat-option>
      </mat-select>
      <ngx-arbol *ngIf="catalogoId > 0" [catalogoId]="catalogoId" (fila)="receiveMessage($event)">
      </ngx-arbol>
    </mat-card-content>
  </mat-card>

  <div class="col" *ngIf="uid_1 && claseOk">
    <mat-card>
      <mat-card-title>
        {{'GLOBAL.subgrupo.clase.seleccionado' | translate}}: {{ uid_1.Nombre }}
      </mat-card-title>
      <mat-card-subtitle>
        {{'GLOBAL.catalogo.noCuenta' | translate}}
      </mat-card-subtitle>
      <mat-card-content>
        <ngx-form-cuentas [escritura]="modificando_cuentas && puede_editar" [cuentasInfo]="infoCuentas"
          [cuentasNuevas]="cuentasNuevas" (cuentasPendientes)="setPendientes($event)" (valid)="setValidness($event)"></ngx-form-cuentas>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="primary" class="float-right text-uppercase" (click)="onSubmit()"
          [disabled]="!valid || !cuentasPendientes?.length" *ngIf="modificando_cuentas && puede_editar">
          {{'GLOBAL.Acta_Recibido.RegistroActa.GuardarCambiosButton' | translate}}
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
