<toaster-container [toasterconfig]="config"></toaster-container>
<nb-card [nbSpinner]="loading">
    <nb-card-header>
        <h2>{{'GLOBAL.reportes.entrada_titulo' | translate}}</h2>
    </nb-card-header>
    <nb-card-body class="reporte">
        <iframe [src]="url | safe"></iframe>
    </nb-card-body>
    <nb-card-footer>
        <button type="button" class="btn btn-primary" (click)="onRegister()">
            {{'GLOBAL.registrar_nueva_salida' | translate}}
        </button>
    </nb-card-footer>

</nb-card>
