<mat-card *ngIf="!(editarActa||verActa||validarActa)">
  <mat-card-title>{{'GLOBAL.Acta_Recibido.varias' | translate}}</mat-card-title>
  <mat-card-subtitle>
    <p><span class="fas fa-info-circle"></span>&nbsp;<em>{{ 'GLOBAL.Acta_Recibido.ConsultaActas.Instrucciones' | translate }}</em></p>
  </mat-card-subtitle>
  <mat-card-content [nbSpinner]="!mostrar">
    <div class="smart-table-container">
      <ng2-smart-table [settings]="settings" [source]="source" (delete)="onDelete($event)"
        (userRowSelect)="seleccionarActa($event)" (edit)="onEdit($event)" (create)="onCreate($event)">
      </ng2-smart-table>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2">
          <div class="row">
            <nb-select placeholder="Items por pagina" [(ngModel)]="SizePage" [(selected)]="SizePage" (selectedChange)="changeItemsPerPage()">
              <nb-option value="10">10</nb-option>
              <nb-option value="20">20</nb-option>
              <nb-option value="50">50</nb-option>
            </nb-select>
            <button mat-icon-button color="primary" (click) = previousPage() [disabled]="!prev">
              <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
            <button mat-icon-button color="primary" (click) = nextPage() [disabled]="!next">
              <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

  <!-- escritura -->
  <ngx-edicion-acta-recibido *ngIf="editarActa"
    [Id_Acta]="actaSeleccionada" (cambio)="recargar=true"></ngx-edicion-acta-recibido>

  <!-- "lectura" (+ checkboxes) -->
  <ngx-ver-acta-recibido *ngIf="validarActa"
    [Id_Acta]="actaSeleccionada" Modo="verificar"></ngx-ver-acta-recibido>

  <div *ngIf="actaSeleccionada !== ''">
    <button mat-flat-button color="primary" class="float-left text-uppercase" data-toggle="button" aria-pressed="false"
      autocomplete="off" (click)="onBack()">
      {{'GLOBAL.Acta_Recibido.VerificacionActa.Volver' | translate}}
    </button>
  </div>
