  <nb-card *ngIf="!(editarActa||verActa||validarActa)">
    <nb-card-header><h2>{{'GLOBAL.Acta_Recibido.varias' | translate}}</h2></nb-card-header>
    <nb-card-body [nbSpinner]="!mostrar">
      <em>{{'GLOBAL.Acta_Recibido.ConsultaActas.Instrucciones' | translate}}</em>
      <ng2-smart-table [settings]="settings" [source]="source" (delete)="onDelete($event)"
        (userRowSelect)="seleccionarActa($event)" (edit)="onEdit($event)" (create)="onCreate($event)">
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>

  <!-- lectura -->
  <ngx-ver-acta-recibido *ngIf="verActa"
    [Id_Acta]="actaSeleccionada" Modo="ver"></ngx-ver-acta-recibido>

  <!-- escritura -->
  <ngx-edicion-acta-recibido *ngIf="editarActa"
    [Id_Acta]="actaSeleccionada" (cambio)="recargar=true"></ngx-edicion-acta-recibido>

  <!-- "lectura" (+ checkboxes) -->
  <ngx-ver-acta-recibido *ngIf="validarActa"
    [Id_Acta]="actaSeleccionada" Modo="verificar"></ngx-ver-acta-recibido>

  <div class="justify-content-center float-right" *ngIf="actaSeleccionada !== ''">
    <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off"
      (click)="onBack()">
      {{'GLOBAL.Acta_Recibido.VerificacionActa.Volver' | translate}}
    </button>
  </div>
