<mat-card>
  <mat-card-title *ngIf="!(editarActa||verActa||validarActa)">{{'GLOBAL.Acta_Recibido.varias' | translate}}</mat-card-title>
  <mat-card-subtitle *ngIf="!(editarActa||verActa||validarActa)">
    <p><span class="fas fa-info-circle"></span>&nbsp;<em>{{ 'GLOBAL.Acta_Recibido.ConsultaActas.Instrucciones' | translate }}</em></p>
  </mat-card-subtitle>
  <mat-card-content [nbSpinner]="!mostrar">
    <div class="smart-table-container" [hidden]="(editarActa||verActa||validarActa)">
      <ng2-smart-table [settings]="settings" [source]="source" (delete)="onDelete($event)"
        (userRowSelect)="seleccionarActa($event)" (edit)="onEdit($event)" (create)="onCreate($event)"></ng2-smart-table>
    </div>
  </mat-card-content>

  <!-- escritura -->
  <ngx-edicion-acta-recibido *ngIf="editarActa"
  [Id_Acta]="actaSeleccionada" (cambio)="onBack(true)"></ngx-edicion-acta-recibido>

  <!-- "lectura" (+ checkboxes) -->
  <ngx-ver-acta-recibido *ngIf="validarActa" [Id_Acta]="actaSeleccionada" Modo="verificar"></ngx-ver-acta-recibido>

  <mat-card-actions *ngIf="actaSeleccionada !== ''">
    <button mat-flat-button color="primary" class="float-left text-uppercase" (click)="onBack(false)">
      {{'GLOBAL.Acta_Recibido.VerificacionActa.Volver' | translate}}
    </button>
  </mat-card-actions>
</mat-card>
