<div class="col-lg-12" *ngIf="form_apertura">
  <!-- <code>
    <pre>
      {{form_apertura.value | json}}
    </pre>
  </code> -->
  <form [formGroup]="form_apertura" #fform="ngForm">
    <div class="col-lg-12">
      <nb-card>
        <nb-card-header>
          <h1>Entrada de elementos a Kardex</h1>
        </nb-card-header>
        <nb-card-body>

          <!-- CARD PARA MOSTRAR LAS SOLICITUDES *ngIf="!detalle" -->
          <div class="form-group col-sm">
            <div class="form-group  col-lg-12">
              <label>{{'GLOBAL.Acta_Recibido.RegistroActa.Observaciones' | translate}}</label>
              <div class="input-group">
                <textarea rows="5" placeholder="{{'GLOBAL.Acta_Recibido.RegistroActa.Observaciones2' | translate}}"
                  class="form-control" formControlName="Observaciones" required></textarea>
              </div>
            </div>
          </div>
        </nb-card-body>
        <nb-card-footer>
          <button nbButton (click)="onSubmit()" [disabled]="!form_apertura.valid" class="float-right">Crear Registro</button>
        </nb-card-footer>
      </nb-card>
      <nb-card *ngIf="ElementoMovimiento">
        <nb-card-header>
          Planilla de Kardex
        </nb-card-header>
        <nb-card-body>
          <ngx-kardex *ngIf="ElementoMovimiento" [Entrada]="ElementoMovimiento">
          </ngx-kardex>
        </nb-card-body>
        <nb-card-footer>
          <button nbButton (click)="onSubmit2()" *ngIf="ElementoMovimiento" class="float-right">Confirmar Entrada de Kardex</button>
        </nb-card-footer>
      </nb-card>
    </div>
  </form>

</div>