  <form [formGroup]="form_apertura" #fform="ngForm" *ngIf="form_apertura">
      <nb-card>
        <nb-card-header>
          {{'GLOBAL.BodegaConsumo.Asignacion.Existente' | translate}}
        </nb-card-header>
        <nb-card-body [nbSpinner]="!cargaLista">
              <label>{{'GLOBAL.Detalle' | translate}}</label>
              <div class="input-group">
                <textarea rows="5" placeholder="{{'GLOBAL.BodegaConsumo.Asignacion.Placeholder' | translate}}"
                  class="form-control" formControlName="Observaciones"></textarea>
              </div>
        </nb-card-body>
        <nb-card-footer>
          <button nbButton (click)="onSubmit()" [disabled]="!form_apertura.valid" class="float-right">
            {{'GLOBAL.BodegaConsumo.Asignacion.BotonPreparar' | translate}}
          </button>
        </nb-card-footer>
      </nb-card>
      <nb-card *ngIf="ElementoMovimiento">
        <nb-card-header>
          {{'GLOBAL.BodegaConsumo.Asignacion.VistaPrevia' | translate}}
        </nb-card-header>
        <nb-card-body>
          <ngx-kardex *ngIf="ElementoMovimiento" [Entrada]="ElementoMovimiento">
          </ngx-kardex>
        </nb-card-body>
        <nb-card-footer>
          <button nbButton (click)="onSubmit2()" *ngIf="ElementoMovimiento" class="float-right">
            {{'GLOBAL.BodegaConsumo.Asignacion.BotonConfirmar' | translate}}
          </button>
        </nb-card-footer>
      </nb-card>
  </form>
