<form [formGroup]="form_apertura" #fform="ngForm" *ngIf="form_apertura">
  <mat-card>
    <mat-card-title>
      {{'GLOBAL.BodegaConsumo.Asignacion.Existente' | translate}}
    </mat-card-title>
    <mat-card-content [nbSpinner]="!cargaLista">
      <label>{{'GLOBAL.Detalle' | translate}}</label>
      <div class="input-group">
        <textarea rows="5" placeholder="{{'GLOBAL.BodegaConsumo.Asignacion.Placeholder' | translate}}"
          class="form-control" formControlName="Observaciones"></textarea>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" class="float-right text-uppercase" (click)="onSubmit()" [disabled]="!form_apertura.valid">
        {{ 'GLOBAL.BodegaConsumo.Asignacion.BotonPreparar' | translate }}
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-card *ngIf="ElementoMovimiento">
    <mat-card-title>
      {{'GLOBAL.BodegaConsumo.Asignacion.VistaPrevia' | translate}}
    </mat-card-title>
    <mat-card-content>
      <ngx-kardex *ngIf="ElementoMovimiento" [Entrada]="ElementoMovimiento">
      </ngx-kardex>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" class="float-right text-uppercase" (click)="onSubmit2()" *ngIf="ElementoMovimiento">
        {{ 'GLOBAL.BodegaConsumo.Asignacion.BotonConfirmar' | translate }}
      </button>
    </mat-card-actions>
  </mat-card>
</form>
