<mat-card>
    <mat-card-title>{{ 'GLOBAL.BodegaConsumo.Asignacion.Titulo' | translate }}</mat-card-title>
    <mat-card-content>
        <ngx-bodega-sin-asignar *ngIf="paso === 0" (DatosEnviados)="Asignar_Elemento_Bodega($event)">
        </ngx-bodega-sin-asignar>

        <mat-card *ngIf="paso === 1">
            <mat-card-content>
                <table>
                    <tr>
                        <th id="col-elemento-uno">{{ 'GLOBAL.Elemento.Uno' | translate }}</th>
                        <th id="col-marca">{{ 'GLOBAL.marca' | translate }}</th>
                        <th id="col-serie">{{ 'GLOBAL.serie' | translate }}</th>
                        <th id="col-nombre">{{ 'GLOBAL.subgrupo.clase.nombre' | translate }}</th>
                        <th id="col-cantidad">{{ 'GLOBAL.cantidad' | translate }}</th>
                    </tr>
                    <tr>
                        <td>{{ElementoSinAsignar.Nombre}}</td>
                        <td>{{ElementoSinAsignar.Marca}}</td>
                        <td>{{ElementoSinAsignar.Serie}}</td>
                        <td>{{ElementoSinAsignar.SubgrupoCatalogoId.Codigo + ' - ' +
                            ElementoSinAsignar.SubgrupoCatalogoId.Nombre}}</td>
                        <td>{{ElementoSinAsignar.SaldoCantidad}}</td>
                    </tr>
                </table>
            </mat-card-content>
        </mat-card>

        <ngx-relacion-catalogo *ngIf="paso === 1"
            [Subgrupo_Id]="ElementoSinAsignar.SubgrupoCatalogoId.Id"
            (DatosEnviados)="Asignar_Elemento_Catalogo($event)">
        </ngx-relacion-catalogo>

        <!-- "DUMMY CARD" MIENTRAS SE IDENTIFICA SI HAY QUE CREAR O ASIGNAR A KARDEX -->
        <mat-card *ngIf="paso === 2 && !modoKardexCargado" [nbSpinner]="!modoKardexCargado"><mat-card-content></mat-card-content></mat-card>

        <ngx-entrada-kardex [Elementos_K]="ElementosKardex" [Elemento_C]="ElementoCatalogo" [Elemento_B]="ElementoSinAsignar"
            *ngIf="paso === 2 && apertura !== undefined && !apertura" [nbSpinner]="!modoKardexCargado"
            (DatosEnviados)="Asignar_Elemento_Movimiento($event)"></ngx-entrada-kardex>

        <ngx-apertura-kardex [Elemento_C]="ElementoCatalogo" [Elemento_B]="ElementoSinAsignar"
            (DatosEnviados)="Asignar_Elemento_Movimiento($event)" [nbSpinner]="!modoKardexCargado"
            *ngIf="paso === 2 && apertura !== undefined && apertura">
        </ngx-apertura-kardex>
    </mat-card-content>
    <mat-card-actions *ngIf="paso > 0">
        <button mat-raised-button color="primary" class="float-left text-uppercase" data-dismiss="modal" (click)="onVolver()">
            {{'GLOBAL.volver' | translate}}
        </button>
    </mat-card-actions>
</mat-card>
