<form *ngIf="formCuentas" [formGroup]="formCuentas">
	<div formArrayName="movimientos" class="row">
		<div class="col-12" *ngFor="let cuentaMovimiento of movimientos.controls; let i = index" [formGroupName]="i">
			<fieldset class="mb-4">
				<legend>{{ getMovimientoNombre(cuentaMovimiento) }}</legend>

				<p>
					<strong>{{ 'GLOBAL.tipo_bien' | translate }}:</strong>
					{{ cuentaMovimiento?.value?.TipoBienId?.Nombre }}
				</p>

				<mat-form-field appearance="outline" class="form-group">
					<mat-label>{{ 'GLOBAL.Comprobante_Contable.Debito' | translate }}</mat-label>
					<input
						matInput
						type="text"
						formControlName="CuentaDebitoId"
						[matAutocomplete]="autoDb"
						placeholder="{{ 'GLOBAL.Errores.ErrorMinLength' | translate : { NUM : 4 } }}">
					<mat-autocomplete
						#autoDb="matAutocomplete"
						[displayWith]="muestraCuenta"
						(optionSelected)="onCuentaSelected(i, 'CuentaDebitoId')">
						<mat-option *ngFor="let cta of ctasFiltradas" [value]="cta">
							{{ muestraCuenta(cta) }}
						</mat-option>
					</mat-autocomplete>
					<mat-error *ngIf="cuentaMovimiento.get('CuentaDebitoId')?.errors?.required">
						* {{ 'GLOBAL.Errores.ErrorRequerido' | translate }}
					</mat-error>
					<mat-error *ngIf="cuentaMovimiento.get('CuentaDebitoId')?.errors?.errSelected">
						* {{ 'GLOBAL.Errores.ErrorCuenta' | translate }}
					</mat-error>
					<mat-error *ngIf="cuentaMovimiento.get('CuentaDebitoId')?.errors?.errMinLength">
						* {{ 'GLOBAL.Errores.ErrorMinLength' | translate : { NUM : 4 } }}
					</mat-error>
				</mat-form-field>

				<mat-form-field appearance="outline" class="form-group">
					<mat-label>{{ 'GLOBAL.Comprobante_Contable.Credito' | translate }}</mat-label>
					<input
						matInput
						type="text"
						formControlName="CuentaCreditoId"
						[matAutocomplete]="autoCr"
						placeholder="{{ 'GLOBAL.Errores.ErrorMinLength' | translate : { NUM : 4 } }}">
					<mat-autocomplete
						#autoCr="matAutocomplete"
						[displayWith]="muestraCuenta"
						(optionSelected)="onCuentaSelected(i, 'CuentaCreditoId')">
						<mat-option *ngFor="let cta of ctasFiltradas" [value]="cta">
							{{ muestraCuenta(cta) }}
						</mat-option>
					</mat-autocomplete>
					<mat-error *ngIf="cuentaMovimiento.get('CuentaCreditoId')?.errors?.required">
						* {{ 'GLOBAL.Errores.ErrorRequerido' | translate }}
					</mat-error>
					<mat-error *ngIf="cuentaMovimiento.get('CuentaCreditoId')?.errors?.errSelected">
						* {{ 'GLOBAL.Errores.ErrorCuenta' | translate }}
					</mat-error>
					<mat-error *ngIf="cuentaMovimiento.get('CuentaCreditoId')?.errors?.errMinLength">
						* {{ 'GLOBAL.Errores.ErrorMinLength' | translate : { NUM : 4 } }}
					</mat-error>
				</mat-form-field>
			</fieldset>
		</div>
	</div>
</form>
