<div class="col-lg-12">
  <nb-card>
    <nb-card-header>
      <h1>Asignacion de elementos a Kardex</h1>
    </nb-card-header>
    <nb-card-body>

      <!-- CARD PARA MOSTRAR LAS SOLICITUDES *ngIf="!detalle" -->
      <p class="h4 pb-4">Para iniciar la apertura o entrada de kardex inicia seleccionando un elemento sin asignar</p>

      <ng2-smart-table [settings]="settings" [source]="source" (custom)="onCustom($event)">
      </ng2-smart-table>
      <p></p>

    </nb-card-body>
    <nb-card-footer>
    </nb-card-footer>
  </nb-card>
</div>