<div class="row">
  <nb-card class="col">
    <nb-card-header>
      <h2>{{'GLOBAL.catalogo.uno' | translate}}</h2>
    </nb-card-header>
    <nb-card-body [nbSpinner]="cargando_catalogos">
        <select class="form-control mb-4" (change)="onChange($event.target.value)">
          <option disabled selected>{{'GLOBAL.seleccionar' | translate}}...</option>
          <option *ngFor="let item of catalogos" value="{{ item.Id }}">{{ item.Nombre }}</option>
        </select>
        <ngx-arbol *ngIf="catalogoId !== 0" [catalogoId]="catalogoId" [subgruposInactivos]=true (fila)="receiveMessage($event)" [updateSignal]="eventChange">
          <p>
            <span class="fas fa-info-circle"></span>&nbsp;
            <em>{{'GLOBAL.catalogo.constrInfo' | translate}}</em>
          </p>
        </ngx-arbol>
    </nb-card-body>
    <nb-card-footer *ngIf="catalogoId !== 0">
        <button nbButton class="float-right" (click)="AgregarGrupo()">{{'GLOBAL.subgrupo.grupo.agregar' | translate}}</button>
    </nb-card-footer>
  </nb-card>

  <div class="col" *ngIf="ver_formulario">
    <nb-card *ngIf="modificarGrupo">
      <nb-card-header>
        {{'GLOBAL.subgrupo.grupo.modificar' | translate}}
      </nb-card-header>
      <ngx-crud-grupo [catalogoId]="catalogoSeleccionado" [grupo]="grupoSeleccionado"
        (eventChange)="recargarCatalogo($event)"></ngx-crud-grupo>
      <nb-card-footer>
        <button nbButton (click)="QuitarVista()">{{'GLOBAL.Deshacer' | translate}}</button>
        <button nbButton class="float-right" (click)="AgregarSubgrupo(1)">{{'GLOBAL.subgrupo.segmento.agregar' |
          translate}}</button>
      </nb-card-footer>
    </nb-card>

    <nb-card *ngIf="uid_2">
      <nb-card-header>
        {{'GLOBAL.subgrupo.'+nivel_actual+'.modificar' | translate}}
      </nb-card-header>
      <ngx-crud-subgrupo [subgrupo_id]="uid_2" (eventChange)="recargarCatalogo($event)"></ngx-crud-subgrupo>
      <nb-card-footer>
            <button nbButton (click)="QuitarVista()">{{'GLOBAL.Deshacer' | translate}}</button>
          <button nbButton class="float-right" (click)="AgregarSubgrupo(1)" *ngIf="permitir_crear_subgrupo">{{'GLOBAL.subgrupo.'+nivel_hijo+'.agregar' | translate}}</button>
      </nb-card-footer>
    </nb-card>

    <nb-card *ngIf="uid_3">
      <nb-card-header>
        {{'GLOBAL.subgrupo.grupo.agregar' | translate}}
      </nb-card-header>
      <ngx-crud-grupo [catalogo_id]="catalogoId" (eventChange)="recargarCatalogo($event)"></ngx-crud-grupo>
      <nb-card-footer>
              <button nbButton (click)="QuitarVista()">{{'GLOBAL.Deshacer' | translate}}</button>
        </nb-card-footer>
    </nb-card>

    <nb-card *ngIf="uid_4">
      <nb-card-header>
        {{'GLOBAL.subgrupo.'+nivel_hijo+'.agregar' | translate}}
      </nb-card-header>
      <ngx-crud-subgrupo [subgrupo_Padre]="subgrupoPadre" (eventChange)="recargarCatalogo($event)"></ngx-crud-subgrupo>
      <nb-card-footer>
              <button nbButton (click)="QuitarVista()">{{'GLOBAL.Deshacer' | translate}}</button>
        </nb-card-footer>
    </nb-card>
  </div>
</div>
