.cell {
  height: 50px;
  width: 150px;
  text-align: left;
}

.cell-2 {
  height: 50px;
  width: 150px;
  text-align: right;
}

th,
td {
  width: 160px;
  text-align: right;
}

.mat-table-sticky {
  border-top: 1px solid #e0e0e0;
}

.soporte {
  float: none;
  text-align: center;
}

.mat-card-actions {
  padding-right: 40px !important;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome, Edge, Opera and Firefox */
}

mat-table {
  padding: 1rem 0;
  overflow-x: scroll;
}
