<mat-card *ngIf="!mostrar" [nbSpinner]="updating || !spinner">
  <mat-card-title>
    {{'GLOBAL.parametros.tiposBien.title' | translate}}
  </mat-card-title>
  <mat-card-content>
    <p class="h4 pb-4">{{'GLOBAL.parametros.tiposBien.subtitle' | translate}}</p>
    <ng2-smart-table [source]="source" [settings]="settings" (edit)="ActualizarTipoBien($event)"
      (create)="onRegister()">
    </ng2-smart-table>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="mostrar">
  <mat-card-title>
    {{'GLOBAL.parametros.tiposBien.registro_title' | translate}}
  </mat-card-title>
  <mat-card-content>
    <ngx-form-tipo-bien [tipoBienIn]="tipo_bien" (tipoBienOut)="handleForm($event)">
    </ngx-form-tipo-bien>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="primary" class="float-left text-uppercase" (click)="volver()">
      {{'GLOBAL.volver' | translate}}
    </button>
  </mat-card-actions>
</mat-card>
