<!-- <code>
  <pre>
    {{form_salida.value | json}}
  </pre>
</code> -->
<form [formGroup]="form_salida" #fform="ngForm" class="step-container">
  <nb-card (click)="onSubmit()" (keyup)="onSubmit()">
    <nb-card-header>
      Informacion de Solicitante
    </nb-card-header>
    <nb-card-body class="bla">
      <div class="form-group col-sm">
        <p></p>
        <div class="row">
          <div class="form-group col-sm">
            <label>Funcionario</label>
            <input type="text" placeholder="{{'GLOBAL.Acta_Recibido.RegistroActa.SeleccioneFiltro' | translate}}"
              Class="form-control" (input)="changeNombreProveedor($event)" value='{{proveedorfiltro}}'
              list="elementosList" formControlName="Funcionario" />
          </div>
          <datalist id="elementosList">
            <option value="seleccione un valor" selected disabled></option>
            <option *ngFor="let item of elementos" [(value)]="item.NombreCompleto"></option>
          </datalist>
        </div>
        <div class="row">
          <div class="form-group col-sm">
            <label>{{'GLOBAL.Acta_Recibido.RegistroActa.Sede' | translate}}</label>
            <select nbInput type="text" class="form-control" formControlName="Sede" required
              (click)="Traer_Relacion_Ubicaciones();">
              <option *ngFor="let sede of Sedes" [(value)]="sede.Id">{{sede.Nombre}}</option>
            </select>
            <!-- <p class="campo" *ngIf="firstForm.get('Formulario1').get('Sede').invalid">
                {{'GLOBAL.placeholder' | translate}}</p> -->
          </div>
          <div class="form-group col-sm">
            <label>{{'GLOBAL.Acta_Recibido.RegistroActa.Dependencia' | translate}}</label>
            <ng2-completer style="border: 0rem" inputClass="form-control" [clearUnselected]="true" nbInput
              [datasource]="dataService3" formControlName="Dependencia" [minSearchLength]="3"
              (change)="Traer_Relacion_Ubicaciones()"
              placeholder="{{'GLOBAL.Acta_Recibido.RegistroActa.SeleccioneFiltro' | translate}}">
            </ng2-completer>
            <!-- <p class="campo" *ngIf="firstForm.get('Formulario1').get('Dependencia').untouched">
                {{'GLOBAL.placeholder' | translate}}</p> -->
          </div>
          <div class="form-group col-sm">
            <label>{{'GLOBAL.Acta_Recibido.RegistroActa.Ubicacion' | translate}}</label>
            <select nbInput type="text" class="form-control" formControlName="Ubicacion">
              <option value=""></option>
              <option *ngFor="let ubicacion of Ubicaciones" [(value)]="ubicacion.Id">{{ubicacion.Nombre}}
              </option>
            </select>
            <!-- <p class="campo" *ngIf="firstForm.get('Formulario1').get('Ubicacion').invalid">
                {{'GLOBAL.placeholder' | translate}}</p> -->
          </div>
        </div>
      </div>
    </nb-card-body>
    <!-- <nb-card-footer>
      <button nbButton [disabled]="!form_salida.valid" (click)="verfificarProveedor()" class="float-right">Añadir
        Elemento</button>
    </nb-card-footer> -->
  </nb-card>
</form>