<mat-horizontal-stepper #stepper>

  <!-- DATOS GENERALES -->
  <mat-step [stepControl]="inicioForm" label="Datos Generales">
    <h5>Datos generales</h5>
    <form [formGroup]= "inicioForm" class="step-container">
      <div class="row">
        <div class="form-group col-sm">
          <label>Nombree del inmueble</label>
          <div class="input-group">
            <input nbInput type="text" shape="semi-round" placeholder="Inserte Nombre" class="form-control" 
            formControlName="inicioCtrl" required>
          </div>
        </div>
        <div class="form-group col-sm">
          <label>Dirección del inmueble</label>
          <div class="input-group">
            <input nbInput type="text" shape="semi-round" placeholder="Dirección" class="form-control" 
             required>
          </div>
        </div>

        <div class="form-group col-sm">
          <label>Clase Catalogo</label>
          <div class="input-group">
            <input nbInput type="text" shape="semi-round" placeholder="Clase" class="form-control" 
             required>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm">
          <label>Registro Catastro</label>
          <div class="input-group">
            <button nbButton type="button" (click)="fileInputDocumento.click();">
              <em class="fas fa-file-upload fa-2x"></em>
              <input #fileInputDocumento formControlName="inicioCtrl" type="file"
                style="display:none;" accept="application/pdf" data-max-size="5120" />
            </button>
          </div>
        </div>
      </div>
      <div class="boton-stepper-initial">
        <button mat-flat-button color="primary" matStepperNext>{{'GLOBAL.siguiente' | translate}}</button>
      </div>
    </form>
  </mat-step>

  <!-- PLANTA FISICA -->

  <mat-step [stepControl]="plantaForm" label="Normas de Ávaluo">
    <h5>Normas de Avalúo</h5>
    <form [formGroup]= "plantaForm" class="step-container">
      <div class="row">
        <div class="form-group col-sm">
          <label>Tipo de edificación</label>
          <div class="input-group">
            <input nbInput type="text" shape="semi-round" placeholder="Inserte Área" class="form-control" 
            formControlName="plantaCtrl" required>
          </div>
        </div>

        <div class="form-group col-sm">
          <label>Tipo de terreno o edificación</label>
          <div class="input-group">
            <input nbInput type="text" shape="semi-round" placeholder="Tipo de Edificacion" class="form-control" 
             required>
          </div>
        </div>

        <div class="form-group col-sm">
          <label>Tipo de terreno o edificación</label>
          <div class="input-group">
            <input nbInput type="text" shape="semi-round" placeholder="Tipo de Edificacion" class="form-control" 
             required>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="form-group col-sm">
          <label>Área(m2)</label>
          <div class="input-group">
            <input nbInput type="text" shape="semi-round" placeholder="Tipo de Edificacion" class="form-control" 
             required>
          </div>
        </div>

        <div class="form-group col-sm">
          <label>Planos del bien inmueble</label>
          <div class="input-group">
            <button nbButton type="button" (click)="fileInputDocumento.click();">
              <em class="fas fa-file-upload fa-2x"></em>
              <input #fileInputDocumento formControlName="plantaCtrl" type="file"
                style="display:none;" accept="application/pdf" data-max-size="5120" />
            </button>
          </div>
        </div>
        <div class="form-group col-sm"></div>
      </div>

      <div class="botones-stepper-middle">
        <button mat-flat-button color="primary" matStepperPrevious>{{'GLOBAL.anterior' | translate}}</button>
        <button mat-flat-button color="primary" matStepperNext>{{'GLOBAL.siguiente' | translate}}</button>
      </div>
    </form>
  </mat-step>

  <!-- CONTABILIZACION -->
  <mat-step [stepControl]="contabilidadForm" label="Contabilización">
    <h5>Contabilización</h5>
    <form [formGroup]= "contabilidadForm" class="step-container">
      <div class="row">
        <div class="form-group col-sm">
          <label>Número del comprobante</label>
          <div class="input-group">
            <input nbInput type="text" shape="semi-round" placeholder="Inserte Número" class="form-control" 
            formControlName="contabilidadCtrl" required>
          </div>
        </div>

        <div class="form-group col-sm">
          <label>Tipo del comprobante</label>
          <div class="input-group">
            <input nbInput type="text" shape="semi-round" placeholder="Inserte Tipo" class="form-control" 
             required>
          </div>
        </div>

        <div class="form-group col-sm">
          <label>Jerarquía del valor razonable($)</label>
          <div class="input-group">
            <input nbInput type="text" shape="semi-round" placeholder="Inserte Valor" class="form-control" 
            align="left" required>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="form-group col-sm">
          <label>Concepto</label>
          <div class="input-group">
            <input nbInput type="text" shape="semi-round" placeholder="Inserte Concepto" class="form-control" 
             required>
          </div>
        </div>
        <div class="form-group col-sm">
          <label>Consecutivo</label>
          <div class="input-group">
            <input nbInput type="text" shape="semi-round" placeholder="Inserte Consecutivo" class="form-control" 
             required>
          </div>
        </div>
        <div class="form-group col-sm">
          <label>Fecha de registro</label>
          <div class="input-group">
            <input matInput [matDatepicker]="picker"">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </div>
        </div>
      </div>
      <ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>

      <div class="botones-stepper-middle">
        <button mat-flat-button color="primary" matStepperPrevious>{{'GLOBAL.anterior' | translate}}</button>
        <button mat-flat-button color="primary" matStepperNext>{{'GLOBAL.siguiente' | translate}}</button>
      </div>
    </form>
  </mat-step>

  <!-- SOPORTE  -->
  <mat-step [stepControl]="soporteForm" label="Soporte">
    <h5>Soporte</h5>
    <form [formGroup]= "soporteForm" class="step-container">
      <div class="row">
        <div class="form-group col-sm">
          <label>Observaciones</label>
          <div class="input-group">
            <textarea rows="5" shape="semi-round" placeholder="{{'GLOBAL.observaciones' | translate}}"
              class="form-control" formControlName="soporteCtrl"></textarea>
          </div>
        </div>

        <div class="form-group col-sm">
          <label>Soporte</label>
          <div class="input-group">
            <button nbButton type="button" (click)="fileInputDocumento.click();">
              <em class="fas fa-file-upload fa-2x"></em>
              <input #fileInputDocumento formControlName="soporteCtrl" type="file"
                style="display:none;" accept="application/pdf" data-max-size="5120" />
            </button>
          </div>
        </div>


      </div>

      <div class="botones-stepper-middle">
        <button mat-flat-button color="primary" matStepperPrevious>{{'GLOBAL.anterior' | translate}}</button>
        <button mat-flat-button color="primary" matStepperNext (click)="onSubmit()">Registrar Bien Inmueble</button>
      </div>
    </form>
  </mat-step>  

</mat-horizontal-stepper>
