// @import url("https://pruebasassets.portaloas.udistrital.edu.co/gaia-style.css");

.bla {
    position: relative;
    z-index: 1;
}

.mat-card-actions {
    margin-top: -20px !important;
    margin-right: 15px !important;
    margin-bottom: 30px !important;
}

:host /deep/ mat-select {
    width: 90%;
  }

.label {
    display: flex;
}

:host /deep/ ng2-completer[formcontrolname="Dependencia"] .completer-dropdown {
    max-height: 200px !important;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  :host /deep/ ng2-completer[formcontrolname="Dependencia"] .completer-dropdown-holder {
    position: fixed;
  }

  :host /deep/ ng2-completer[formcontrolname="Dependencia"] {
    width: 90%;
  }
