.mat-card-actions {
    margin-top: -20px !important;
    margin-bottom: 30px !important;
}

mat-select {
   width: 90%;
}

.ubicacion {
    margin-left: 10%;
}

.formulario {
    width: 90%;
    margin-left: 15px;
}
