<div class="formulario">
  <form [formGroup]="form_salida" #fform="ngForm" class="step-container">
  <mat-card-content>
    <div>

      <p></p>

      <div class="row">
        <div class="form-group col-sm">
          <label>{{'GLOBAL.funcionario' | translate}}</label>
          <input type="text" placeholder="{{'GLOBAL.Acta_Recibido.RegistroActa.SeleccioneFiltro' | translate}}"
            class="form-control" (input)="changeNombreProveedor($event)" value='{{proveedorfiltro}}' list="elementosList"
            formControlName="Proveedor">
          <datalist id="elementosList">
            <option value="sleccione un valor" selected disabled></option>
            <option *ngFor="let item of elementos" value='{{ item }}'></option>
          </datalist>
          <p class="error-field" *ngIf="form_salida.get('Proveedor').invalid">
            {{'GLOBAL.Errores.ErrorRequerido' | translate}}</p>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm">
          <label class="label">{{'GLOBAL.Acta_Recibido.RegistroActa.Sede' | translate}}</label>
          <mat-select type="text" class="form-control" formControlName="Sede" style="margin-right: 10%;"
            (selectionChange)="Traer_Relacion_Ubicaciones();">
            <mat-option *ngFor="let sede of Sedes" [(value)]="sede.Id">{{sede.Nombre}}</mat-option>
          </mat-select>
          <p class="error-field" *ngIf="form_salida.get('Sede').invalid">
            {{'GLOBAL.Errores.ErrorRequerido' | translate}}</p>
        </div>

        <div class="form-group col-sm">
          <label class="label">{{'GLOBAL.Acta_Recibido.RegistroActa.Dependencia' | translate}}</label>
          <ng2-completer style="border: 0rem" inputClass="form-control" 
          (change)="Traer_Relacion_Ubicaciones()" [datasource]="dataService3"
          formControlName="Dependencia" [minSearchLength]="3"
            placeholder="{{'GLOBAL.Acta_Recibido.RegistroActa.SeleccioneFiltro' | translate}}">
          </ng2-completer>
          <p class="error-field" *ngIf="form_salida.get('Dependencia').invalid">
            {{'GLOBAL.Errores.ErrorRequerido' | translate}}</p>
        </div>
        <div class="form-group col-sm">
          <label class="ubicacion">{{'GLOBAL.Acta_Recibido.RegistroActa.Ubicacion' | translate}}</label>
          <mat-select type="text" class="form-control ubicacion" formControlName="Ubicacion">
            <mat-option *ngFor="let ubicacion of UbicacionesFiltradas" [(value)]="ubicacion.Id">{{ubicacion.Nombre}}</mat-option>
          </mat-select>
          <p class="error-field ubicacion" *ngIf="form_salida.get('Ubicacion').invalid">
            {{'GLOBAL.Errores.ErrorRequerido' | translate}}</p>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="primary" (click)="verfificarProveedor()"
      [disabled]="form_salida.get('Sede').invalid || form_salida.get('Dependencia').invalid || form_salida.get('Ubicacion').invalid  || form_salida.get('Proveedor').invalid"
      class="float-right">{{'GLOBAL.movimientos.asignar_funcionario' | translate}}</button>
  </mat-card-actions>
</form>
