// @import url("https://pruebasassets.portaloas.udistrital.edu.co/gaia-style.css");

.bla {
    position: relative;
    z-index: 1;
}

.mat-card-actions {
    margin-top: -20px !important;
    margin-right: 15px !important;
    margin-bottom: 30px !important;
}
