<form [formGroup]="form_salida" #fform="ngForm" class="step-container">
  <mat-card>
    <mat-card-content>
        <header *ngIf="Datos" class="row form-group"><table class="col-sm input-group">
          <tr><th id="col-nombre">{{'GLOBAL.Nombre' | translate}}:</th><td>{{ Datos.ElementoCatalogoId?.Nombre }}</td></tr>
          <tr><th id="col-descripcion">{{'GLOBAL.Descripcion' | translate}}:</th><td>{{ Datos.ElementoCatalogoId.Descripcion }}</td></tr>
          <tr><th id="col-cantidadmax">{{'GLOBAL.cantidadMax' | translate}}:</th><td>{{ Datos.SaldoCantidad }}</td></tr>
        </table></header>
        <div class="row">
          <div class="form-group col-sm">
            <label>{{'GLOBAL.cantidad' | translate}}</label>
            <div class="input-group">
              <input currencyMask [options]="{allowNegative: false, prefix: '',align: 'left', precision: 0}" nbInput type="text"
                placeholder="{{'GLOBAL.Acta_Recibido.CapturarElementos.CantidadHeader' | translate }}"
                formControlName="Cantidad" class="form-control">
            </div>
          </div>
          <div class="form-group col-sm">
            <label>{{'GLOBAL.Acta_Recibido.RegistroActa.Sede' | translate}}</label>
            <select nbInput type="text" class="form-control" formControlName="Sede" (change)="Traer_Relacion_Ubicaciones()">
              <option *ngFor="let sede of Sedes" [(value)]="sede.Id">{{sede.Nombre}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm">
            <label>{{'GLOBAL.Acta_Recibido.RegistroActa.Dependencia' | translate}}</label>
            <input matInput type="text" formControlName="Dependencia" class="form-control" style="height: auto;"
            placeholder="{{'GLOBAL.Errores.ErrorMinLength' | translate : {NUM : 4} }}" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="oikosHelper.muestraDependencia">
              <mat-option *ngFor="let item of dependencias" [value]="item">{{item.Nombre}}</mat-option>
            </mat-autocomplete>
          </div>
          <div class="form-group col-sm">
            <label>{{'GLOBAL.Acta_Recibido.RegistroActa.Ubicacion' | translate}}</label>
            <select nbInput type="text" class="form-control" formControlName="Ubicacion">
              <option *ngFor="let ubicacion of Ubicaciones" [value]="ubicacion.Id">{{ubicacion.EspacioFisicoId.Nombre}}
              </option>
            </select>
          </div>
        </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" class="float-right text-uppercase" [disabled]="!form_salida.valid" (click)="onSeleccionarElemento()">
        {{'GLOBAL.seleccionar' | translate}}</button>
    </mat-card-actions>
  </mat-card>
</form>
<mat-card>
  <mat-card-content>
    <div class="smart-table-container">
      <ng2-smart-table [settings]="settings2" [source]="source2" (custom)="onCustom($event)"></ng2-smart-table>
    </div>
  </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" class="float-right text-uppercase" *ngIf="detalle2" (click)="onSubmit()">
          {{'GLOBAL.enviarSolicitud' | translate}}</button>
    </mat-card-actions>
</mat-card>
