<form [formGroup]="form_salida" #fform="ngForm" class="step-container">
  <nb-card>
    <nb-card-body class="bla">
        <header *ngIf="Datos" class="row form-group"><table class="col-sm input-group">
          <tr><th id="col-nombre">{{'GLOBAL.Nombre' | translate}}:</th><td>{{ Datos.ElementoCatalogoId?.Nombre }}</td></tr>
          <tr><th id="col-descripcion">{{'GLOBAL.Descripcion' | translate}}:</th><td>{{ Datos.ElementoCatalogoId.Descripcion }}</td></tr>
          <tr><th id="col-cantidadmax">{{'GLOBAL.cantidadMax' | translate}}:</th><td>{{ Datos.SaldoCantidad }}</td></tr>
        </table></header>
        <div class="row">
          <div class="form-group col-sm">
            <label>{{'GLOBAL.cantidad' | translate}}</label>
            <div class="input-group">
              <input currencyMask [options]="{allowNegative: false, prefix: '',align: 'left', precision: 0}" nbInput type="text"
                placeholder="{{'GLOBAL.Acta_Recibido.CapturarElementos.CantidadHeader' | translate }}"
                formControlName="Cantidad" class="form-control">
            </div>
          </div>
          <div class="form-group col-sm">
            <label>{{'GLOBAL.Acta_Recibido.RegistroActa.Sede' | translate}}</label>
            <select nbInput type="text" class="form-control" formControlName="Sede" required
              (click)="Traer_Relacion_Ubicaciones();">
              <option *ngFor="let sede of Sedes" [(value)]="sede.Id">{{sede.Nombre}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm">
            <label>{{'GLOBAL.Acta_Recibido.RegistroActa.Dependencia' | translate}}</label>
            <ng2-completer style="border: 0rem" inputClass="form-control" [clearUnselected]="true" nbInput
              [datasource]="dataService3" formControlName="Dependencia" [minSearchLength]="3"
              (change)="Traer_Relacion_Ubicaciones()"
              placeholder="{{'GLOBAL.Acta_Recibido.RegistroActa.SeleccioneFiltro' | translate}}">
            </ng2-completer>
          </div>
          <div class="form-group col-sm">
            <label>{{'GLOBAL.Acta_Recibido.RegistroActa.Ubicacion' | translate}}</label>
            <select nbInput type="text" class="form-control" formControlName="Ubicacion"
              (click)="Traer_Relacion_Ubicaciones();" required>
              <option value=""></option>
              <option *ngFor="let ubicacion of Ubicaciones" [(value)]="ubicacion.Id">{{ubicacion.Nombre}}
              </option>
            </select>
          </div>
        </div>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton [disabled]="!form_salida.valid" (click)="onSeleccionarElemento()" class="float-right">{{'GLOBAL.seleccionar' | translate}}</button>
    </nb-card-footer>
  </nb-card>
</form>
<nb-card>
  <nb-card-body>
    <ng2-smart-table [settings]="settings2" [source]="source2" (custom)="onCustom($event)"></ng2-smart-table>
  </nb-card-body>
    <nb-card-footer>
        <button *ngIf="detalle2" nbButton (click)="onSubmit()" class="float-right">{{'GLOBAL.enviarSolicitud' | translate}}</button>
    </nb-card-footer>
</nb-card>
