  <nb-card>
    <nb-card-body [nbSpinner]="cargando">

      <!-- CARD PARA MOSTRAR LAS SOLICITUDES *ngIf="!detalle" -->
      <p>
        <span class="fas fa-info-circle"></span>&nbsp;
        <em>
          {{'GLOBAL.BodegaConsumo.Asignacion.Paso2_p1' | translate}}<br />
          {{'GLOBAL.BodegaConsumo.Asignacion.Paso2_p2' | translate}}
        </em>
      </p>

      <ng2-smart-table [settings]="settings" [source]="source" (custom)="onCustom($event)">
      </ng2-smart-table>

    </nb-card-body>
  </nb-card>
