<mat-card *ngIf="mostrar">
  <mat-card-title *ngIf="!modoCrud">
    {{ title }}
  </mat-card-title>

  <mat-card-subtitle *ngIf="!modoCrud">
    <p><span class="fas fa-info-circle"></span>&nbsp;<em>{{ subtitle }}</em></p>
  </mat-card-subtitle>

  <mat-card-content>
    <div class="smart-table-container">
      <ng2-smart-table *ngIf="!modoCrud" [settings]="settings" [source]="source" (create)="onRegister()"
        (edit)="onEdit($event)" (delete)="onDelete($event)">
      </ng2-smart-table>
    </div>
    <ngx-crud-traslado *ngIf="modoCrud" [modoCrud]="modoCrud" [trasladoId]="trasladoId" (accion)="actualizarVista()"></ngx-crud-traslado>
  </mat-card-content>

  <mat-card-actions *ngIf="modoCrud">
    <button mat-raised-button color="primary" class="float-left text-uppercase" (click)="volver()">
      {{'GLOBAL.volver' | translate}}</button>
  </mat-card-actions>
</mat-card>
