mat-table {
    overflow-x: scroll;
}

mat-paginator {
    display: flex;
    justify-content: center;
}

label {
    color: black;
}

.acciones {
    width: 50px;
    text-align: center;
}

th,
td,
input {
    height: 50px;
    width: 160px;
}

.botones {
    display: flex;
    justify-content: space-between;
}

button:focus {
    outline: none;
}
