mat-table {
    overflow-x: scroll;
}

input,
mat-select {
    height: auto;
}

label {
    color: black;
}

.acciones {
    width: 50px;
    text-align: center;
}

th,
td {
  width: 160px;
}

.tabla-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botones {
    display: flex;
    justify-content: space-between;
}

button:focus {
    outline: none;
}
