<!-- <code>
  <pre>
    {{Solicitud.Id | json}}
  </pre>
</code> -->

<div class="container" *ngIf="Solicitud">
  <div class="row">
      <div class="col">
          <p class="text-uppercase"><strong>{{'GLOBAL.consecutivo' | translate}}:</strong>
              {{Solicitud.Id}} </p>
      </div>
      <div class="col">
          <p class="text-uppercase"><strong>{{'GLOBAL.fecha_creacion' | translate}}:</strong>
              {{Solicitud.FechaCreacion}}
          </p>
      </div>
  </div>
  <div class="row">
      <div class="col">
          <p class="text-uppercase"><strong>{{'GLOBAL.solicitante' | translate}}:</strong>
              {{Solicitud.Funcionario.NombreCompleto}} </p>
      </div>
      <div class="col">
          <p class="text-uppercase"><strong>{{'GLOBAL.documento' | translate}}:</strong>
              {{Solicitud.Funcionario.Numero}}
          </p>
      </div>
  </div>
  <div class="row">
      <div class="col">
          <p class="text-uppercase"><strong>{{'GLOBAL.observaciones' | translate}}:</strong>
              {{Solicitud.Observacion}} </p>
      </div>
      <div class="col">
          <p class="text-uppercase"><strong>Estado:</strong>
              {{Solicitud.Estado.Nombre}} </p>
      </div>
  </div>
  
</div>
<ng2-smart-table [settings]="settings" [source]="source" (custom)="onCustom($event)">
</ng2-smart-table>

