<nb-card>
  <nb-card-header>
    <h2>{{'GLOBAL.Acta_Recibido.RegistroActa.Title' | translate}}</h2>
  </nb-card-header>
  <nb-card-body>
    <form *ngIf="firstForm" [formGroup]="firstForm" #fform="ngForm" class="step-container">
      <mat-vertical-stepper [linear]="true" #stepper>

        <!-- Datos iniciales -->
        <mat-step label="{{'GLOBAL.Acta_Recibido.RegistroActa.DatosTitle' | translate}}" formGroupName="Formulario1">
          <nb-card>
            <nb-card-body class="bla">

              <div class="row" *ngIf="tipoActa === 'regular'">
                <div class="form-group col-sm">
                  <div class="d-flex">
                    <label>{{'GLOBAL.Acta_Recibido.ContratistaAsignado' | translate}}</label>
                    <mat-spinner *ngIf="cargandoContratistas" [diameter]="spinnerSize"></mat-spinner>
                  </div>
                  <input matInput type="text" class="form-control"
                    placeholder="{{'GLOBAL.Errores.ErrorMinLength' | translate : {NUM : minLength} }}"
                    formControlName="Contratista" [matAutocomplete]="autoContratista">
                  <mat-autocomplete #autoContratista="matAutocomplete" [displayWith]="muestraContratista">
                    <mat-option *ngFor="let contr of Contratistas" [value]="contr">
                      {{muestraContratista(contr)}}
                    </mat-option>
                  </mat-autocomplete>
                  <p class="campo"
                    *ngIf="controlContratista.hasError('required')">
                    {{'GLOBAL.Errores.ErrorRequerido' | translate}}</p>
                  <p class="campo"
                    *ngIf="controlContratista.hasError('errorLongitudMinima')">
                    {{'GLOBAL.Errores.ErrorMinLength' | translate : {NUM : minLength} }}</p>
                  <p class="campo"
                    *ngIf="controlContratista.hasError('terceroNoValido')">
                    {{'GLOBAL.Errores.ErrorTercero' | translate}}</p>
                </div>
                <div class="form-group col-sm">
                  <div class="d-flex">
                    <label>{{'GLOBAL.Acta_Recibido.RegistroActa.unidadEjecutora' | translate}}</label>
                  </div>
                  <mat-select class="form-control" formControlName="UnidadEjecutora">
                    <mat-option *ngFor="let unidad of unidadesEjecutoras" [value]="unidad.Id">
                      {{unidad.Nombre}}
                    </mat-option>
                  </mat-select>
                  <p class="campo" *ngIf="controlUbicacion.invalid">
                    {{'GLOBAL.placeholder' | translate}}</p>
                </div>
                <div class="form-group col-sm">
                  <div class="d-flex">
                    <label>{{'GLOBAL.Acta_Recibido.RegistroActa.Proveedor' | translate}}</label>
                    <mat-spinner *ngIf="cargandoProveedores" class="loading" [diameter]="spinnerSize"></mat-spinner>
                  </div>
                  <input matInput type="text" class="form-control"
                    placeholder="{{'GLOBAL.Errores.ErrorMinLength' | translate : {NUM : minLength} }}"
                    formControlName="Proveedor" [matAutocomplete]="autoProveedor">
                  <mat-autocomplete #autoProveedor="matAutocomplete" [displayWith]="muestraProveedor">
                    <mat-option *ngFor="let prov of Proveedores" [value]="prov">
                      {{muestraProveedor(prov)}}
                    </mat-option>
                  </mat-autocomplete>
                  <p class="campo"
                    *ngIf="controlProveedor.hasError('required') ">
                    {{'GLOBAL.Errores.ErrorRequerido' | translate}}</p>
                  <p class="campo"
                    *ngIf="controlProveedor.hasError('errorLongitudMinima')">
                    {{'GLOBAL.Errores.ErrorMinLength' | translate : {NUM : minLength} }}</p>
                  <p class="campo"
                    *ngIf="controlProveedor.hasError('terceroNoValido')">
                    {{'GLOBAL.Errores.ErrorTercero' | translate}}</p>
                </div>
              </div>

              <div class="row">
                <div class="form-group col-sm" *ngIf="tipoActa === 'especial'">
                  <div class="d-flex">
                    <label>{{'GLOBAL.Acta_Recibido.RegistroActa.unidadEjecutora' | translate}}</label>
                  </div>
                  <mat-select class="form-control" formControlName="UnidadEjecutora">
                    <mat-option *ngFor="let unidad of unidadesEjecutoras" [value]="unidad.Id">
                      {{unidad.Nombre}}
                    </mat-option>
                  </mat-select>
                  <p class="campo" *ngIf="controlUbicacion.invalid">
                    {{'GLOBAL.placeholder' | translate}}</p>
                </div>
                <div class="form-group col-sm">
                  <label>{{'GLOBAL.Acta_Recibido.RegistroActa.Sede' | translate}}</label>
                  <mat-select class="form-control" formControlName="Sede">
                    <mat-option *ngFor="let sede of Sedes" [value]="sede.Id">{{sede.Nombre}}</mat-option>
                  </mat-select>
                  <p class="campo" *ngIf="controlSede.invalid">
                    {{'GLOBAL.placeholder' | translate}}</p>
                </div>
                <div class="form-group col-sm">
                  <label>{{'GLOBAL.Acta_Recibido.EdicionActa.Dependencia' | translate}}</label>
                  <input matInput type="text" formControlName="Dependencia" class="form-control" style="height: auto;"
                    placeholder="{{'GLOBAL.Errores.ErrorMinLength' | translate : {NUM : 4} }}" [matAutocomplete]="auto">
                  <mat-autocomplete #auto="matAutocomplete" [displayWith]="oikosHelper.muestraDependencia">
                    <mat-option *ngFor="let item of dependencias" [value]="item">{{item.Nombre}}</mat-option>
                  </mat-autocomplete>
                  <p class="error-field" *ngIf="controlDependencia?.errors?.required">
                    {{'GLOBAL.placeholder' | translate}}</p>
                  <p class="error-field" *ngIf="controlDependencia?.errors?.errorLongitudMinima">
                    {{'GLOBAL.Errores.ErrorMinLength' | translate : {NUM : 4} }}</p>
                  <p class="error-field" *ngIf="controlDependencia?.errors?.dependenciaNoValido">
                    {{'GLOBAL.Errores.ErrorDependencia' | translate}}</p>
                </div>
                <div class="form-group col-sm">
                  <label>{{'GLOBAL.Acta_Recibido.RegistroActa.Ubicacion' | translate}}</label>
                  <mat-select class="form-control" formControlName="Ubicacion">
                    <mat-option *ngFor="let ubicacion of Ubicaciones" [value]="ubicacion.Id">
                      {{ubicacion.EspacioFisicoId.Nombre}}
                    </mat-option>
                  </mat-select>
                  <p class="campo" *ngIf="controlUbicacion.invalid">
                    {{'GLOBAL.placeholder' | translate}}</p>
                </div>
              </div>

            </nb-card-body>
            <nb-card-footer>
              <button nbButton matStepperNext class="float-right" [disabled]="controlDatosBasicos.invalid">
                {{'GLOBAL.Acta_Recibido.RegistroActa.SiguienteButton' | translate}}</button>
            </nb-card-footer>
          </nb-card>
        </mat-step>

        <!-- Soportes -->
        <mat-step label="{{'GLOBAL.Acta_Recibido.RegistroActa.SoporteTitle' | translate}}" formArrayName="Formulario2">
          <nb-card [nbSpinner]="cargarTab">
            <nb-card-body style="padding-bottom: 0">
              <mat-tab-group [(selectedIndex)]="selectedTab" animationDuration="200ms" (selectedIndexChange)="addTab($event)"
                (animationDone)="tab()">

                <!-- cada soporte -->
                <mat-tab *ngFor="let soporte of controlSoportes.controls; let i = index" [formGroupName]="i">
                  <ng-template mat-tab-label>
                    {{'GLOBAL.Acta_Recibido.RegistroActa.SoporteSubTitle' | translate}} &nbsp; {{i + 1}} &nbsp; &nbsp;
                    &nbsp; &nbsp;<em class="fas fa-window-close" (click)="removeTab(i)"
                      *ngIf="controlSoportes.value.length > 1"></em>
                  </ng-template>
                  <div>

                    <!-- Datos básicos del Soporte -->
                    <nb-card>
                      <nb-card-body>
                        <div class="row">
                          <div class="col" *ngIf="tipoActa === 'regular'">
                            <div class="form-group col-sm">
                              <label>{{'GLOBAL.Acta_Recibido.RegistroActa.Consecutivo' | translate}}</label>
                              <div class="input-group">
                                <input nbInput type="text"
                                  placeholder="{{'GLOBAL.Acta_Recibido.RegistroActa.SeleccioneFiltro' | translate}}"
                                  class="form-control" formControlName="Consecutivo">
                              </div>
                            </div>
                            <div class="form-group col-sm">
                              <label>{{'GLOBAL.Acta_Recibido.RegistroActa.FechaSoporte' | translate}}</label>
                              <div class="input-group">
                                <mat-form-field appearance="outline">
                                  <input matInput [matDatepicker]="fecha" [min]="minDate" [max]="maxDate"
                                    formControlName="FechaSoporte">
                                  <mat-datepicker-toggle matSuffix [for]="fecha"></mat-datepicker-toggle>
                                  <mat-datepicker #fecha></mat-datepicker>
                                  <mat-error>* {{'GLOBAL.Errores.ErrorFecha' | translate}}</mat-error>
                                </mat-form-field>
                              </div>
                            </div>
                          </div>

                          <div class="col">
                            <div class="form-group col-sm">
                              <label>{{'GLOBAL.Acta_Recibido.RegistroActa.Soporte' | translate}}</label>
                              <nb-card>
                                <nb-card-body>
                                  <div class="col-sm soporte">
                                    <div>
                                      <button nbButton type="button" [disabled]="fileDocumento[i]"
                                        (click)="fileInputDocumento.click();">
                                        <em class="fas fa-file-upload fa-2x"></em>
                                        <input #fileInputDocumento type="file" (change)="onInputFileDocumento($event, i)"
                                         style="display:none;" accept="application/pdf">
                                      </button>
                                    </div>
                                    <p></p>
                                    <p *ngIf="fileDocumento[i]">{{fileDocumento[i].name}}</p>
                                    <p *ngIf="!fileDocumento[i]">
                                      {{'GLOBAL.Acta_Recibido.CapturarElementos.ValidadorPlaceholder' | translate: {EXT:
                                      'pdf'} }}
                                    </p>
                                    <p *ngIf="!fileDocumento[i]">
                                      {{'GLOBAL.Acta_Recibido.RegistroActa.SizeSoporte' | translate: {SIZE: sizeSoporte} }}
                                    </p>
                                    <div>
                                      <button nbButton type="button" *ngIf="fileDocumento[i]" target="_blank"
                                        (click)="download(i)">
                                        {{'GLOBAL.Acta_Recibido.Ver' | translate}}
                                      </button>
                                    </div>
                                    <p></p>
                                    <div>
                                      <button type="button" *ngIf="fileDocumento[i]" class="btn btn-primary"
                                        (click)="clearFile(i)">
                                        {{'GLOBAL.Acta_Recibido.CapturarElementos.LimpiarEspacioButton' | translate }}
                                      </button>
                                      <p class="campo" *ngIf="soporte.get('Soporte').invalid">
                                        {{'GLOBAL.Errores.ErrorRequerido' | translate}}</p>
                                    </div>
                                  </div>
                                </nb-card-body>
                              </nb-card>
                            </div>
                          </div>

                        </div>
                      </nb-card-body>
                    </nb-card>

                  </div>
                </mat-tab>
                <mat-tab>
                  <ng-template mat-tab-label>
                    <em class="fas fa-plus-square fa-2x"  style="color: #991c1a;"></em>
                  </ng-template>
                  <div>
                    <nb-card>
                      <nb-card-body>
                        <div class="row">
                          <div class="col" *ngIf="tipoActa === 'regular'">
                            <div class="form-group col-sm">
                              <label>{{'GLOBAL.Acta_Recibido.RegistroActa.Consecutivo' | translate}}</label>
                              <div class="input-group">
                                <input nbInput type="text"
                                  placeholder="{{'GLOBAL.Acta_Recibido.RegistroActa.SeleccioneFiltro' | translate}}"
                                  class="form-control">
                              </div>
                            </div>
                            <div class="form-group col-sm">
                              <label>{{'GLOBAL.Acta_Recibido.RegistroActa.FechaSoporte' | translate}}</label>
                              <div class="input-group">
                                <input nbInput placeholder="{{'GLOBAL.Acta_Recibido.RegistroActa.FechaFiltro' | translate}}"
                                  class="form-control" [nbDatepicker]="formpicker">
                                <nb-datepicker #formpicker>
                                </nb-datepicker>
                              </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-group col-sm">
                              <label>{{'GLOBAL.Acta_Recibido.RegistroActa.Soporte' | translate}}</label>
                              <nb-card>
                                <nb-card-body>
                                  <div class="col-sm soporte">
                                    <div>
                                      <button nbButton type="button" (click)="fileInputDocumento.click();">
                                        <em class="fas fa-file-upload fa-2x"></em>
                                        <input #fileInputDocumento type="file" style="display:none;" accept="application/pdf"
                                          data-max-size="5120">
                                      </button>
                                    </div>
                                    <p></p>
                                    <p></p>
                                    <p>
                                      {{'GLOBAL.Acta_Recibido.CapturarElementos.ValidadorPlaceholder' | translate: {EXT:
                                      'pdf'} }}
                                    </p>
                                    <div>
                                      <p class="campo">{{'GLOBAL.Errores.ErrorRequerido' | translate}}</p>
                                    </div>
                                    <p></p>
                                  </div>
                                </nb-card-body>
                              </nb-card>
                            </div>
                          </div>
                        </div>
                      </nb-card-body>
                    </nb-card>
                  </div>
                </mat-tab>
              </mat-tab-group>
            </nb-card-body>

            <nb-card-footer style="padding-top: 0">
              <div class="justify-content-center">
                <button nbButton matStepperPrevious>
                  {{'GLOBAL.Acta_Recibido.RegistroActa.AnteriorButton' | translate}}
                </button>
                <button nbButton *ngIf="tipoActa === 'regular'" (click)="Revisar_Totales()"
                  [disabled]="controlDatosBasicos.invalid || controlSoportes.invalid" class="float-right">
                  {{'GLOBAL.Acta_Recibido.RegistroActa.BotonRegistro' | translate}}
                </button>
                <button nbButton matStepperNext *ngIf="tipoActa === 'especial'" class="float-right"
                  [disabled]="controlDatosBasicos.invalid || controlSoportes.invalid">
                  {{'GLOBAL.Acta_Recibido.RegistroActa.SiguienteButton' | translate}}
                </button>
              </div>
            </nb-card-footer>
          </nb-card>
        </mat-step>

        <!-- Elementos asociados al Soporte -->
        <mat-step *ngIf="tipoActa === 'especial'" label="{{'GLOBAL.Acta_Recibido.RegistroActa.ElementosTitle' | translate}}">
          <nb-card>
            <ngx-gestionar-elementos [Modo]="'agregar'" (DatosTotales)="eventoTotales($event)"
              (DatosEnviados)="eventoListaElementos($event)" (ElementosValidos)="setElementosValidos($event)">
            </ngx-gestionar-elementos>
            <nb-card-footer>
              <div class="justify-content-center">
                <button nbButton matStepperPrevious>
                  {{'GLOBAL.Acta_Recibido.RegistroActa.AnteriorButton' | translate}}
                </button>
                <button nbButton matStepperNext class="float-right"
                  [disabled]="controlDatosBasicos.invalid || controlSoportes.invalid || !DatosElementos || DatosElementos.length === 0 || !validarElementos">
                  {{'GLOBAL.Acta_Recibido.RegistroActa.SiguienteButton' | translate}}
                </button>
              </div>
            </nb-card-footer>
          </nb-card>
        </mat-step>

        <!-- Resumen, Validación, Envío, Guardar -->
        <mat-step *ngIf="tipoActa === 'especial'" label="{{'GLOBAL.Acta_Recibido.RegistroActa.DatosAdicionales' | translate}}" formGroupName="Formulario3">
          <nb-card>
            <nb-card-body>
              <div class="form-group  col-lg-12" *ngIf="totales && DatosElementos && DatosElementos.length > 1">
                <label>{{'GLOBAL.Acta_Recibido.RegistroActa.Consolidado' | translate}}</label>
                <table class="consolidado">
                  <tr>
                    <th id="c1" class="cell-3">{{'GLOBAL.Acta_Recibido.RegistroActa.Subtotal' | translate}}</th>
                    <td class="cell-3">{{totales.Subtotal | currency}}</td>
                  </tr>
                  <tr>
                    <th id="c3" class="cell-3">{{'GLOBAL.Acta_Recibido.RegistroActa.ValorIva' | translate}}</th>
                    <td class="cell-3">{{totales.ValorIva | currency}}</td>
                  </tr>
                  <tr>
                    <th id="c4" class="cell-3">{{'GLOBAL.Acta_Recibido.RegistroActa.Total' | translate}}</th>
                    <td class="cell-3">{{totales.ValorTotal | currency}}</td>
                  </tr>
                </table>
              </div>

              <div class="form-group  col-lg-12">
                <label>{{'GLOBAL.Acta_Recibido.RegistroActa.Observaciones' | translate}}</label>
                <div class="input-group">
                  <textarea rows="5" placeholder="{{'GLOBAL.Acta_Recibido.RegistroActa.Observaciones2' | translate}}"
                    class="form-control" formControlName="Datos_Adicionales">
                  </textarea>
                </div>
                <p class="campo" *ngIf="controlDatosAdicionales.invalid">
                  {{'GLOBAL.placeholder' | translate}}</p>
              </div>
            </nb-card-body>
            <nb-card-footer>
              <button nbButton matStepperPrevious>{{'GLOBAL.Acta_Recibido.RegistroActa.AnteriorButton' |
                translate}}</button>
            </nb-card-footer>
          </nb-card>
          <div class="botones">
            <button mat-icon-button type="button" *ngIf="errores && errores.size > 0" [nbPopover]="erroresTemplate"
              nbPopoverTrigger="hover">
              <span class="fas fa-exclamation-triangle fa-2x"></span>
            </button>
            <button nbButton matStepperNext (click)="Revisar_Totales()" [disabled]="errores && errores.size > 0">
              {{'GLOBAL.Acta_Recibido.RegistroActa.BotonRegistro' | translate}}
            </button>
          </div>

        </mat-step>

      </mat-vertical-stepper>
    </form>
  </nb-card-body>
</nb-card>

<ng-template #erroresTemplate>
  <nb-card>
    <nb-card-body>
      {{ 'GLOBAL.Acta_Recibido.Errores.Mensaje' | translate }}
      <ul>
        <li *ngIf="errores.get('terceros')">{{ 'GLOBAL.Acta_Recibido.Errores.Terceros' | translate }}</li>
        <li *ngIf="errores.get('formularios')">{{ 'GLOBAL.Acta_Recibido.Errores.Formularios' | translate }}</li>
        <li *ngIf="errores.get('clases')">{{ 'GLOBAL.Acta_Recibido.Errores.Clases' | translate }}</li>
      </ul>
    </nb-card-body>
  </nb-card>
</ng-template>
