<div class="col-lg-12">
  <nb-card>
    <nb-card-header>
      <h1>{{'GLOBAL.registrar_entrada' | translate}}</h1>
    </nb-card-header>
    <nb-card-body [nbSpinner]="!mostrar">

      <p class="h4 pb-4" *ngIf="actaSeleccionada === ''">{{'GLOBAL.mensaje_registrar_entrada' | translate}}</p>

      <ng2-smart-table [settings]="settings" [source]="source" (custom)="onCustom($event)"
        *ngIf="actaSeleccionada === ''"></ng2-smart-table>

      <p class="h4 pb-4" *ngIf="actaSeleccionada != ''">{{'GLOBAL.mensaje_seleccionar_entrada' | translate}}</p>

      <h5 *ngIf="actaSeleccionada != ''">{{'GLOBAL.tipo_entrada' | translate}}</h5>

      <select class="form-control mb-4" [(ngModel)]="opcionEntrada" *ngIf="actaSeleccionada != '' || EntradaEdit" >
        <option *ngFor="let entrada of tiposDeEntradas" [value]="entrada">
          {{ 'GLOBAL.movimientos.tipo.'+entrada+'.nombre' | translate }}
        </option>
      </select>

      <h3 *ngIf="opcionEntrada" class="pt-4 pb-2">{{'GLOBAL.movimientos.tipo.' + opcionEntrada + '.descripcion' | translate}}</h3>
      <p *ngIf="opcionEntrada" class="font-weight-bold font-italic pb-2">{{ 'GLOBAL.Acta_Recibido.id_forma1' | translate : {ID: actaSeleccionada} }}</p>

      <ngx-adquisicion *ngIf="opcionEntrada === 'EA'" [actaRecibidoId]="actaSeleccionada"></ngx-adquisicion>
      <ngx-reposicion *ngIf="opcionEntrada === 'EPR'" [actaRecibidoId]="actaSeleccionada"></ngx-reposicion>
      <ngx-elaboracion-propia *ngIf="opcionEntrada === 'EEP'" [actaRecibidoId]="actaSeleccionada" [movimientoId]="movimientoId">
      </ngx-elaboracion-propia>
      <ngx-donacion *ngIf="opcionEntrada === 'ED'" [actaRecibidoId]="actaSeleccionada" [movimientoId]="movimientoId"></ngx-donacion>
      <ngx-aprovechamientos *ngIf="opcionEntrada === 'EPPA'" [actaRecibidoId]="actaSeleccionada" [movimientoId]="movimientoId"></ngx-aprovechamientos>
      <ngx-sobrante *ngIf="opcionEntrada === 'ESI'" [actaRecibidoId]="actaSeleccionada" [movimientoId]="movimientoId">
      </ngx-sobrante>
      <ngx-extranjero *ngIf="opcionEntrada === 'ECE'" [actaRecibidoId]="actaSeleccionada" [movimientoId]="movimientoId"></ngx-extranjero>
      <ngx-terceros *ngIf="opcionEntrada === 'ET'" [actaRecibidoId]="actaSeleccionada" [movimientoId]="movimientoId"></ngx-terceros>
      <ngx-caja-menor *ngIf="opcionEntrada === 'ECM'" [actaRecibidoId]="actaSeleccionada" [movimientoId]="movimientoId"></ngx-caja-menor>
      <ngx-adiciones-mejoras *ngIf="opcionEntrada === 'EAM'" [actaRecibidoId]="actaSeleccionada" [movimientoId]="movimientoId"></ngx-adiciones-mejoras>
      <ngx-intangibles-adquiridos *ngIf="opcionEntrada === 'EIA'" [actaRecibidoId]="actaSeleccionada" [movimientoId]="movimientoId"></ngx-intangibles-adquiridos>
      <ngx-provisional *ngIf="opcionEntrada === 'EBEMP'" [actaRecibidoId]="actaSeleccionada" [movimientoId]="movimientoId"></ngx-provisional>
      <ngx-intangibles-desarrollados *ngIf="opcionEntrada === 'EID'" [actaRecibidoId]="actaSeleccionada" [movimientoId]="movimientoId"></ngx-intangibles-desarrollados>

      <ngx-tabla-entradas *ngIf="opcionEntrada" [actaRecibidoId]="actaSeleccionada"></ngx-tabla-entradas>

    </nb-card-body>
  </nb-card>
</div>
