<div class="col-lg-12">
  <nb-card>
    <nb-card-header>
      <h1>{{title}}</h1>
    </nb-card-header>
    <nb-card-body [nbSpinner]="!mostrar">

      <p class="h4 pb-4" *ngIf="actaSeleccionada === ''">{{'GLOBAL.mensaje_registrar_entrada' | translate}}</p>

      <ng2-smart-table [settings]="settings" [source]="source" (custom)="onCustom($event)"
        *ngIf="actaSeleccionada === ''"></ng2-smart-table>

      <div *ngIf="!opcionEntrada && actaSeleccionada">
        <p class="h4 pb-4">{{'GLOBAL.mensaje_seleccionar_entrada' | translate}}</p>
        <h5>{{'GLOBAL.tipo_entrada' | translate}}</h5>
        <mat-select class="form-control mb-4" style="height: auto;" [(ngModel)]="opcionEntrada">
          <mat-option value="">--{{ 'GLOBAL.seleccionar' | translate }}--</mat-option>
          <mat-option *ngFor="let entrada of tiposDeEntradas" [value]="entrada.CodigoAbreviacion">
            {{ 'GLOBAL.movimientos.tipo.'+entrada.CodigoAbreviacion+'.nombre' | translate }}
          </mat-option>
        </mat-select>
      </div>

      <div *ngIf="opcionEntrada" [ngSwitch]="opcionEntrada">
        <h3 class="pt-4 pb-2">{{'GLOBAL.movimientos.tipo.' + opcionEntrada + '.descripcion' | translate}}</h3>
        <p class="font-weight-bold font-italic pb-2">
          {{ 'GLOBAL.Acta_Recibido.id_forma1' | translate : {ID: actaSeleccionada} }}</p>

        <ngx-adquisicion *ngSwitchCase="'ENT_ADQ'" [actaRecibidoId]="actaSeleccionada"
          [entradaId]="movimientoId" (data)="onSubmit($event)"></ngx-adquisicion>
        <ngx-reposicion *ngIf="opcionEntrada === 'ENT_RP'" [actaRecibidoId]="actaSeleccionada"
          [entradaId]="movimientoId"></ngx-reposicion>
        <ngx-donacion *ngIf="opcionEntrada === 'ENT_DN'" [actaRecibidoId]="actaSeleccionada"
          [entradaId]="movimientoId"></ngx-donacion>
        <ngx-aprovechamientos *ngIf="opcionEntrada === 'ENT_PPA'" [actaRecibidoId]="actaSeleccionada"
          [entradaId]="movimientoId"></ngx-aprovechamientos>
        <ngx-sobrante *ngIf="opcionEntrada === 'ENT_SI'" [actaRecibidoId]="actaSeleccionada"
          [entradaId]="movimientoId"></ngx-sobrante>
        <ngx-extranjero *ngIf="opcionEntrada === 'ENT_CE'" [actaRecibidoId]="actaSeleccionada"
          [entradaId]="movimientoId"></ngx-extranjero>
        <ngx-terceros *ngIf="opcionEntrada === 'ENT_TR'" [actaRecibidoId]="actaSeleccionada"
          [entradaId]="movimientoId"></ngx-terceros>
        <ngx-provisional *ngIf="opcionEntrada === 'ENT_BEP'" [actaRecibidoId]="actaSeleccionada"
          [entradaId]="movimientoId"></ngx-provisional>
        <ngx-elaboracion-propia *ngIf="opcionEntrada === 'ENT_EP'" [actaRecibidoId]="actaSeleccionada"
          [entradaId]="movimientoId"></ngx-elaboracion-propia>
        <ngx-caja-menor *ngIf="opcionEntrada === 'ENT_CM'" [actaRecibidoId]="actaSeleccionada"
          [entradaId]="movimientoId"></ngx-caja-menor>
        <ngx-adiciones-mejoras *ngIf="opcionEntrada === 'ENT_AM'" [actaRecibidoId]="actaSeleccionada"
          [entradaId]="movimientoId"></ngx-adiciones-mejoras>
        <ngx-intangibles-adquiridos *ngIf="opcionEntrada === 'ENT_IA'" [actaRecibidoId]="actaSeleccionada"
          [entradaId]="movimientoId"></ngx-intangibles-adquiridos>
        <ngx-intangibles-desarrollados *ngIf="opcionEntrada === 'ENT_ID'" [actaRecibidoId]="actaSeleccionada"
          [entradaId]="movimientoId"></ngx-intangibles-desarrollados>
      </div>

    </nb-card-body>
    <!-- <ngx-gestionar-elementos style="padding-top: 1rem;" *ngIf="opcionEntrada" [ActaRecibidoId]="actaSeleccionada" [Modo]="'ver'"></ngx-gestionar-elementos> -->
    <mat-card-actions style="padding-left: 1rem;">
      <button mat-flat-button color="primary" class="float-left text-uppercase" (click)="onVolver()">
        {{'GLOBAL.volver' | translate}}
      </button>
    </mat-card-actions>
  </nb-card>
</div>
