<div class="col-lg-12">
  <nb-card>
    <nb-card-header>
      <h1>{{'GLOBAL.registrar_entrada' | translate}}</h1>
    </nb-card-header>
    <nb-card-body>

      <p class="h4 pb-4" *ngIf="actaSeleccionada === ''">{{'GLOBAL.mensaje_registrar_entrada' | translate}}</p>

      <ng2-smart-table [settings]="settings" [source]="source" (custom)="onCustom($event)"
        *ngIf="actaSeleccionada === ''"></ng2-smart-table>

      <p class="h4 pb-4" *ngIf="actaSeleccionada != ''">{{'GLOBAL.mensaje_seleccionar_entrada' | translate}}</p>

      <h5 *ngIf="actaSeleccionada != ''">{{'GLOBAL.tipo_entrada' | translate}}</h5>

      <select class="form-control mb-4" [(ngModel)]="opcionEntrada" *ngIf="actaSeleccionada != ''">
        <option value="EA">Adquisición</option>
        <option value="EPR">Reposición</option>
        <option value="EEP">Elaboración Propia</option>
        <option value="ED">Donación</option>
        <option value="ESI">Sobrante de Inventario</option>
        <option value="ET">Terceros</option>
        <option value="ECM">Caja Menor</option>
      </select>

      <ngx-adquisicion *ngIf="opcionEntrada === 'EA'" [actaRecibidoId]="actaSeleccionada"></ngx-adquisicion>
      <ngx-reposicion *ngIf="opcionEntrada === 'EPR'" [actaRecibidoId]="actaSeleccionada"></ngx-reposicion>
      <ngx-elaboracion-propia *ngIf="opcionEntrada === 'EEP'" [actaRecibidoId]="actaSeleccionada">
      </ngx-elaboracion-propia>
      <ngx-donacion *ngIf="opcionEntrada === 'ED'" [actaRecibidoId]="actaSeleccionada"></ngx-donacion>
      <ngx-sobrante *ngIf="opcionEntrada === 'ESI'" [actaRecibidoId]="actaSeleccionada">
      </ngx-sobrante>
      <ngx-terceros *ngIf="opcionEntrada === 'ET'" [actaRecibidoId]="actaSeleccionada"></ngx-terceros>
      <ngx-caja-menor *ngIf="opcionEntrada === 'ECM'" [actaRecibidoId]="actaSeleccionada"></ngx-caja-menor>

    </nb-card-body>
  </nb-card>
</div>