<mat-card *ngIf="mostrar">
  <mat-card-title *ngIf="!modoCrud">
    {{ title }}
  </mat-card-title>

  <mat-card-subtitle *ngIf="!modoCrud">
    {{ subtitle }}
  </mat-card-subtitle>

  <mat-card-content>
    <ng2-smart-table *ngIf="!modoCrud" [settings]="settings" [source]="source" (create)="onRegister()"
      (edit)="onEdit($event)" (delete)="onDelete($event)">
    </ng2-smart-table>
    <ngx-crud-ajuste *ngIf="modoCrud" [modoCrud]="modoCrud" [ajusteId]="ajusteId" (accion)="actualizarVista()"></ngx-crud-ajuste>
  </mat-card-content>

  <mat-card-actions *ngIf="modoCrud">
    <button mat-raised-button color="primary" class="float-left text-uppercase" (click)="volver()">
      {{'GLOBAL.volver' | translate}}</button>
  </mat-card-actions>
</mat-card>
