<p>
Despliegue Comprobante:
</p>
<p>Activo: {{transaccion.Activo}}</p>
<p>Consecutivo Id: {{transaccion.ConsecutivoId}}</p>
<p>Descripcion: {{transaccion.Descripcion}}</p>
<p>Etiquetas: {{transaccion.Etiquetas}}</p>
<p>Fecha Transacción: {{transaccion.FechaTransaccion}}</p>
<table>
	<th>Tercero Id</th>
	<th>Cuenta Id</th>
	<th>Nombre Cuenta</th>
	<th>Tipo Movimiento</th>
	<th>Valor</th>
	<tr *ngFor="let mvto of transaccion.movimientos">
    <td>{{mvto.TerceroId}}</td>
    <td>{{mvto.CuentaId}}</td>
    <td>{{mvto.NombreCuenta}}</td>
    <td>{{mvto.TipoMovimientoId}}</td>
    <td>{{mvto.Valor}}</td>
	</tr> 
</table>
