<nb-stepper #stepper orientation= "horizontal">

  <!-- DATOS GENERALES -->
  <nb-step [stepControl]="inicioForm" label="Datos Generales">
    <h5>Datos generales</h5>
    <form [formGroup]= "inicioForm" class="step-container">
      <div class="row">
        <div class="form-group col-sm">
          <label>Área construida(m2)</label>
          <div class="input-group">
            <input nbInput type="text" shape="semi-round" placeholder="Inserte Área" class="form-control" 
            formControlName="inicioCtrl" required>
          </div>
        </div>
        <div class="form-group col-sm">
          <label>Fecha de registro</label>
          <div class="input-group">
            <input nbInput shape="semi-round" placeholder="{{'GLOBAL.placeholder_fecha' | translate}}"
               class="form-control" [nbDatepicker]="formpicker" required>
            <nb-datepicker  #formpicker></nb-datepicker>
          </div>
        </div>
        <div class="form-group col-sm">
          <label>Encargado</label>
          <div class="input-group">
            <input nbInput type="text" shape="semi-round" placeholder="Nombre Encargado" class="form-control" 
             required>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm">
          <label>Edad del inmueble(años)</label>
          <div class="input-group">
            <input nbInput type="text" shape="semi-round" placeholder="Inserte Edad" class="form-control" 
             required>
          </div>
        </div>
        <div class="form-group col-sm">
          <label>Valor comercial($)</label>
          <div class="input-group">
            <input nbInput type="text" shape="semi-round" placeholder="Inserte Valor" class="form-control" 
             required>
          </div>
        </div>
        <div class="form-group col-sm">
        </div>
      </div>
      <div class="row float-right">
        <button type="button"  nbButton nbStepperNext>
          {{'GLOBAL.siguiente' | translate}}</button>
      </div>
    </form>
  </nb-step>

  <!-- NORMAS DE AVALUO -->

  <nb-step [stepControl]="normasForm" label="Normas de Ávaluo">
    <h5>Normas de Avalúo</h5>
    <form [formGroup]= "normasForm" class="step-container">
      <div class="row">
        <div class="form-group col-sm">
          <label>Vida útil técnica sugerida(años)</label>
          <div class="input-group">
            <input nbInput type="text" shape="semi-round" placeholder="Inserte Área" class="form-control" 
            formControlName="normasCtrl" required>
          </div>
        </div>

        <div class="form-group col-sm">
          <label>Vida útil remanente(años)</label>
          <div class="input-group">
            <input nbInput type="text" shape="semi-round" placeholder="Nombre Encargado" class="form-control" 
             required>
          </div>
        </div>
      </div>
      <div class="col">
        <button nbButton nbStepperPrevious>{{'GLOBAL.anterior' | translate}}</button>
      </div>
      <div class="col" align="end">
        <button type="button"  nbButton nbStepperNext>{{'GLOBAL.siguiente' | translate}}</button>
      </div>
    </form>
  </nb-step>

  <!-- PROPUESTA DEL TERCERO -->
  <nb-step [stepControl]="propuestaForm" label="Propuesta del tercero">
    <h5>Propuesta del tercero</h5>
    <form [formGroup]= "propuestaForm" class="step-container">
      <div class="row">
        <div class="form-group col-sm">
          <label>Vida útil contable propuesta (años)</label>
          <div class="input-group">
            <input nbInput type="text" shape="semi-round" placeholder="Inserte Años" class="form-control" 
            formControlName="propuestaCtrl" required>
          </div>
        </div>

        <div class="form-group col-sm">
          <label>Vida útil remanente(años)</label>
          <div class="input-group">
            <input nbInput type="text" shape="semi-round" placeholder="Inserte Años" class="form-control" 
             required>
          </div>
        </div>

        <div class="form-group col-sm">
          <label>Valor Residual($)</label>
          <div class="input-group">
            <input nbInput type="text" shape="semi-round" placeholder="Inserte Valor" class="form-control" 
             required>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm">
          <label>Jerarquía del valor razonable($)</label>
          <div class="input-group">
            <input nbInput type="text" shape="semi-round" placeholder="Inserte Valor" class="form-control" 
            align="left" required>
          </div>
        </div>
        <div class="form-group col-sm"></div>
        <div class="form-group col-sm"></div>
      </div>


      <div class="col">
        <button nbButton nbStepperPrevious>{{'GLOBAL.anterior' | translate}}</button>
      </div>
      <div class="col" align="end">
        <button type="button"  nbButton nbStepperNext>{{'GLOBAL.siguiente' | translate}}</button>
      </div>
    </form>
  </nb-step>
  <!-- CONTABILIZACION -->
  <nb-step [stepControl]="contabilidadForm" label="Contabilización">
    <h5>Contabilización</h5>
    <form [formGroup]= "contabilidadForm" class="step-container">
      <div class="row">
        <div class="form-group col-sm">
          <label>Número del comprobante</label>
          <div class="input-group">
            <input nbInput type="text" shape="semi-round" placeholder="Inserte Número" class="form-control" 
            formControlName="contabilidadCtrl" required>
          </div>
        </div>

        <div class="form-group col-sm">
          <label>Tipo del comprobante</label>
          <div class="input-group">
            <input nbInput type="text" shape="semi-round" placeholder="Inserte Tipo" class="form-control" 
             required>
          </div>
        </div>

        <div class="form-group col-sm">
          <label>Jerarquía del valor razonable($)</label>
          <div class="input-group">
            <input nbInput type="text" shape="semi-round" placeholder="Inserte Valor" class="form-control" 
            align="left" required>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="form-group col-sm">
          <label>Concepto</label>
          <div class="input-group">
            <input nbInput type="text" shape="semi-round" placeholder="Inserte Concepto" class="form-control" 
             required>
          </div>
        </div>
        <div class="form-group col-sm">
          <label>Consecutivo</label>
          <div class="input-group">
            <input nbInput type="text" shape="semi-round" placeholder="Inserte Consecutivo" class="form-control" 
             required>
          </div>
        </div>
        <div class="form-group col-sm"></div>
      </div>
      <ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>

      <div class="col">
        <button nbButton nbStepperPrevious>{{'GLOBAL.anterior' | translate}}</button>
      </div>
      <div class="col" align="end">
        <button type="button"  nbButton nbStepperNext>{{'GLOBAL.siguiente' | translate}}</button>
      </div>
    </form>
  </nb-step>

  <!-- SOPORTE  -->
  <nb-step [stepControl]="soporteForm" label="Soporte">
    <h5>Soporte</h5>
    <form [formGroup]= "contabilidadForm" class="step-container">
      <div class="row">
        <div class="form-group col-sm">
          <label>Observaciones</label>
          <div class="input-group">
            <textarea rows="5" shape="semi-round" placeholder="{{'GLOBAL.observaciones' | translate}}"
              class="form-control" formControlName="soporteCtrl"></textarea>
          </div>
        </div>

        <div class="form-group col-sm">
          <label>Soporte</label>
          <div class="input-group">
            <button nbButton type="button" (click)="fileInputDocumento.click();">
              <i class="fas fa-file-upload fa-2x"></i>
              <input #fileInputDocumento formControlName="soporteCtrl" type="file"
                style="display:none;" accept="application/pdf" data-max-size="5120" />
            </button>
          </div>
        </div>


      </div>

      <div class="col">
        <button nbButton nbStepperPrevious>{{'GLOBAL.anterior' | translate}}</button>
      </div>
      <div class="col" align="end">
        <button type="button"  nbButton nbStepperNext>{{'GLOBAL.siguiente' | translate}}</button>
      </div>
    </form>
  </nb-step>  

  
</nb-stepper>