  <nb-card>
    <nb-card-header>
      <h2>{{ 'GLOBAL.BodegaConsumo.Solicitud.Titulo' | translate}}</h2>
    </nb-card-header>
    <nb-card-body [nbSpinner]="!mostrar">

      <!-- CARD PARA MOSTRAR LAS SOLICITUDES -->
      <nb-card><nb-card-body>
      <p><span class="fas fa-info-circle"></span>&nbsp;<em>{{ 'GLOBAL.BodegaConsumo.Solicitud.Ayuda' | translate }}</em></p>
      <ng2-smart-table [settings]="settings" [source]="source" (custom)="onCustom($event)">
      </ng2-smart-table>
      </nb-card-body></nb-card>

      <ngx-form-elementos-seleccionados *ngIf="DatosEnviados" [Datos]="DatosEnviados">
      </ngx-form-elementos-seleccionados>
    </nb-card-body>
  </nb-card>
