<mat-card>
  <mat-card-title>
    {{ 'GLOBAL.BodegaConsumo.Solicitud.Titulo' | translate}}
  </mat-card-title>

  <mat-card-content [nbSpinner]="!mostrar">

    <mat-card>
      <mat-card-subtitle>
        <p><span class="fas fa-info-circle"></span>&nbsp;<em>{{ 'GLOBAL.BodegaConsumo.Solicitud.Ayuda' | translate }}</em></p>
      </mat-card-subtitle>
      <mat-card-content>
        <ng2-smart-table [settings]="settings" [source]="source" (custom)="onCustom($event)">
        </ng2-smart-table>
      </mat-card-content>
    </mat-card>

    <ngx-form-elementos-seleccionados *ngIf="DatosEnviados" [Datos]="DatosEnviados">
    </ngx-form-elementos-seleccionados>
  </mat-card-content>
</mat-card>
