<mat-card-title>
  {{ title }}
</mat-card-title>
<mat-card-subtitle>
  {{ subtitle }}
</mat-card-subtitle>
<mat-card-content>
  <ngx-form-traslado *ngIf="showForm" (valid)="setValidness($event)" [(trasladoInfo)]="trasladoData" [modo]="modoForm">
  </ngx-form-traslado>
</mat-card-content>
<mat-card-actions>
  <div class="justify-content-center" style="padding-bottom: 3rem;">
    <button mat-flat-button color="primary" class="float-left text-uppercase" *ngIf="modoCrud === 'revisar'"
      [disabled]="!valid" (click)="confirm(true)">
      Rechazar
    </button>
    <button mat-flat-button color="primary" class="float-right text-uppercase" [disabled]="!valid" (click)="confirm(false)"
      *ngIf="modoCrud !== 'ver'">
      {{ boton }}
    </button>
  </div>
</mat-card-actions>