<mat-horizontal-stepper [linear]=true>

  <!-- Elementos que se van a aprovechar -->
  <mat-step [stepControl]="elementosForm.get('elementos')" label="{{'GLOBAL.elementos' | translate}}">
    <h5>{{'GLOBAL.movimientos.entradas.elementosAprovechamientos' | translate}}</h5>

    <form [formGroup]="elementosForm">
      <mat-table #table [dataSource]="dataSource" formArrayName="elementos" matSort>
        <ng-container matColumnDef="acciones">
          <th id="col-acciones" mat-header-cell *matHeaderCellDef class="acciones">
            <button mat-icon-button color="primary" [disabled]="modo === 'get'" (click)="addElemento()"
              matTooltip="{{'GLOBAL.Acta_Recibido.CapturarElementos.AgregarElemento' | translate }}">
              <mat-icon>add_box</mat-icon>
            </button>
          </th>
          <td mat-cell *matCellDef="let element; let rowIndex = index" class="acciones">
            <button mat-icon-button color="secondary" [disabled]="modo === 'get'" (click)="removeElemento(rowIndex)"
              matTooltip="{{'GLOBAL.Acta_Recibido.CapturarElementos.EliminarElemento' | translate }}">
              <mat-icon>delete_outline</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="placa">
          <th id="placa" mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'GLOBAL.Placa' | translate }}
          </th>
          <td mat-cell *matCellDef="let element; let rowIndex = index" [formGroupName]="getActualIndex(rowIndex)">
            <input type="text" formControlName="Placa" class="form-control"
              placeholder="{{'GLOBAL.Errores.ErrorMinLength' | translate : {NUM : 4} }}" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="common.muestraPlaca"
              (optionSelected)="getDetalleElemento(getActualIndex(rowIndex))">
              <mat-option *ngFor="let item of elementos" [value]="item">
                {{item.Placa}}
              </mat-option>
            </mat-autocomplete>
          </td>
        </ng-container>

        <ng-container matColumnDef="entrada">
          <th id="entrada" mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'GLOBAL.Entrada' | translate }}
          </th>
          <td mat-cell *matCellDef="let element; let rowIndex = index" [formGroupName]="getActualIndex(rowIndex)">
            <input type="text" class="form-control" formControlName="entrada"
              placeholder="{{'GLOBAL.Entrada' | translate }}">
          </td>
        </ng-container>

        <ng-container matColumnDef="fechaEntrada">
          <th id="entrada" mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'GLOBAL.Entrada' | translate }}
          </th>
          <td mat-cell *matCellDef="let element; let rowIndex = index" [formGroupName]="getActualIndex(rowIndex)">
            <input type="text" class="form-control" formControlName="fechaEntrada"
              placeholder="{{'GLOBAL.Entrada' | translate }}">
          </td>
        </ng-container>

        <ng-container matColumnDef="salida">
          <th id="salida" mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'GLOBAL.Salida' | translate }}
          </th>
          <td mat-cell *matCellDef="let element; let rowIndex = index" [formGroupName]="getActualIndex(rowIndex)">
            <input type="text" class="form-control" formControlName="salida"
              placeholder="{{'GLOBAL.Salida' | translate }}">
          </td>
        </ng-container>

        <ng-container matColumnDef="fechaSalida">
          <th id="entrada" mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'GLOBAL.Entrada' | translate }}
          </th>
          <td mat-cell *matCellDef="let element; let rowIndex = index" [formGroupName]="getActualIndex(rowIndex)">
            <input type="text" class="form-control" formControlName="fechaSalida"
              placeholder="{{'GLOBAL.Entrada' | translate }}">
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </mat-table>
      <mat-paginator #paginator [pageSizeOptions]="[10, 25, 50]"></mat-paginator>

      <div class="boton-stepper-initial">
        <button mat-flat-button color="primary" matStepperNext>
          {{'GLOBAL.siguiente' | translate}}
        </button>
      </div>
    </form>
  </mat-step>

  <!-- SUPERVISOR -->
  <mat-step [stepControl]="supervisorForm" label="{{'GLOBAL.supervisor' | translate}}">
    <h5>{{'GLOBAL.supervisor' | translate}}</h5>
    <form [formGroup]="supervisorForm" class="step-container">
    <div class="row" [nbSpinner]="cargando_supervisores">
      <div class="form-group col-sm">
        <label>{{'GLOBAL.nombres' | translate}}</label>
        <div class="input-group">
          <input matInput type="text" class="form-control" placeholder="Nombre Completo"
          formControlName="supervisorCtrl" [matAutocomplete]="autoSupervisor"/>
          <mat-autocomplete #autoSupervisor="matAutocomplete" [displayWith]="muestraSupervisor">
            <mat-option *ngFor="let super of supervisoresFiltrados | async" [value]="super">
              {{super.Nombre}}
            </mat-option>
          </mat-autocomplete>
        </div>
      </div>
      <div class="form-group col-sm">
        <label>{{'GLOBAL.sede' | translate}}</label>
        <div class="input-group">
          <output defaultValue="Sede" class="form-control" [value]="datosSupervisor('sede') + '&nbsp;'"></output>
        </div>
      </div>
      <div class="form-group col-sm">
        <label>{{'GLOBAL.dependencia' | translate}}</label>
        <div class="input-group">
          <output defaultValue="Dependencia" class="form-control" value="{{dependenciaSupervisor}}"></output>
        </div>
      </div>
    </div>
    <div class="botones-stepper-middle">
      <button mat-flat-button color="primary" matStepperPrevious>{{'GLOBAL.anterior' | translate}}</button>
      <button mat-flat-button color="primary" matStepperNext>{{'GLOBAL.siguiente' | translate}}</button>
    </div>
    </form>
  </mat-step>

  <!-- OBSERVACIONES -->
  <mat-step [stepControl]="observacionForm" label="{{'GLOBAL.observaciones' | translate}}">
    <form [formGroup]="observacionForm" class="step-container">
      <h5>{{'GLOBAL.observaciones' | translate}}</h5>
      <div class="row">
        <div class="form-group  col-lg-12">
          <div class="input-group">
            <textarea rows="5" shape="semi-round" placeholder="{{'GLOBAL.observaciones' | translate}}"
              class="form-control" formControlName="observacionCtrl"></textarea>
          </div>
        </div>
      </div>
      <div class="botones-stepper-middle">
        <button mat-flat-button color="primary" matStepperPrevious>{{'GLOBAL.anterior' | translate}}</button>
        <button mat-flat-button color="primary" matStepperNext (click)="onObservacionSubmit()">{{'GLOBAL.registrar_entrada' | translate}}</button>
      </div>
    </form>
  </mat-step>

</mat-horizontal-stepper>
