<mat-card>
  <mat-card-title>
    {{'GLOBAL.consultar_catalogo' | translate}}
  </mat-card-title>
  <mat-card-subtitle>
    {{'GLOBAL.catalogo.uno' | translate}}
  </mat-card-subtitle>
  <mat-card-content>

    <div [nbSpinner]="cargando_catalogos">
    <select class="form-control mb-4" (change)="onChange($event.target.value)">
      <option disabled selected>{{'GLOBAL.seleccionar' | translate}}...</option>
      <option *ngFor="let item of catalogos" value="{{ item.Id }}">{{ item.Nombre }}</option>
    </select>
    </div>

    <ngx-arbol *ngIf="catalogoId !== 0" [catalogoId]="catalogoId" [acciones]=true></ngx-arbol>

  </mat-card-content>
</mat-card>
