<nb-card>
  <nb-card-header>{{'GLOBAL.Acta_Recibido.RegistroActa.Title' | translate}}</nb-card-header>
  <nb-card-body [nbSpinner]="Registrando || !firstForm">
    <form [formGroup]="firstForm" #fform="ngForm" class="step-container" *ngIf="firstForm">
        <mat-vertical-stepper [linear]="true" #stepper>

          <mat-step label="{{'GLOBAL.Acta_Recibido.RegistroActa.DatosTitle' | translate}}" formGroupName="Formulario1">
            <nb-card [nbSpinner]="!Sedes || !Dependencias">
              <nb-card-body class="bla">
                <div class="row" (click)="usarLocalStorage()">
                  <div class="form-group col-sm">
                    <label>{{'GLOBAL.Acta_Recibido.RegistroActa.Sede' | translate}}</label>
                    <select nbInput type="text" class="form-control" formControlName="Sede"
                      (click)="usarLocalStorage(); Traer_Relacion_Ubicaciones();" required>
                      <option *ngFor="let sede of Sedes" [(value)]="sede.Id">{{sede.Nombre}}</option>
                    </select>
                    <p class="campo" *ngIf="firstForm.get('Formulario1').get('Sede').invalid">
                      {{'GLOBAL.placeholder' | translate}}</p>
                  </div>
                  <div class="form-group col-sm">
                    <label id="lbl-dependencia">{{'GLOBAL.Acta_Recibido.RegistroActa.Dependencia' | translate}}</label>
                    <ng2-completer style="border: 0rem" inputClass="form-control" nbInput
                      (keyup)="usarLocalStorage(); Traer_Relacion_Ubicaciones;" [datasource]="dataService3"
                      formControlName="Dependencia" [minSearchLength]="2"
                      (change)="usarLocalStorage(); Traer_Relacion_Ubicaciones();"
                      placeholder="{{'GLOBAL.Acta_Recibido.RegistroActa.SeleccioneFiltro' | translate}}">
                    </ng2-completer>
                    <p class="campo" *ngIf="firstForm.get('Formulario1').get('Dependencia').invalid">
                      {{'GLOBAL.placeholder' | translate}}</p>
                  </div>
                  <div class="form-group col-sm">
                    <label>{{'GLOBAL.Acta_Recibido.RegistroActa.Ubicacion' | translate}}</label>
                    <select nbInput type="text" class="form-control" formControlName="Ubicacion"
                      (click)="usarLocalStorage(); Traer_Relacion_Ubicaciones();" required>
                      <option value=""></option>
                      <option *ngFor="let ubicacion of UbicacionesForm" [(value)]="ubicacion.Id">{{ubicacion.Nombre}}
                      </option>
                    </select>
                    <p class="campo" *ngIf="firstForm.get('Formulario1').get('Ubicacion').invalid">
                      {{'GLOBAL.placeholder' | translate}}</p>
                  </div>
                </div>
              </nb-card-body>
              <nb-card-footer>
                <button nbButton matStepperNext [disabled]="!firstForm.get('Formulario1').valid"
                  (click)="usarLocalStorage()" class="float-right">{{'GLOBAL.Acta_Recibido.RegistroActa.SiguienteButton'
                  | translate}}</button>
              </nb-card-footer>
            </nb-card>
          </mat-step>

          <mat-step label="{{'GLOBAL.Acta_Recibido.RegistroActa.SoporteTitle' | translate}}"
            formArrayName="Formulario2">
            <nb-card>
              <nb-card-body>
                <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
                  <mat-tab *ngFor="let soporte of firstForm.get('Formulario2').controls; let i = index"
                  [formGroupName]="i">
                <div class="col">
                  <div class="form-group col-sm">
                    <label>{{'GLOBAL.Acta_Recibido.RegistroActa.Soporte' | translate}}</label>
                    <nb-card>
                      <nb-card-body>
                        <div class="col-sm soporte">
                          <div>
                            <button nbButton type="button" (click)="fileInputDocumento.click()"
                              *ngIf="getPermisoEditar(permisos.Acta)">
                              <i class="fas fa-file-upload fa-2x"></i>
                              <input #fileInputDocumento type="file" (change)="onInputFileDocumento($event, i)"
                                style="display:none;" accept="application/pdf" data-max-size="5120" />
                            </button>
                          </div>
                          <p></p>
                          <p *ngIf="Validador[i] && fileDocumento[i]">{{fileDocumento[i].name}}</p>
                          <p *ngIf="!Validador[i]">
                            {{'GLOBAL.Acta_Recibido.CapturarElementos.ValidadorPlaceholder' | translate: {EXT: 'pdf'} }}
                          </p>
                          <div>
                            <button nbButton type="button" *ngIf="fileDocumento[i]" target="_blank"
                              (click)="download(i)">
                              Ver
                            </button>
                            <button nbButton type="button" *ngIf="fileDocumento[i] === undefined" target="_blank"
                              (click)="downloadFile(uidDocumento[i])">
                              Ver
                            </button>
                          </div>
                          <p></p>
                          <div>
                            <button type="button" *ngIf="Validador[i] && getPermisoEditar(permisos.Acta)"
                              class="btn btn-primary" (click)="clearFile(i)">
                              {{'GLOBAL.Acta_Recibido.CapturarElementos.LimpiarEspacioButton' | translate }}
                            </button>
                          </div>
                        </div>
                      </nb-card-body>
                    </nb-card>

                  </div>
                </div>
              </mat-tab>
                </mat-tab-group>
              </nb-card-body>
            </nb-card>

            <nb-card>
              <nb-card-body>
                <div>
                  <ngx-capturar-elementos *ngIf="getPermisoEditar(permisos.Elementos)" (click)="usarLocalStorage()"
                    [DatosRecibidos]="Elementos__Soporte[0]" (DatosTotales)="ver2($event)" (DatosEnviados)="ver($event)"
                    (click)="usarLocalStorage()" (change)="usarLocalStorage()">
                  </ngx-capturar-elementos>
                </div>
              </nb-card-body>
              <nb-card-footer>
                <div class="justify-content-center">
                  <button nbButton matStepperPrevious>
                    {{'GLOBAL.Acta_Recibido.RegistroActa.AnteriorButton' | translate}}
                  </button>
                  <button nbButton matStepperNext
                    [disabled]="!firstForm.get('Formulario1').valid || !Elementos__Soporte" (click)="usarLocalStorage()"
                    class="float-right">{{'GLOBAL.Acta_Recibido.RegistroActa.SiguienteButton' | translate}}</button>
                </div>
              </nb-card-footer>
            </nb-card>
          </mat-step>

          <mat-step label="{{'GLOBAL.Acta_Recibido.RegistroActa.DatosAdicionales' | translate}}"
            formGroupName="Formulario3">
            <nb-card *ngIf="Totales">
              <nb-card-header>{{'GLOBAL.Acta_Recibido.RegistroActa.Consolidado' | translate}}</nb-card-header>
              <nb-card-body>
                <table class="consolidado">
                  <tr>
                    <th class="cell-3">{{'GLOBAL.Acta_Recibido.RegistroActa.Subtotal' | translate}}</th>
                    <td class="cell-3">{{getGranSubtotal() | currency}}</td>
                  </tr>
                  <tr>
                    <th class="cell-3">{{'GLOBAL.Acta_Recibido.RegistroActa.Descuento' | translate}}</th>
                    <td class="cell-3">{{getGranDescuentos() | currency}}</td>
                  </tr>
                  <tr>
                    <th class="cell-3">{{'GLOBAL.Acta_Recibido.RegistroActa.ValorIva' | translate}}</th>
                    <td class="cell-3">{{getGranValorIva() | currency}}</td>
                  </tr>
                  <tr>
                    <th class="cell-3">{{'GLOBAL.Acta_Recibido.RegistroActa.Total' | translate}}</th>
                    <td class="cell-3">{{getGranTotal() | currency}}</td>
                  </tr>
                </table>
              </nb-card-body>
            </nb-card>
            <nb-card>
              <nb-card-header>{{'GLOBAL.Acta_Recibido.RegistroActa.DatosAdicionales' | translate}}</nb-card-header>
              <nb-card-body>
                <div class="form-group  col-lg-12">
                  <label>{{'GLOBAL.Acta_Recibido.RegistroActa.Observaciones' | translate}}</label>
                  <div class="input-group">
                    <textarea rows="5" placeholder="{{'GLOBAL.Acta_Recibido.RegistroActa.Observaciones2' | translate}}"
                      class="form-control" formControlName="Datos_Adicionales" (keyup)="usarLocalStorage()"
                      required></textarea>
                  </div>
                  <p class="campo" *ngIf="firstForm.get('Formulario3').get('Datos_Adicionales').invalid">
                    {{'GLOBAL.placeholder' | translate}}</p>
                </div>
              </nb-card-body>
              <nb-card-footer>
                <div class="justify-content-center">
                  <button nbButton matStepperPrevious>{{'GLOBAL.Acta_Recibido.RegistroActa.AnteriorButton' |
                    translate}}</button>
                  <button nbButton matStepperNext (click)="Revisar_Totales()"
                    [disabled]="!firstForm.get('Formulario1').valid || !Elementos__Soporte || !firstForm.get('Formulario3').valid"
                    class="float-right">{{'GLOBAL.Acta_Recibido.RegistroActa.GuardarCambiosButton' |
                    translate}}</button>
                </div>
              </nb-card-footer>
            </nb-card>
          </mat-step>

        </mat-vertical-stepper>
    </form>
  </nb-card-body>
</nb-card>
