<mat-horizontal-stepper #stepper [linear]=true>

  <!-- DATOS DE CONTRATO -->
  <mat-step [stepControl]="contratoForm" label="{{'GLOBAL.contrato' | translate}}">
    <h5>{{'GLOBAL.datos_contrato' | translate}}</h5>
    <form [formGroup]="contratoForm" class="step-container">
      <div class="boton-stepper-initial">
        <button mat-flat-button color="primary" matStepperNext (click)="onContratoSubmit()">
          {{'GLOBAL.siguiente' | translate}}
        </button>
      </div>
    </form>
  </mat-step>

  <!-- ORDENADOR DE GASTO -->
  <mat-step [stepControl]="ordenadorForm" label="{{'GLOBAL.ordenador_gasto' | translate}}">
    <h5>{{'GLOBAL.ordenador_gasto' | translate}}</h5>
    <form [formGroup]="ordenadorForm" class="step-container">
      <div class="row" [nbSpinner]="commonContrato.cargandoOrdenadores">
        <div class="form-group col-sm">
          <label>{{'GLOBAL.ordenador_gasto' | translate}}</label>
          <input nbInput type="text" class="form-control" formControlName="ordenadorCtrl"
            [matAutocomplete]="autoOrdenador" />
          <mat-autocomplete #autoOrdenador="matAutocomplete" [displayWith]="muestraOrdenador">
            <mat-option *ngFor="let ord of ordenadoresFiltrados | async" [value]="ord">
              {{ord.NombreOrdenador}}
            </mat-option>
          </mat-autocomplete>
        </div>
      </div>
      <div class="botones-stepper-middle">
        <button mat-flat-button color="primary" matStepperPrevious>{{'GLOBAL.anterior' | translate}}</button>
        <button mat-flat-button color="primary" matStepperNext>{{'GLOBAL.siguiente' | translate}}</button>
      </div>
    </form>
  </mat-step>

  <!-- SUPERVISOR -->
  <mat-step [stepControl]="supervisorForm" label="{{'GLOBAL.supervisor' | translate}}">
    <h5>{{'GLOBAL.supervisor' | translate}}</h5>
    <form [formGroup]="supervisorForm" class="step-container">
      <div class="row" [nbSpinner]="commonContrato.cargandoSupervisores">
        <div class="form-group col-sm">
          <label>{{'GLOBAL.supervisor' | translate}}</label>
          <input nbInput type="text" class="form-control" formControlName="supervisorCtrl"
            [matAutocomplete]="autoSupervisor" />
          <mat-autocomplete #autoSupervisor="matAutocomplete" [displayWith]="muestraSupervisor">
            <mat-option *ngFor="let sup of supervisoresFiltrados | async" [value]="sup">
              {{sup.Nombre}}
            </mat-option>
          </mat-autocomplete>
        </div>
      </div>
      <div class="botones-stepper-middle">
        <button mat-flat-button color="primary" matStepperPrevious>{{'GLOBAL.anterior' | translate}}</button>
        <button mat-flat-button color="primary" matStepperNext>{{'GLOBAL.siguiente' | translate}}</button>
      </div>
    </form>
  </mat-step>

  <!-- FACTURA -->
  <mat-step [stepControl]="facturaForm" label="{{'GLOBAL.factura' | translate}}">
    <form [formGroup]="facturaForm" class="step-container">
      <h5>{{'GLOBAL.factura' | translate}}</h5>
      <div class="row">
        <div class="form-group col-sm">
          <label>{{'GLOBAL.numero_factura' | translate}}</label>
          <div class="input-group">
            <select class="form-control" formControlName="facturaCtrl" (change)="changeSelectSoporte()">
              <option value="" selected>--{{'GLOBAL.seleccionar' | translate}}--</option>
              <option *ngFor="let item of soportes" value="{{ item.Id }}">{{ item.Consecutivo }}</option>
            </select>
          </div>
        </div>
        <div class="form-group col-sm">
          <label>{{'GLOBAL.fecha_factura' | translate}}</label>
          <div class="input-group">
            <input nbInput type="text" shape="semi-round" placeholder="{{'GLOBAL.fecha_factura' | translate}}"
              class="form-control" value="{{ fechaFactura | date:'dd/MM/yyy' }}" [readonly]="true">
          </div>
        </div>
      </div>
      <div class="botones-stepper-middle">
        <button mat-flat-button color="primary" matStepperPrevious>{{'GLOBAL.anterior' | translate}}</button>
        <button mat-flat-button color="primary" matStepperNext>{{'GLOBAL.siguiente' | translate}}</button>
      </div>
    </form>
  </mat-step>

  <!-- OBSERVACIONES -->
  <mat-step [stepControl]="observacionForm" label="{{'GLOBAL.observaciones' | translate}}">
    <form [formGroup]="observacionForm" class="step-container">
      <h5>{{'GLOBAL.observaciones' | translate}}</h5>
      <div class="row">
        <div class="form-group col-lg-12">
          <div class="input-group">
            <textarea rows="5" shape="semi-round" placeholder="{{'GLOBAL.observaciones' | translate}}"
              class="form-control" formControlName="observacionCtrl"></textarea>
          </div>
        </div>
      </div>
      <div class="botones-stepper-middle">
        <button mat-flat-button color="primary" matStepperPrevious>{{'GLOBAL.anterior' | translate}}</button>
        <button mat-flat-button color="primary" (click)="onObservacionSubmit()" matStepperNext>
          {{'GLOBAL.registrar_entrada' | translate}}
        </button>
      </div>
    </form>
  </mat-step>

</mat-horizontal-stepper>