.dialogo {
  min-width: 55vw;
  max-width: 95vw;
  min-height: 55vh;
  max-height: 95vh;
}

table {
  width: 100%;
}

th.mat-header-cell {
    border: 0;
    text-align: center;
}

.mat-header-row {
  background-color: rgba(128, 128, 128, 0.1);
  height: 5em;
}

.fila {
  display: flex;
  align-items: center;
  div, th {
    flex: 1;
  }
}

.fila-centrado {
  display: flex;
  justify-content: center;
}
