<ng-template #dialogoDetalle let-ref="dialogRef">
    <mat-card class="dialogo">
        <mat-card-title>
            {{ 'GLOBAL.detalle' | translate }}
        </mat-card-title>
        <mat-card-content [nbSpinner]="!detalle">
            <p class="font-weight-bold text-uppercase">{{ nivelSeleccionado }}:
                <span class="font-weight-normal">{{ grupoSeleccionado.Nombre }}</span>
            </p>
            <div *ngIf="tipos_de_bien">
                <p class="font-weight-bold text-uppercase">{{ 'GLOBAL.tipo_bien' | translate }}:
                    <span class="font-weight-normal">{{ tipos_de_bien.Nombre }}</span>
                </p>
            </div>
            <p></p>
            <div *ngIf="source?.data?.length">
                <p class="font-weight-bold text-uppercase">{{ 'GLOBAL.cuentasContables' | translate }}:</p>
                <ng2-smart-table [settings]="settings" [source]="source" (custom)="onCustom($event)">
                </ng2-smart-table>
            </div>
            <p></p>
            <div *ngIf="elementosSubgrupo?.length">
                <p class="font-weight-bold text-uppercase">{{ 'GLOBAL.elementos_asociados' | translate }}:</p>
                <div *ngFor="let elemento of elementosSubgrupo; let i = index" class="row">
                    <div class="col">
                        <span class="font-weight-normal">{{i + 1}}: {{ elemento.Nombre }}</span>
                        <p class="font-weight-bold text-uppercase"></p>
                    </div>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-flat-button color="primary" data-dismiss="modal" (click)="ref.close()" *ngIf="detalle">
                {{'GLOBAL.cerrar' | translate}}
            </button>
        </mat-card-actions>
    </mat-card>
</ng-template>

<div [nbSpinner]="!mostrar" style="min-width: 600px;">
    <table class="mat-table">
        <thead class="mat-header-row fila">
            <th id="col-codigo" class="mat-header-cell">
                {{ 'GLOBAL.codigo' | translate }}
            </th>
            <th id="col-nombre" class="mat-header-cell">
                {{ 'GLOBAL.Nombre' | translate }}
            </th>
            <th id="col-descripcion" class="mat-header-cell">
                {{ 'GLOBAL.Descripcion' | translate }}
            </th>
            <th id="col-estado" *ngIf="!acciones" class="mat-header-cell">
                {{ 'GLOBAL.estado' | translate }}
            </th>
            <th id="col-info" *ngIf="acciones" class="mat-header-cell">
                {{ 'GLOBAL.info' | translate }}
            </th>
        </thead>
    </table>
    <mat-tree [dataSource]="dataSourcex" [treeControl]="treeControl" class="border-top border-left border-right">
        <mat-tree-node [nbSpinner]="node.isLoading" *matTreeNodeDef="let node; when: hasChild" class="border-bottom fila"
            (click)="getSelectedRow(node.item)">
            <div class="fila">
                <span *ngFor="let i of array(treeControl.getLevel(node))" class="indent"></span>
                <button [disabled]="!node.expandible" mat-icon-button [attr.aria-label]="'Toggle ' + node.item" matTreeNodeToggle>
                    <mat-icon *ngIf="node.expandible" class="mat-icon-rtl-mirror">
                        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                </button>
                {{node.item.Codigo}}
            </div>
            <div>{{node.item.Nombre}}</div>
            <div>{{node.item.Descripcion}}</div>
            <div class="fila-centrado" *ngIf="!acciones">{{ (node.item.Activo ? 'GLOBAL.activo' : 'GLOBAL.inactivo') | translate}}</div>
            <div class="fila-centrado" *ngIf="acciones">
                <span *ngIf="node.item.TipoNivelId" class="fas fa-info-circle fa-2x"
                    (click)="getDetalle(node.item, dialogoDetalle)"></span>
            </div>
        </mat-tree-node>
    </mat-tree>

</div>
