<mat-card>
    <div>
        <mat-card-title>
            {{'GLOBAL.traslados.registro.title' | translate}}
        </mat-card-title>
        <mat-card-subtitle>
            {{'GLOBAL.traslados.registro.subtitle' | translate}}
        </mat-card-subtitle>
        <mat-card-content>
            <ngx-form-traslado (valid)="setValidness($event)" [(trasladoInfo)]="trasladoData">
            </ngx-form-traslado>
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button color="primary" class="float-right text-uppercase" [disabled]="!valid" (click)="confirm()">
            {{'GLOBAL.traslados.enviarSolicitud' | translate}}
          </button>
        </mat-card-actions>
    </div>
</mat-card>
