table {
  width: 100%;
  text-align: center;
}
.cell-3 {
  height: 40px;
  width: 150px;
  text-align: right;
}
.soporte {
  float: none;
  text-align: center;
}

table.consolidado {
  width: auto;
  margin: auto;
}

mat-select {
  height: auto;
}
