:host ::ng-deep .material-icons {
  font-family: 'Material Icons' !important;
}
.example-container {
  height: 400px;
  overflow: auto;
}
.cell {
  height: 50px;
  width: 150px;
  text-align: right;
}
.cell-2 {
  height: 50px;
  width: 150px;
  text-align: left;
}
table {
  width: 100%;
  text-align: center;
}
.cell-3 {
  height: 40px;
  width: 150px;
  text-align: right;
}
.soporte {
  float: none;
  text-align: center;
}

table.consolidado {
  width: auto;
  margin: auto;
}

mat-select {
  height: auto;
}
