<mat-card [nbSpinner]="spinner" [nbSpinnerMessage]="spinner">
  <mat-card-title *ngIf="!salidaId">
    {{ title | translate}}
  </mat-card-title>

  <mat-card-subtitle *ngIf="!salidaId">
    {{ subtitle | translate}}
  </mat-card-subtitle>

  <ng2-smart-table *ngIf="!salidaId && settings" [settings]="settings" [source]="source"
    (edit)="onEdit($event)" (delete)="onDelete($event)" (create)="onRegister($event)">
  </ng2-smart-table>

  <ngx-consulta-salida-especifica [salida_id]="salidaId" *ngIf="salidaId && !editarSalida">
  </ngx-consulta-salida-especifica>

  <ngx-ver-comprobante [consecutivo]="consecutivoSalida" *ngIf="transaccionContable" [transaccion]="transaccionContable">
  </ngx-ver-comprobante>

  <ngx-tabla-entrada-aprobada *ngIf="editarSalida && salidaId && entradaParametro" [editar]="true"
    [salida_id]="salidaId" [idEntradaParametro]="entradaParametro">
  </ngx-tabla-entrada-aprobada>

  <mat-card-actions *ngIf="salidaId">
    <div *ngIf="modo === 'revision' && !transaccionContable" class="justify-content-center" style="padding-bottom: 3rem;">
      <button mat-raised-button color="primary" (click)="confirmSubmit(false)" class="float-left text-uppercase"
        [disabled]="movimiento?.EstadoMovimientoId?.Nombre !== 'Salida En Trámite' || submitted">
        {{'GLOBAL.Acta_Recibido.VerificacionActa.Rechazar' | translate}}</button>
      <button mat-raised-button color="primary" (click)="confirmSubmit(true)" class="float-right text-uppercase"
        [disabled]="movimiento?.EstadoMovimientoId?.Nombre !== 'Salida En Trámite' || submitted">
        {{'GLOBAL.Acta_Recibido.VerificacionActa.Verificar' | translate}}</button>
    </div>
    <button mat-raised-button color="primary" (click)="onVolver()" class="float-left text-uppercase">
      {{'GLOBAL.volver' | translate}}</button>
  </mat-card-actions>
</mat-card>
