<mat-card *ngIf="mostrar">
  <div>
    <mat-card-title>
      {{'GLOBAL.consultar_salida' | translate}}
    </mat-card-title>

    <mat-card-subtitle *ngIf="!detalle">
      {{'GLOBAL.salidas.consulta_salida_info' | translate}}
    </mat-card-subtitle>

    <ng2-smart-table [settings]="settings" [source]="source" (edit)="onEdit($event)"
	     (delete)="onDelete($event)" (create)="onRegister($event)" *ngIf="!detalle && !editaentrada && !verComprobante">
    </ng2-smart-table>

    <ngx-consulta-salida-especifica [salida_id]="salidaId" *ngIf="detalle && !editaentrada">
    </ngx-consulta-salida-especifica>
	<ngx-ver-comprobante [consecutivo] = "consecutivoSalida" [tercero] = "tercero" [descripcion] = "'detalleentrada'"  *ngIf="verComprobante" [transaccion]="transaccionContable"></ngx-ver-comprobante>

    <mat-card-actions *ngIf="detalle || editaentrada">
    <ngx-tabla-entrada-aprobada  [editar]="editaentrada" [salida_id]="salidaId" [actaParametro]="actaParametro" [idEntradaParametro]="entradaParametro"
   	*ngIf="editaentrada && !detalle && cargaLista"></ngx-tabla-entrada-aprobada>

      <div *ngIf="modo === 'revision' && !verComprobante" class="justify-content-center" style="padding-bottom: 3rem;">
        <button nbButton (click)="confirmSubmit(false)">{{'GLOBAL.Acta_Recibido.VerificacionActa.Rechazar' |
          translate}}</button>
        <button nbButton (click)="confirmSubmit(true)"
          class="float-right">aaa{{'GLOBAL.Acta_Recibido.VerificacionActa.Verificar' | translate}}</button>
      </div>
        <button mat-raised-button color="primary" (click)="onVolver()" class="float-left text-uppercase">
        {{'GLOBAL.volver' | translate}}</button>
    </mat-card-actions>
  </div>
</mat-card>
