<div class="col-lg-12">
  <nb-card>
    <nb-card-header>
      <!-- <h1>{{'GLOBAL.consultar_entrada' | translate}}</h1> -->
      Registrar Salida
    </nb-card-header>
    <nb-card-body>

      <!-- CARD PARA MOSTRAR LAS SOLICITUDES *ngIf="!detalle" -->
      <!-- <p class="h4 pb-4" *ngIf="!detalle">{{'GLOBAL.mensaje_consulta_entrada' | translate}}</p> -->
      <p class="h4 pb-4" *ngIf="!detalle">
        En la siguiente tabla seleccione la entrada para poder generar la salida correspondiente
      </p>

      <ng2-smart-table [settings]="settings" [source]="source" (custom)="onCustom($event)" >
      </ng2-smart-table>

      <ngx-consulta-salida-especifica [salida_id]="salidaId" *ngIf="detalle"></ngx-consulta-salida-especifica>
    </nb-card-body>
    <nb-card-footer>
      <div class="pt-4">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onVolver()"
          *ngIf="detalle">{{'GLOBAL.volver' | translate}}
        </button>
      </div>
    </nb-card-footer>
  </nb-card>
</div>