<div class="row">
<nb-card class="col">
  <nb-card-header>
    <h1>{{'GLOBAL.inactivar_grupos_subgrupos' | translate}}</h1>
  </nb-card-header>
  <nb-card-body [nbSpinner]="cargando_catalogos">
        <h5>{{'GLOBAL.catalogo.uno' | translate}}</h5>
        <select class="form-control mb-4" (change)="onChange($event.target.value)">
          <option disabled selected>{{'GLOBAL.seleccionar' | translate}}...</option>
          <option *ngFor="let item of catalogos" value="{{ item.Id }}">{{ item.Nombre }}</option>
        </select>

        <ngx-arbol *ngIf="catalogoId !== 0" [catalogoId]="catalogoId" (fila)="receiveMessage($event)"
          ></ngx-arbol>
  </nb-card-body>
</nb-card>
</div>
