<form [formGroup]="form_cantidad" #fform="ngForm" *ngIf="form_cantidad">
  <mat-card>
    <mat-card-title>{{ 'GLOBAL.Solicitudes.CantAprobada' | translate }}</mat-card-title>
    <mat-card-content>
      <div class="row">
        <div class="form-group col-sm">
          <label>{{ 'GLOBAL.cantidad' | translate }}</label>
          <div class="input-group">
            <input nbInput type="number" min="0" [max]="maxAsignable"
              placeholder="{{'GLOBAL.Acta_Recibido.CapturarElementos.CantidadHeader' | translate }}"
              formControlName="Cantidad" class="form-control">
          </div>
          <p></p>
          <p class="campo">
            {{ 'GLOBAL.Solicitudes.CantSolicitada' | translate }}: {{row.Cantidad}}</p>
          <p></p>
          <p class="campo">
            {{ 'GLOBAL.Solicitudes.CantDisponible' | translate }}: {{row.SaldoCantidad}}</p>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" class="float-left text-uppercase" (click)="cancel()">{{ 'GLOBAL.cancelar' | translate }}</button>
      <button mat-raised-button color="primary" class="float-right text-uppercase" (click)="submit()" [disabled]="form_cantidad.invalid">{{ 'GLOBAL.actualizar' | translate }}</button>
    </mat-card-actions>
  </mat-card>
</form>
