<form [formGroup]="form_cantidad" #fform="ngForm" *ngIf="form_cantidad">
  <nb-card>
    <nb-card-header>Cantidad Aprobada</nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="form-group col-sm">
          <label>Cantidad</label>
          <div class="input-group">
            <input currencyMask [options]="{allowNegative: false, prefix: '',align: 'left', precision: 0}" nbInput
              type="text" placeholder="{{'GLOBAL.Acta_Recibido.CapturarElementos.CantidadHeader' | translate }}"
              formControlName="Cantidad" class="form-control" >
          </div>
          <p></p>
          <p class="campo">
            Cantidad Solicitada: {{row.Cantidad}}</p>
          <p></p>
          <p class="campo">
            Cantidad Disponible: {{row.SaldoCantidad}}</p>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button type="button" nbButton (click)="cancel()">Cancelar</button>
      <button type="button" [disabled]="form_cantidad.invalid" nbButton (click)="submit()" class="float-right">Actualizar</button>
    </nb-card-footer>
  </nb-card>
</form>
