<div class="row">
  <nb-card class="col">
    <nb-card [nbSpinner]="updating || !spinner">
      <nb-card-header>
  
        <h1>{{'GLOBAL.parametros.tiposBien.title' | translate}}</h1>
  
      </nb-card-header>
      <nb-card-body>
  
        <p class="h4 pb-4">{{'GLOBAL.parametros.tiposBien.subtitle' | translate}}</p>
        <ng2-smart-table  [source]="source" [settings]="settings" (edit)="ActualizarTipoBien($event)" (create)="onRegister($event)">
        </ng2-smart-table>
  
      </nb-card-body>
    </nb-card>
  </nb-card>

  <div class="col" *ngIf="mostrar">
    <nb-card >
      <nb-card-header>
        {{'GLOBAL.parametros.tiposBien.registro_title' | translate}}       
      </nb-card-header>
      <ngx-registro-tipo-bien (Guardar)="Registrar()" [(tipobien)]="tipo_bien"></ngx-registro-tipo-bien>
      <!-- <button type="button" (click)="Registrar()">GUARDAR</button> -->
    </nb-card>
  </div>
</div>
