<div class="col-lg-12">
  <mat-card [nbSpinner]="updating || !mostrar">
    <mat-card-title>
        {{'GLOBAL.parametros.tiposEntradas.title' | translate}}
    </mat-card-title>
    <mat-card-subtitle>
      {{'GLOBAL.parametros.tiposEntradas.subtitle' | translate}}
    </mat-card-subtitle>
    <mat-card-content>

      <ng2-smart-table [settings]="settingsTiposEntrada" [source]="TiposEntrada" (edit)="DesactivarMovimiento($event)">
      </ng2-smart-table>

    </mat-card-content>
  </mat-card>
</div>
