<mat-card [nbSpinner]="spinner" [nbSpinnerMessage]="spinner">
  <mat-card-title>
    {{ 'GLOBAL.inmuebles.consultaTtl' | translate }}
  </mat-card-title>
  <mat-card-content>
    <ng2-smart-table [settings]="settings" [source]="source" (custom)="onCustom($event)" (create)="onCreate()"
      *ngIf="!bienSeleccionado"></ng2-smart-table>
    <ngx-form-inmueble *ngIf="bienSeleccionado && !crear" [inmuebleId]="bienSeleccionado" (volver)="onVolver()"></ngx-form-inmueble>
    <ngx-registro-inmuebles *ngIf="!bienSeleccionado && crear"></ngx-registro-inmuebles>
  </mat-card-content>
</mat-card>
