<form [formGroup]="form_apertura" #fform="ngForm" *ngIf="form_apertura">
      <nb-card>
        <nb-card-header>{{'GLOBAL.BodegaConsumo.Asignacion.Apertura' | translate}}</nb-card-header>
        <nb-card-body [nbSpinner]="!cargaLista">
          <div class="form-group col-sm">
            <div class="form-group col-sm">
              <label>{{'GLOBAL.BodegaConsumo.MetodoInventario.Nombre' | translate}}</label>
              <select nbInput type="text" class="form-control" formControlName="Metodo_Valoracion">
                <option *ngFor="let metodo of Metodos" [(value)]="metodo.Id">{{metodo.Nombre}}
                </option>
              </select>
            </div>
            <div class="row-sm">
              <div class="form-group col-sm">
                <label>{{'GLOBAL.Solicitudes.CantMin' | translate}}</label>
                <div class="input-group">
                  <input currencyMask [options]="{allowNegative: false, prefix: '',align: 'left', precision: 0}" nbInput
                    type="text" placeholder="{{'GLOBAL.Acta_Recibido.CapturarElementos.CantidadHeader' | translate }}"
                    formControlName="Cantidad_Minima" class="form-control">
                </div>
              </div>
              <div class="form-group col-sm">
                <label>{{'GLOBAL.Solicitudes.CantMax' | translate}}</label>
                <div class="input-group">
                  <input currencyMask [options]="{allowNegative: false, prefix: '',align: 'left', precision: 0}" nbInput
                    type="text" placeholder="{{'GLOBAL.Acta_Recibido.CapturarElementos.CantidadHeader' | translate }}"
                    formControlName="Cantidad_Maxima" class="form-control">
                </div>
              </div>
            </div>
            <div class="form-group  col-lg-12">
              <label>{{'GLOBAL.Detalle' | translate}}</label>
              <div class="input-group">
                <textarea rows="5" placeholder="{{'GLOBAL.BodegaConsumo.Asignacion.Placeholder' | translate}}"
                  class="form-control" formControlName="Observaciones" required></textarea>
              </div>
            </div>
          </div>
        </nb-card-body>
        <nb-card-footer>
          <button nbButton (click)="onSubmit()" [disabled]="!form_apertura.valid" class="float-right">
            {{'GLOBAL.BodegaConsumo.Asignacion.BotonPreparar' | translate}}
          </button>
        </nb-card-footer>
      </nb-card>

      <nb-card *ngIf="ElementoMovimiento">
        <nb-card-header>
          {{'GLOBAL.BodegaConsumo.Asignacion.VistaPrevia' | translate}}
        </nb-card-header>
        <nb-card-body>
          <ngx-kardex *ngIf="ElementoMovimiento" [Apertura]="ElementoMovimiento">
          </ngx-kardex>
        </nb-card-body>
        <nb-card-footer>
          <button nbButton (click)="onSubmit2()" *ngIf="ElementoMovimiento" class="float-right">
            {{'GLOBAL.BodegaConsumo.Asignacion.BotonConfirmar' | translate}}
          </button>
        </nb-card-footer>
      </nb-card>

</form>
