<div class="row">
<mat-card class="col">
  <mat-card-title>
    {{'GLOBAL.registro_elementos' | translate}}
  </mat-card-title>
  <mat-card-subtitle>
    {{'GLOBAL.catalogo.uno' | translate}}
  </mat-card-subtitle>
  <mat-card-content [nbSpinner]="cargando_catalogos">
        <select class="form-control mb-4" (change)="onChange($event.target.value)">
          <option disabled selected>{{'GLOBAL.seleccionar' | translate}}...</option>
          <option *ngFor="let item of catalogos" value="{{ item.Id }}">{{ item.Nombre }}</option>
        </select>

        <ngx-arbol *ngIf="catalogoId !== 0" [catalogoId]="catalogoId" (fila)="treeEvent($event)" [elementos]=true [subgruposInactivos]=true [updateSignal]="updateTree">
          <p>
            <span class="fas fa-info-circle"></span>&nbsp;
            <em>{{'GLOBAL.catalogo.elementosInfo1' | translate}}</em>
          </p>
          <p>
            <span class="fas fa-info-circle"></span>&nbsp;
            <em>{{'GLOBAL.catalogo.elementosInfo2' | translate}}</em>
          </p>
        </ngx-arbol>
  </mat-card-content>
</mat-card>
<div class="col" *ngIf="ver_formulario">
  <mat-card>
    <mat-card-title>
      {{'GLOBAL.detalle' | translate}}
    </mat-card-title>
    <mat-card-content>
      <p class="font-weight-bold text-uppercase pt-4 pb-4">{{ 'GLOBAL.subgrupo.clase.nombre' | translate }}:
        <span class="font-weight-normal">{{ subgrupo.Codigo }}: {{ subgrupo.Nombre }}</span>
      </p>
      <ngx-dinamicform [normalform]="formElemento" [modeloData]="info_elemento" (result)="submitElemento($event)"
        [clean]="clean">
      </ngx-dinamicform>

    </mat-card-content>
  </mat-card>
</div>
</div>
