<div *ngIf="!salida" [nbSpinner]="!salida">
  <nb-card>
    <nb-card-header>

    </nb-card-header>
    <nb-card-body>

    </nb-card-body>
  </nb-card>
</div>
<div *ngIf="salida">
  <nb-card>
    <nb-card-header>
      Detalle Salida
    </nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col">
          <p class="text-uppercase"><strong>Consecutivo</strong>: {{ salida.Salida.Id }}</p>
        </div>
        <div class="col">
            <p class="text-uppercase"><strong>Fecha de Creacion:</strong>
              {{ salida.Salida.FechaCreacion | date }}</p>
          </div>
        <div class="col">
          <p class="text-uppercase"><strong>Funcionario:</strong>
            {{ salida.Salida.Funcionario.NomProveedor}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p class="text-uppercase"><strong>Sede</strong>: {{ salida.Salida.Sede.Nombre }}</p>
        </div>
        <div class="col">
          <p class="text-uppercase"><strong>Dependencia</strong>: {{ salida.Salida.Dependencia.Nombre }}</p>
        </div>
        <div class="col">
          <p class="text-uppercase"><strong>Ubicacion</strong>: {{ salida.Salida.Ubicacion.Nombre }}</p>
        </div>
        
      </div>
      <p class="text-uppercase"><strong>Elementos Relacionados</strong></p>
      <ng2-smart-table [settings]="settings" [source]="source">
      </ng2-smart-table>

    </nb-card-body>
  </nb-card>
</div>