table {
  width: 100%;
  text-align: center;
}
.campo {
  color:#a61e1c;
  text-decoration-color: #a61e1c;
  text-decoration-line: underline;
}
.soporte {
  float: none;
  text-align: center;
}

table.consolidado {
  width: auto;
  margin: auto;
}

.botones {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  button {
    margin-left: 1rem;
  }
}
p {
  margin-top: 0.5rem;
}
.cell-3 {
  height: 40px;
  width: 150px;
  text-align: right;
}
