<nb-card>
  <nb-card-header><h2>{{'GLOBAL.Acta_Recibido.EdicionActa.TitleId' | translate: {ID: _Acta_Id} }}</h2></nb-card-header>
  <nb-card-body [nbSpinner]="!firstForm || guardando || cargandoTerceros">
    <form *ngIf="firstForm" [formGroup]="firstForm" #fform="ngForm" class="step-container">
      <mat-vertical-stepper [linear]="true" #stepper>

          <!-- Datos iniciales -->
          <mat-step label="{{'GLOBAL.Acta_Recibido.EdicionActa.DatosTitle' | translate}}" formGroupName="Formulario1">
            <nb-card>
              <nb-card-body>
                <div class="row" (click)="usarLocalStorage()">
                  <div class="form-group col-sm">
                    <label>{{'GLOBAL.Acta_Recibido.EdicionActa.Sede' | translate}}</label>
                    <mat-select type="text" class="form-control" formControlName="Sede"
                      (selectionChange)="usarLocalStorage(); Traer_Relacion_Ubicaciones();">
                      <mat-option *ngFor="let sede of Sedes" [(value)]="sede.Id">{{sede.Nombre}}</mat-option>
                    </mat-select>
                    <p class="campo" *ngIf="firstForm.get('Formulario1').get('Sede').invalid">
                      {{'GLOBAL.Errores.ErrorRequerido' | translate}}</p>
                  </div>
                  <div class="form-group col-sm">
                    <label>{{'GLOBAL.Acta_Recibido.EdicionActa.Dependencia' | translate}}</label>
                    <ng2-completer style="border: 0rem" inputClass="form-control" nbInput [datasource]="dataService3"
                      (keyup)="usarLocalStorage()" (click)="usarLocalStorage()" formControlName="Dependencia"
                      (change)="Traer_Relacion_Ubicaciones()" [disableInput]="!getPermisoEditar(permisos.Acta)"
                      [minSearchLength]="3" [clearUnselected]="true"
                      placeholder="{{'GLOBAL.Errores.ErrorMinLength' | translate : {NUM : '3'} }}">
                    </ng2-completer>
                    <p class="campo" *ngIf="firstForm.get('Formulario1').get('Dependencia').invalid">
                      {{'GLOBAL.Errores.ErrorRequerido' | translate}}</p>
                  </div>
                  <div class="form-group col-sm">
                    <label>{{'GLOBAL.Acta_Recibido.EdicionActa.Ubicacion' | translate}}</label>
                    <mat-select type="text" class="form-control" formControlName="Ubicacion"
                      (selectionChange)="usarLocalStorage()">
                      <mat-option *ngFor="let ubicacion of UbicacionesFiltradas" [(value)]="ubicacion.Id">{{ubicacion.Nombre}}
                      </mat-option>
                    </mat-select>
                    <p class="campo" *ngIf="firstForm.get('Formulario1').get('Ubicacion').invalid">
                      {{'GLOBAL.Errores.ErrorRequerido' | translate}}</p>
                  </div>
                <div class="form-group col-sm">
                    <label>{{'GLOBAL.Acta_Recibido.ContratistaAsignado' | translate}}</label>
                    <input matInput type="text" class="form-control" placeholder="{{'GLOBAL.Errores.ErrorMinLength' | translate : {NUM : '4'} }}"
                      formControlName="Contratista" [matAutocomplete]="autoContratista">
                      <mat-autocomplete #autoContratista="matAutocomplete" [displayWith]="muestraContratista"
                      (optionSelected)="usarLocalStorage()">
                        <mat-option *ngFor="let contr of contratistasFiltrados | async" [value]="contr">
                          {{muestraContratista(contr)}}
                        </mat-option>
                      </mat-autocomplete>
                      <p class="campo"
                        *ngIf="firstForm.get('Formulario1.Contratista').errors && firstForm.get('Formulario1.Contratista').errors.required ? true : false">
                        {{'GLOBAL.Errores.ErrorRequerido' | translate}}</p>
                      <p class="campo"
                        *ngIf="firstForm.get('Formulario1.Contratista').errors && firstForm.get('Formulario1.Contratista').errors.errorLongitudMinima ? true : false">
                        {{'GLOBAL.Errores.ErrorMinLength' | translate : {NUM : '4'} }}</p>
                      <p class="campo"
                        *ngIf="firstForm.get('Formulario1.Contratista').errors && firstForm.get('Formulario1.Contratista').errors.terceroNoValido ? true : false">
                        {{'GLOBAL.Errores.ErrorTercero' | translate}}</p>
                  </div>
                </div>
              </nb-card-body>
              <nb-card-footer>
                <button nbButton matStepperNext [disabled]="!firstForm.get('Formulario1').valid"
                  (click)="usarLocalStorage()"
                  class="float-right">{{'GLOBAL.Acta_Recibido.EdicionActa.SiguienteButton' | translate}}</button>
              </nb-card-footer>
            </nb-card>
          </mat-step>

          <!-- Soportes -->
          <mat-step label="Datos de Soporte" formArrayName="Formulario2">
            <nb-card>
              <nb-card-body>
                <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">

                  <!-- cada soporte -->
                  <mat-tab *ngFor="let soporte of firstForm.get('Formulario2')['controls']; let i = index"
                    [formGroupName]="i">
                    <ng-template mat-tab-label>
                      {{'GLOBAL.Acta_Recibido.EdicionActa.SoporteSubTitle' | translate}} &nbsp; {{i + 1}} &nbsp; &nbsp;
                      &nbsp; &nbsp;<i class="fas fa-window-close" (click)="removeTab(i); usarLocalStorage()" *ngIf="false && getPermisoEditar(permisos.Acta)"></i>
                    </ng-template>
                    <div>

                      <!-- Datos básicos del Soporte -->
                      <nb-card>
                        <nb-card-body (click)="usarLocalStorage()">
                          <div class="row">

                            <div class="col" *ngIf="!ActaEspecial">
                              <div class="form-group col-sm">
                                <label>{{'GLOBAL.Acta_Recibido.EdicionActa.Proveedor' | translate}}</label>
                                <input matInput type="text" class="form-control"
                                placeholder="{{'GLOBAL.Errores.ErrorMinLength' | translate : {NUM : '4'} }}"
                                formControlName="Proveedor" [matAutocomplete]="autoProveedor">
                                <mat-autocomplete #autoProveedor="matAutocomplete" [displayWith]="muestraProveedor"
                                (optionSelected)="usarLocalStorage()">
                                  <mat-option *ngFor="let prov of proveedoresFiltrados | async" [value]="prov">
                                    {{muestraProveedor(prov)}}
                                  </mat-option>
                                </mat-autocomplete>
                                <p class="campo"
                                  *ngIf="soporte.get('Proveedor').errors && soporte.get('Proveedor').errors.required ? true : false">
                                  {{'GLOBAL.Errores.ErrorRequerido' | translate}}</p>
                                <p class="campo"
                                  *ngIf="soporte.get('Proveedor').errors && soporte.get('Proveedor').errors.errorLongitudMinima ? true : false">
                                  {{'GLOBAL.Errores.ErrorMinLength' | translate : {NUM : '4'} }}</p>
                                <p class="campo"
                                  *ngIf="soporte.get('Proveedor').errors && soporte.get('Proveedor').errors.terceroNoValido ? true : false">
                                  {{'GLOBAL.Errores.ErrorTercero' | translate}}</p>
                              </div>
                              <div class="form-group col-sm">
                                <label>{{'GLOBAL.Acta_Recibido.EdicionActa.Consecutivo' | translate}}</label>
                                <div class="input-group">
                                  <input nbInput type="text" (keyup)="usarLocalStorage()"
                                    placeholder="{{'GLOBAL.Acta_Recibido.EdicionActa.Consecutivo' | translate}}"
                                    class="form-control" formControlName="Consecutivo" (keyup)="usarLocalStorage()">
                                </div>
                                <p class="campo" *ngIf="soporte.get('Consecutivo').invalid">
                                  {{'GLOBAL.Errores.ErrorRequerido' | translate}}</p>
                              </div>
                              <div class="form-group col-sm">
                                <label>{{'GLOBAL.Acta_Recibido.EdicionActa.FechaSoporte' | translate}}</label>
                                <div class="input-group">
                                  <input nbInput (click)="usarLocalStorage()"
                                    placeholder="{{'GLOBAL.Acta_Recibido.EdicionActa.FechaFiltro' | translate}}"
                                    class="form-control" [nbDatepicker]="formpicker" (keyup)="usarLocalStorage()"
                                    formControlName="Fecha_Factura">
                                  <nb-datepicker #formpicker [max]="TodaysDate" (dateChange)="usarLocalStorage()"></nb-datepicker>
                                </div>
                                <p class="campo" *ngIf="soporte.get('Fecha_Factura').invalid">
                                  {{'GLOBAL.Errores.ErrorFecha' | translate}}</p>
                              </div>
                            </div>

                            <div class="col">
                              <div class="form-group col-sm">
                                <label>{{'GLOBAL.Acta_Recibido.RegistroActa.Soporte' | translate}}</label>
                                <nb-card>
                                  <nb-card-body>
                                    <div class="col-sm soporte">
                                      <div>
                                        <button nbButton type="button" [disabled]="fileDocumento[i] !== undefined || uidDocumento[i] !== undefined"
                                        (click)="fileInputDocumento.click()" *ngIf="getPermisoEditar(permisos.Acta)">
                                          <i class="fas fa-file-upload fa-2x"></i>
                                          <input #fileInputDocumento type="file"
                                            (change)="onInputFileDocumento($event, i)" style="display:none;"
                                            accept="application/pdf" data-max-size="5120" />
                                        </button>
                                      </div>
                                      <p></p>
                                      <p *ngIf="Validador[i] && fileDocumento[i] !== undefined">{{fileDocumento[i].name}}</p>
                                      <p *ngIf="!Validador[i]">
                                        {{'GLOBAL.Acta_Recibido.CapturarElementos.ValidadorPlaceholder' | translate: {EXT: 'pdf'} }}
                                      </p>
                                      <div>
                                        <button nbButton type="button" *ngIf="fileDocumento[i]" target="_blank"
                                          (click)="download(i)">
                                          {{'GLOBAL.Acta_Recibido.Ver' | translate}}
                                        </button>
                                        <button nbButton type="button" *ngIf="fileDocumento[i] === undefined && uidDocumento[i] !== undefined" target="_blank"
                                          (click)="downloadFile(uidDocumento[i])">
                                          {{'GLOBAL.Acta_Recibido.Ver' | translate}}
                                        </button>
                                      </div>
                                      <p></p>
                                      <div>
                                        <button type="button"
                                          *ngIf="(fileDocumento[i] !== undefined || uidDocumento[i] !== undefined) && getPermisoEditar(permisos.Acta)"
                                          class="btn btn-primary" (click)="clearFile(i)">
                                          {{'GLOBAL.Acta_Recibido.CapturarElementos.LimpiarEspacioButton' | translate }}
                                        </button>
                                        <p class="campo" *ngIf="soporte.get('Soporte').invalid">
                                          {{'GLOBAL.Errores.ErrorRequerido' | translate}}</p>
                                      </div>
                                    </div>
                                  </nb-card-body>
                                </nb-card>
                              </div>
                            </div>

                          </div>
                        </nb-card-body>
                      </nb-card>

                      <!-- Elementos asociados al Soporte -->
                      <ngx-capturar-elementos
                        *ngIf="getPermisoEditar(permisos.Elementos)"
                        [DatosRecibidos]="Elementos__Soporte[i]" (DatosTotales)="ver2($event,i)"
                        (DatosEnviados)="ver($event, i)" (ElementosValidos)="setElementosValidos(i,$event)">
                      </ngx-capturar-elementos>

                    </div>
                  </mat-tab>
                  <mat-tab [disabled]="true" *ngIf="false && getPermisoEditar(permisos.Acta)">
                    <ng-template mat-tab-label>
                      <i class="fas fa-plus-square fa-2x" (click)="addTab(); usarLocalStorage()"></i>
                    </ng-template>
                  </mat-tab>
                </mat-tab-group>
              </nb-card-body>
              <nb-card-footer>
                <div class="justify-content-center">
                  <button nbButton
                    matStepperPrevious>{{'GLOBAL.Acta_Recibido.EdicionActa.AnteriorButton' | translate}}</button>
                  <button nbButton matStepperNext (click)="usarLocalStorage()"
                    [disabled]="!firstForm.get('Formulario1').valid || (!firstForm.get('Formulario2').valid && !ActaEspecial)"
                    class="float-right">{{'GLOBAL.Acta_Recibido.EdicionActa.SiguienteButton' | translate}}</button>
                </div>
              </nb-card-footer>
            </nb-card>
          </mat-step>

          <!-- Resumen, Validación, Envío, Guardar -->
          <mat-step label="Datos Adicionales" formGroupName="Formulario3">

            <nb-card *ngIf="Elementos__Soporte[0].length > 0">
              <nb-card-header>{{'GLOBAL.Acta_Recibido.EdicionActa.Consolidado' | translate}}</nb-card-header>
              <nb-card-body>
                <table class="consolidado">
                  <tr>
                    <th class="cell-3">{{'GLOBAL.Acta_Recibido.EdicionActa.Subtotal' | translate}}</th>
                    <td class="cell-3">{{getGranSubtotal() | currency}}</td>
                  </tr>
                  <tr>
                    <th class="cell-3">{{'GLOBAL.Acta_Recibido.EdicionActa.Descuento' | translate}}</th>
                    <td class="cell-3">{{getGranDescuentos() | currency}}</td>
                  </tr>
                  <tr>
                    <th class="cell-3">{{'GLOBAL.Acta_Recibido.EdicionActa.ValorIva' | translate}}</th>
                    <td class="cell-3">{{getGranValorIva() | currency}}</td>
                  </tr>
                  <tr>
                    <th class="cell-3">{{'GLOBAL.Acta_Recibido.EdicionActa.Total' | translate}}</th>
                    <td class="cell-3">{{getGranTotal() | currency}}</td>
                  </tr>
                </table>
              </nb-card-body>
            </nb-card>

            <nb-card>
              <nb-card-header>{{'GLOBAL.Acta_Recibido.EdicionActa.DatosAdicionales' | translate}}</nb-card-header>
              <nb-card-body>
                <div class="form-group  col-lg-12" (click)="usarLocalStorage()">
                  <label>{{'GLOBAL.Acta_Recibido.EdicionActa.Observaciones' | translate}}</label>
                  <div class="input-group">
                    <textarea rows="5" (keyup)="usarLocalStorage()"
                      placeholder="Proporciona datos adicionales que no se pueden expresar en el formulario"
                      class="form-control" formControlName="Datos_Adicionales"></textarea>
                  </div>
                    <p class="campo" *ngIf="firstForm.get('Formulario3').get('Datos_Adicionales').invalid">
                      {{'GLOBAL.Errores.ErrorRequerido' | translate}}</p>
                </div>
              </nb-card-body>
              <nb-card-footer>
                <div class="justify-content-center">
                  <button nbButton
                    matStepperPrevious>{{'GLOBAL.Acta_Recibido.EdicionActa.AnteriorButton' | translate}}</button>
                  <button nbButton (click)="Revisar_Totales2()" *ngIf="getPermisoEditar(permisos.Acta) || getPermisoEditar(permisos.Elementos)"
                    [disabled]="!firstForm.get('Formulario3').valid || (!firstForm.get('Formulario2').valid && !ActaEspecial)
                    || !firstForm.get('Formulario3').valid || (this.estadoActa === 'Aceptada' && errores.size > 0)"
                    class="float-right">{{'GLOBAL.Acta_Recibido.EdicionActa.GuardarCambiosButton' | translate}}</button>
                </div>
              </nb-card-footer>
            </nb-card>

          <div class="botones">
            <button mat-icon-button type="button" *ngIf="errores && (errores.size > 0)" [nbPopover]="erroresTemplate" nbPopoverTrigger="hover">
                <span class="fas fa-exclamation-triangle fa-2x"></span>
              </button>
              <button nbButton (click)="Revisar_Totales3(1)" *ngIf="accion.envHabilitado"
              [disabled]="this.errores.size > 0">{{ accion.envTexto }}</button>
              <button nbButton (click)="Revisar_Totales3(2)" *ngIf="accion.envContratistaHabilitado"
              [disabled]="this.errores.size > 0">{{ accion.envContratista }}</button>
            </div>

          </mat-step>

        </mat-vertical-stepper>
      </form>
    </nb-card-body>
  </nb-card>

<ng-template #erroresTemplate><nb-card><nb-card-body>
  {{ 'GLOBAL.Acta_Recibido.Errores.Mensaje' | translate }}
  <ul>
    <li *ngIf="errores.get('terceros')">{{ 'GLOBAL.Acta_Recibido.Errores.Terceros' | translate }}</li>
    <li *ngIf="errores.get('formularios')">{{ 'GLOBAL.Acta_Recibido.Errores.Formularios' | translate }}</li>
    <li *ngIf="errores.get('clases')">{{ 'GLOBAL.Acta_Recibido.Errores.Clases' | translate }}</li>
  </ul>
</nb-card-body></nb-card></ng-template>
