
<nb-card *ngIf="!firstForm" [nbSpinner]="!firstForm"></nb-card>

<div class="col-lg-12" *ngIf="firstForm">
  <form [formGroup]="firstForm" #fform="ngForm" class="step-container">
    <nb-card>
      <nb-card-header>{{'GLOBAL.Acta_Recibido.EdicionActa.Title' | translate}}</nb-card-header>
      <nb-card-body>
        <mat-vertical-stepper [linear]="true" #stepper>

          <!-- Datos iniciales -->
          <mat-step label="{{'GLOBAL.Acta_Recibido.EdicionActa.DatosTitle' | translate}}" formGroupName="Formulario1">
            <nb-card>
              <nb-card-body>
                <div class="row" (click)="usarLocalStorage()">
                  <div class="form-group col-sm">
                    <label>{{'GLOBAL.Acta_Recibido.EdicionActa.Sede' | translate}}</label>
                    <select nbInput type="text" class="form-control" formControlName="Sede" required
                      disabled *ngIf="!getPermisoEditar(permisos.Acta)">
                      <option *ngFor="let sede of Sedes" [(value)]="sede.Id">{{sede.Nombre}}</option>
                    </select>
                    <select nbInput type="text" class="form-control" formControlName="Sede" required *ngIf="getPermisoEditar(permisos.Acta)"
                      (click)="usarLocalStorage(); Traer_Relacion_Ubicaciones();">
                      <option *ngFor="let sede of Sedes" [(value)]="sede.Id">{{sede.Nombre}}</option>
                    </select>
                    <p class="campo" *ngIf="firstForm.get('Formulario1').get('Sede').invalid">
                      {{'GLOBAL.placeholder' | translate}}</p>
                  </div>
                  <div class="form-group col-sm">
                    <label>{{'GLOBAL.Acta_Recibido.EdicionActa.Dependencia' | translate}}</label>
                    <ng2-completer style="border: 0rem" inputClass="form-control" nbInput [datasource]="dataService3"
                      (keyup)="usarLocalStorage()" (click)="usarLocalStorage()" formControlName="Dependencia"
                      (change)="Traer_Relacion_Ubicaciones()" [disableInput]="!getPermisoEditar(permisos.Acta)"
                      [minSearchLength]="3" [clearUnselected]="true">
                    </ng2-completer>
                    <p class="campo" *ngIf="firstForm.get('Formulario1').get('Dependencia').invalid">
                      {{'GLOBAL.placeholder' | translate}}</p>
                  </div>
                  <div class="form-group col-sm">
                    <label>{{'GLOBAL.Acta_Recibido.EdicionActa.Ubicacion' | translate}}</label>
                    <select nbInput type="text" class="form-control" formControlName="Ubicacion"
                    disabled *ngIf="!getPermisoEditar(permisos.Acta)">
                      <option *ngFor="let ubicacion of Ubicaciones" [(value)]="ubicacion.Id">{{ubicacion.Nombre}}
                      </option>
                    </select>
                    <select nbInput type="text" class="form-control" formControlName="Ubicacion" *ngIf="getPermisoEditar(permisos.Acta)"
                      (click)="usarLocalStorage()">
                      <option *ngFor="let ubicacion of Ubicaciones" [(value)]="ubicacion.Id">{{ubicacion.Nombre}}
                      </option>
                    </select>
                    <p class="campo" *ngIf="firstForm.get('Formulario1').get('Ubicacion').invalid">
                      {{'GLOBAL.placeholder' | translate}}</p>
                  </div>


                  <div class="form-group col-sm">
                    <label>{{'GLOBAL.Acta_Recibido.RegistroActa.Revisor' | translate}}</label>
                    <ng2-completer style="border: 0rem" inputClass="form-control" (keyup)="usarLocalStorage()"
                      placeholder="{{'GLOBAL.Acta_Recibido.EdicionActa.SeleccioneFiltro' | translate}}"
                      [clearUnselected]="true" nbInput [datasource]="dataService2" formControlName="Revisor"
                      [minSearchLength]="3">
                    </ng2-completer>
                    <p class="campo" *ngIf="firstForm.get('Formulario1').get('Revisor').invalid">
                      {{'GLOBAL.placeholder' | translate}}</p>
                  </div>

                </div>
              </nb-card-body>
              <nb-card-footer>
                <button nbButton matStepperNext [disabled]="!firstForm.get('Formulario1').valid"
                  (click)="usarLocalStorage()"
                  class="float-right">{{'GLOBAL.Acta_Recibido.EdicionActa.SiguienteButton' | translate}}</button>
              </nb-card-footer>
            </nb-card>
          </mat-step>

          <!-- Soportes -->
          <mat-step label="Datos de Soporte" formArrayName="Formulario2">
            <nb-card>
              <nb-card-body>
                <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">

                  <!-- cada soporte -->
                  <mat-tab *ngFor="let soporte of firstForm.get('Formulario2').controls; let i = index"
                    [formGroupName]="i">
                    <ng-template mat-tab-label>
                      {{'GLOBAL.Acta_Recibido.EdicionActa.SoporteSubTitle' | translate}} &nbsp; {{i + 1}} &nbsp; &nbsp;
                      &nbsp; &nbsp;<i class="fas fa-window-close" (click)="removeTab(i); usarLocalStorage()" *ngIf="false && getPermisoEditar(permisos.Acta)"></i>
                    </ng-template>
                    <div>

                      <!-- Datos básicos del Soporte -->
                      <nb-card>
                        <nb-card-body (click)="usarLocalStorage()">
                          <div class="row">

                            <div class="col" *ngIf="!ActaEspecial">
                              <div class="form-group col-sm">
                                <label>{{'GLOBAL.Acta_Recibido.EdicionActa.Proveedor' | translate}}</label>
                                <ng2-completer style="border: 0rem" inputClass="form-control" (keyup)="usarLocalStorage()"
                                  placeholder="{{'GLOBAL.Acta_Recibido.EdicionActa.SeleccioneFiltro' | translate}}"
                                  [clearUnselected]="true" nbInput [datasource]="dataService2" formControlName="Proveedor"
                                  [minSearchLength]="3" [disableInput]="!getPermisoEditar(permisos.Acta)">
                                </ng2-completer>
                                <p class="campo" *ngIf="firstForm.get('Formulario2').at(i).get('Proveedor').invalid">
                                  {{'GLOBAL.placeholder' | translate}}</p>
                              </div>
                              <div class="form-group col-sm">
                                <label>{{'GLOBAL.Acta_Recibido.EdicionActa.Consecutivo' | translate}}</label>
                                <div class="input-group">
                                  <input nbInput type="text"
                                    placeholder="{{'GLOBAL.Acta_Recibido.EdicionActa.Consecutivo' | translate}}"
                                    class="form-control" formControlName="Consecutivo"
                                    required disabled *ngIf="!getPermisoEditar(permisos.Acta)">
                                  <input nbInput type="text" (keyup)="usarLocalStorage()"
                                    placeholder="{{'GLOBAL.Acta_Recibido.EdicionActa.Consecutivo' | translate}}"
                                    class="form-control" formControlName="Consecutivo" (keyup)="usarLocalStorage()"
                                    required *ngIf="getPermisoEditar(permisos.Acta)">
                                </div>
                                <p class="campo" *ngIf="firstForm.get('Formulario2').at(i).get('Consecutivo').invalid">
                                  {{'GLOBAL.placeholder' | translate}}</p>
                              </div>
                              <div class="form-group col-sm">
                                <label>{{'GLOBAL.Acta_Recibido.EdicionActa.FechaSoporte' | translate}}</label>
                                <div class="input-group">
                                  <input nbInput
                                    placeholder="{{'GLOBAL.Acta_Recibido.EdicionActa.FechaFiltro' | translate}}"
                                    class="form-control" [nbDatepicker]="formpicker"
                                    formControlName="Fecha_Factura" required disabled *ngIf="!getPermisoEditar(permisos.Acta)">
                                  <input nbInput (click)="usarLocalStorage()"
                                    placeholder="{{'GLOBAL.Acta_Recibido.EdicionActa.FechaFiltro' | translate}}"
                                    class="form-control" [nbDatepicker]="formpicker" (keyup)="usarLocalStorage()"
                                    formControlName="Fecha_Factura" required *ngIf="getPermisoEditar(permisos.Acta)">
                                  <nb-datepicker #formpicker [max]="TodaysDate" (dateChange)="usarLocalStorage()"></nb-datepicker>
                                </div>

                                <p class="campo" *ngIf="firstForm.get('Formulario2').at(i).get('Fecha_Factura').invalid">
                                  {{'GLOBAL.placeholder' | translate}}</p>
                              </div>
                            </div>

                            <div class="col">
                              <div class="form-group col-sm">
                                <label>{{'GLOBAL.Acta_Recibido.RegistroActa.Soporte' | translate}}</label>
                                <nb-card>
                                  <nb-card-body>
                                    <div class="col-sm soporte">
                                      <div>
                                        <button nbButton type="button" (click)="fileInputDocumento.click()" *ngIf="getPermisoEditar(permisos.Acta)">
                                          <i class="fas fa-file-upload fa-2x"></i>
                                          <input #fileInputDocumento type="file"
                                            (change)="onInputFileDocumento($event, i)" style="display:none;"
                                            accept="application/pdf" data-max-size="5120" />
                                        </button>
                                      </div>
                                      <p></p>
                                      <p *ngIf="Validador[i] && fileDocumento[i]">{{fileDocumento[i].name}}</p>
                                      <p *ngIf="!Validador[i]">
                                        {{'GLOBAL.Acta_Recibido.CapturarElementos.ValidadorPlaceholder2' | translate }}
                                      </p>
                                      <div>
                                        <button nbButton type="button" *ngIf="fileDocumento[i]" target="_blank"
                                          (click)="download(i)">
                                          Ver
                                        </button>
                                        <button nbButton type="button" *ngIf="fileDocumento[i] === undefined" target="_blank"
                                          (click)="downloadFile(uidDocumento[i])">
                                          Ver
                                        </button>
                                      </div>
                                      <p></p>
                                      <div>
                                        <button type="button" *ngIf="Validador[i] && getPermisoEditar(permisos.Acta)" class="btn btn-primary"
                                          (click)="clearFile(i)">
                                          {{'GLOBAL.Acta_Recibido.CapturarElementos.LimpiarEspacioButton' | translate }}
                                        </button>
                                      </div>
                                    </div>
                                  </nb-card-body>
                                </nb-card>
                              </div>
                            </div>

                          </div>
                        </nb-card-body>
                      </nb-card>

                      <!-- Elementos asociados al Soporte -->
                      <ngx-capturar-elementos
                        *ngIf="getPermisoEditar(permisos.Elementos)"
                        [DatosRecibidos]="Elementos__Soporte[i]" (DatosTotales)="ver2($event,i)"
                        (DatosEnviados)="ver($event, i)">
                      </ngx-capturar-elementos>

                    </div>
                  </mat-tab>
                  <mat-tab [disabled]="true" *ngIf="false && getPermisoEditar(permisos.Acta)">
                    <ng-template mat-tab-label>
                      <i class="fas fa-plus-square fa-2x" (click)="addTab(); usarLocalStorage()"></i>
                    </ng-template>
                  </mat-tab>
                </mat-tab-group>
              </nb-card-body>
              <nb-card-footer>
                <div class="justify-content-center">
                  <button nbButton
                    matStepperPrevious>{{'GLOBAL.Acta_Recibido.EdicionActa.AnteriorButton' | translate}}</button>
                  <button nbButton matStepperNext (click)="usarLocalStorage()"
                    [disabled]="!firstForm.get('Formulario1').valid || (!firstForm.get('Formulario2').valid && !ActaEspecial)"
                    class="float-right">{{'GLOBAL.Acta_Recibido.EdicionActa.SiguienteButton' | translate}}</button>
                </div>
              </nb-card-footer>
            </nb-card>
          </mat-step>

          <!-- Resumen, Validación, Envío, Guardar -->
          <mat-step label="Datos Adicionales" formGroupName="Formulario3">

            <nb-card *ngIf="Totales">
              <nb-card-header>{{'GLOBAL.Acta_Recibido.EdicionActa.Consolidado' | translate}}</nb-card-header>
              <nb-card-body>
                <table>
                  <tr>
                    <td class="cell-3"></td>
                    <td class="cell-3"></td>
                    <td class="cell-3">{{'GLOBAL.Acta_Recibido.EdicionActa.Subtotal' | translate}}</td>
                    <td class="cell-3"></td>
                    <td class="cell-3">{{getGranSubtotal() | currency}}</td>
                    <td class="cell-3"></td>
                    <td class="cell-3"></td>
                  </tr>
                  <tr>
                    <td class="cell-3"></td>
                    <td class="cell-3"></td>
                    <td class="cell-3">{{'GLOBAL.Acta_Recibido.EdicionActa.Descuento' | translate}}</td>
                    <td class="cell-3"></td>
                    <td class="cell-3">{{getGranDescuentos() | currency}}</td>
                    <td class="cell-3"></td>
                    <td class="cell-3"></td>
                  </tr>
                  <tr>
                    <td class="cell-3"></td>
                    <td class="cell-3"></td>
                    <td class="cell-3">{{'GLOBAL.Acta_Recibido.EdicionActa.ValorIva' | translate}}</td>
                    <td class="cell-3"></td>
                    <td class="cell-3">{{getGranValorIva() | currency}}</td>
                    <td class="cell-3"></td>
                    <td class="cell-3"></td>
                  </tr>
                  <tr>
                    <td class="cell-3"></td>
                    <td class="cell-3"></td>
                    <td class="cell-3">{{'GLOBAL.Acta_Recibido.EdicionActa.Total' | translate}}</td>
                    <td class="cell-3"></td>
                    <td class="cell-3">{{getGranTotal() | currency}}</td>
                    <td class="cell-3"></td>
                    <td class="cell-3"></td>
                  </tr>
                </table>
              </nb-card-body>
            </nb-card>

            <nb-card>
              <nb-card-header>{{'GLOBAL.Acta_Recibido.EdicionActa.DatosAdicionales' | translate}}</nb-card-header>
              <nb-card-body>
                <div class="form-group  col-lg-12" (click)="usarLocalStorage()">
                  <label>{{'GLOBAL.Acta_Recibido.EdicionActa.Observaciones' | translate}}</label>
                  <div class="input-group">
                    <textarea rows="5" (keyup)="usarLocalStorage()"
                      placeholder="Proporciona datos adicionales que no se pueden expresar en el formulario"
                      class="form-control" formControlName="Datos_Adicionales" required></textarea>
                    <p class="campo" *ngIf="firstForm.get('Formulario3').get('Datos_Adicionales').invalid">
                      {{'GLOBAL.placeholder' | translate}}</p>
                  </div>
                </div>
              </nb-card-body>
              <nb-card-footer>
                <div class="justify-content-center">
                  <button nbButton
                    matStepperPrevious>{{'GLOBAL.Acta_Recibido.EdicionActa.AnteriorButton' | translate}}</button>
                  <button nbButton (click)="Revisar_Totales2()" *ngIf="getPermisoEditar(permisos.Acta) || getPermisoEditar(permisos.Elementos)"
                    [disabled]="!firstForm.get('Formulario3').valid || (!firstForm.get('Formulario2').valid && !ActaEspecial) || !firstForm.get('Formulario3').valid"
                    class="float-right">{{'GLOBAL.Acta_Recibido.EdicionActa.GuardarCambiosButton' | translate}}</button>
                </div>
              </nb-card-footer>
            </nb-card>

            <div class="justify-content-center">
              <button nbButton (click)="Revisar_Totales3()" *ngIf="accion.envHabilitado" [disabled]="formNoValido()"
                class="float-right">{{ accion.envTexto }}</button>
            </div>
          </mat-step>
        </mat-vertical-stepper>
      </nb-card-body>
    </nb-card>
  </form>
</div>
