<div class="row">
  <nb-card class="col-md-6 col-lg-6 col-xxxl-6">
    <nb-card-header>
      {{'GLOBAL.catalogo' | translate}}
    </nb-card-header>
    <nb-card-body>
      <div>
        <select class="form-control mb-4" (change)="onChange($event.target.value)">
          <option disabled selected>{{'GLOBAL.seleccionar' | translate}}...</option>
          <option *ngFor="let item of catalogos" value="{{ item.Id }}">{{ item.Nombre }}</option>
        </select>
        <ngx-arbol *ngIf="catalogoId !== 0" [catalogoId]="catalogoId" (grupo)="receiveMessage($event)"
          [updateSignal]="eventChange"></ngx-arbol>
      </div>
    </nb-card-body>
  </nb-card>
  <div class="col-md-6 col-lg-6 col-xxxl-6" *ngIf="uid_1">
    <mat-vertical-stepper #stepper>
      <mat-step>
        <ng-template matStepLabel>
          {{'GLOBAL.Entradas' | translate}}
        </ng-template>
        <div *ngFor="let tab of movimiento">
          <ngx-crud-movimiento [subgrupo_id]="uid_1" [movimiento_id]="tab" (eventChange)="recargarCatalogo($event)">
          </ngx-crud-movimiento>
        </div>
        <div class="justify-content-center">
          <button nbButton
            matStepperPrevious>{{'GLOBAL.Acta_Recibido.RegistroActa.AnteriorButton' | translate}}</button>
          <button nbButton matStepperNext
            class="float-right">{{'GLOBAL.Acta_Recibido.RegistroActa.SiguienteButton' | translate}}</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>
          {{'GLOBAL.Salidas' | translate}}
        </ng-template>
        <div *ngFor="let tab of [7]">
          <ngx-crud-movimiento [subgrupo_id]="uid_1" [movimiento_id]="tab" (eventChange)="recargarCatalogo($event)">
          </ngx-crud-movimiento>
          <div class="justify-content-center">
            <button nbButton
              matStepperPrevious>{{'GLOBAL.Acta_Recibido.RegistroActa.AnteriorButton' | translate}}</button>
            <button nbButton matStepperNext
              class="float-right">{{'GLOBAL.Acta_Recibido.RegistroActa.SiguienteButton' | translate}}</button>
          </div>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>
          {{'GLOBAL.Depreciacion' | translate}}
        </ng-template>
        <div *ngFor="let tab of [8]">
          <ngx-crud-movimiento [subgrupo_id]="uid_1" [movimiento_id]="tab" (eventChange)="recargarCatalogo($event)">
          </ngx-crud-movimiento>
        </div>
        <div class="justify-content-center">
          <button nbButton
            matStepperPrevious>{{'GLOBAL.Acta_Recibido.RegistroActa.AnteriorButton' | translate}}</button>
          <button nbButton matStepperNext
            class="float-right">{{'GLOBAL.Acta_Recibido.RegistroActa.SiguienteButton' | translate}}</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>
          {{'GLOBAL.Valorizacion' | translate}}
        </ng-template>
        <div *ngFor="let tab of [9]">
          <ngx-crud-movimiento [subgrupo_id]="uid_1" [movimiento_id]="tab" (eventChange)="recargarCatalogo($event)">
          </ngx-crud-movimiento>
        </div>
        <div class="justify-content-center">
          <button nbButton
            matStepperPrevious>{{'GLOBAL.Acta_Recibido.RegistroActa.AnteriorButton' | translate}}</button>
          <button nbButton matStepperNext
            class="float-right">{{'GLOBAL.Acta_Recibido.RegistroActa.GuardarCambiosButton' | translate}}</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </div>
</div>