<!-- nb-card para mostrar las solicitudes existentes -->
<nb-card *ngIf="!detalle">
  <nb-card-header>
    <h1>Solicitudes</h1>
  </nb-card-header>
  <nb-card-body>
    <p class="h5 pb-4">Lista de solicitudes de elementos a la bodega de consumo</p>
    <ng2-smart-table [settings]="settings" [source]="source" (custom)="onCustom($event)" *ngIf="!detalle">
    </ng2-smart-table>
  </nb-card-body>
  <nb-card-footer>

  </nb-card-footer>
</nb-card>

<!--Card para mostrar el detalle de un elemento-->
<nb-card *ngIf="detalle">
  <nb-card-header>
    <h1>Detalle de solicitud</h1>
  </nb-card-header>
  <nb-card-body>
    <ngx-detalle-solicitud [Editar]="Editar" [salida_id]="salidaId"></ngx-detalle-solicitud>

  </nb-card-body>
  <nb-card-footer>
    <div class="pt-4">
      <button type="button" class="btn btn-secondary" data-dismiss="modal"
        (click)="onVolver()">{{'GLOBAL.volver' | translate}}
      </button>
    </div>
  </nb-card-footer>
</nb-card>