<!-- nb-card para mostrar las solicitudes existentes -->
<nb-card *ngIf="!salidaId">
  <nb-card-header>
    <h2>{{ Editar ? 'Solicitudes Pendientes' : 'Solicitudes Resueltas' }}</h2>
  </nb-card-header>
  <nb-card-body [nbSpinner]="!mostrar"><nb-card><nb-card-body>
    <p><em>Lista de solicitudes de elementos a la bodega de consumo, {{ Editar ? 'pendientes' : 'resueltas' }}.</em></p>
    <ng2-smart-table [settings]="settings" [source]="source" (custom)="onCustom($event)" *ngIf="!salidaId">
    </ng2-smart-table>
  </nb-card-body></nb-card></nb-card-body>
</nb-card>

<!--Card para mostrar el detalle de un elemento-->
<nb-card *ngIf="salidaId">
  <nb-card-header>
    <h1>Detalle de solicitud</h1>
  </nb-card-header>
  <nb-card-body><nb-card><nb-card-body>
    <ngx-detalle-solicitud [Editar]="Editar" [salida_id]="salidaId"></ngx-detalle-solicitud>
  </nb-card-body></nb-card></nb-card-body>
  <nb-card-footer>
    <div class="pt-4">
      <button type="button" class="btn btn-secondary" data-dismiss="modal"
        (click)="onVolver()">{{'GLOBAL.volver' | translate}}
      </button>
    </div>
  </nb-card-footer>
</nb-card>
