<mat-card>
  <mat-card-title *ngIf="!salidaId">
    {{ 'GLOBAL.BodegaConsumo.Solicitud.Titulo' + (Editar ? 'Pendientes' : 'Todas') | translate }}
  </mat-card-title>
  <mat-card-title *ngIf="salidaId">
    {{'GLOBAL.Solicitudes.Detalle' | translate}}
  </mat-card-title>
  <mat-card-subtitle *ngIf="!salidaId">
    {{ 'GLOBAL.BodegaConsumo.Solicitud.Lista' + (Editar ? 'Pendientes' : 'Todas') | translate }}
  </mat-card-subtitle>
  <mat-card-content [nbSpinner]="!mostrar">
    <div class="smart-table-container">
      <ng2-smart-table *ngIf="!salidaId" [settings]="settings" [source]="source" (custom)="onCustom($event)">
      </ng2-smart-table>
    </div>
    <ngx-detalle-solicitud *ngIf="salidaId" (done)="onResponder()" [Editar]="Editar" [salida_id]="salidaId">
    </ngx-detalle-solicitud>
  </mat-card-content>
  <mat-card-actions *ngIf="salidaId">
    <button mat-raised-button color="primary" class="float-left text-uppercase" (click)="onVolver()">
      {{'GLOBAL.volver' | translate}}
    </button>
  </mat-card-actions>
</mat-card>
