<nb-card>
    <nb-card-header>
        Formulario de Solicitud de Bajas
    </nb-card-header>
    <nb-card-body>
        <ngx-form-funcionario-solicitud (DatosEnviados)="Datos_Solicitante($event)"></ngx-form-funcionario-solicitud>
        <ngx-form-elementos-seleccionados (DatosEnviados)="Datos_Elemento($event)"></ngx-form-elementos-seleccionados>
        <ngx-tabla-elementos-agregados [Elemento]="DatosElemento" (DatosEnviados)="Datos_Tabla($event)"></ngx-tabla-elementos-agregados>
    </nb-card-body>
    <nb-card-footer>
        <button nbButton [disabled]="true" class="float-right">Generar Solicitud</button>
    </nb-card-footer>
</nb-card>