<div class="row">
  <mat-card class="col">
    <mat-card-title>
      {{'GLOBAL.catalogo.uno' | translate}}
    </mat-card-title>
    <mat-card-content [nbSpinner]="cargando_catalogos">
        <select class="form-control mb-4" (change)="onChange($event.target.value)">
          <option disabled selected>{{'GLOBAL.seleccionar' | translate}}...</option>
          <option *ngFor="let item of catalogos" value="{{ item.Id }}">{{ item.Nombre }}</option>
        </select>
        <ngx-arbol *ngIf="catalogoId !== undefined" [catalogoId]="catalogoId" [subgruposInactivos]=true (fila)="receiveMessage($event)" [updateSignal]="eventChange">
          <p>
            <span class="fas fa-info-circle"></span>&nbsp;
            <em>{{'GLOBAL.catalogo.constrInfo' | translate}}</em>
          </p>
        </ngx-arbol>
    </mat-card-content>
    <mat-card-actions *ngIf="catalogoId !== undefined">
        <button nbButton class="float-right" (click)="AgregarGrupo()">{{'GLOBAL.subgrupo.grupo.agregar' | translate}}</button>
    </mat-card-actions>
  </mat-card>

  <div class="col" *ngIf="ver_formulario">
    <mat-card *ngIf="modificarGrupo">
      <mat-card-title>
        {{'GLOBAL.subgrupo.grupo'+ stringHeader | translate}}
      </mat-card-title>
      <ngx-crud-grupo [catalogoId]="catalogoSeleccionado" [grupo]="subgrupo"
        (eventChange)="recargarCatalogo($event)"></ngx-crud-grupo>
      <mat-card-actions>
        <button nbButton (click)="QuitarVista()">{{'GLOBAL.volver' | translate}}</button>
        <button nbButton *ngIf="subgrupo" class="float-right" (click)="AgregarSubgrupo()">{{'GLOBAL.subgrupo.segmento.agregar' |
          translate}}</button>
      </mat-card-actions>
    </mat-card>

    <mat-card *ngIf="modificarSubgrupo">
      <mat-card-title>
        {{'GLOBAL.subgrupo.'+nivel_actual+stringHeader | translate}}
      </mat-card-title>
      <ngx-crud-subgrupo *ngIf="modificarSubgrupo" [create]="crearSubgrupo" [subgrupo]="subgrupo" (eventChange)="recargarCatalogo($event)">
      </ngx-crud-subgrupo>
      <mat-card-actions>
        <button nbButton (click)="QuitarVista()">{{'GLOBAL.volver' | translate}}</button>
        <button nbButton class="float-right" (click)="AgregarSubgrupo()"
          *ngIf="permitir_crear_subgrupo">{{'GLOBAL.subgrupo.'+nivel_hijo+'.agregar' | translate}}</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
