<mat-card [nbSpinner]="spinner" [nbSpinnerMessage]="spinner">
  <mat-card-title *ngIf="!salida_id">
    {{'GLOBAL.salidas.titulo_registrar' | translate}}
  </mat-card-title>
  <mat-card-title *ngIf="salida_id">
    {{'GLOBAL.salidas.titulo_editar' | translate}}: {{ salida?.Consecutivo }}
  </mat-card-title>
  <mat-card-subtitle *ngIf="!consecutivoEntrada && !salida">{{'GLOBAL.salidas.salida_instruccion' | translate}}
  </mat-card-subtitle>

  <div class="smart-table-container" *ngIf="!consecutivoEntrada">
    <ng2-smart-table [settings]="settings" [source]="source" (custom)="onCustom($event)">
    </ng2-smart-table>
  </div>

  <mat-accordion *ngIf="consecutivoEntrada" multi>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>{{'GLOBAL.detalle_entrada' | translate}}
      </mat-expansion-panel-header>
      <ngx-detalle-entrada *ngIf="entradaEspecifica" [detalleEntrada]="entradaEspecifica">
      </ngx-detalle-entrada>
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="salida_id" [expanded]="true">
      <mat-expansion-panel-header>{{'GLOBAL.salidas.detalle_salida' | translate}}
      </mat-expansion-panel-header>
      <div class="row">
        <div class="col">
          <p class="text-uppercase"><strong>{{'GLOBAL.consecutivo' | translate}}:</strong>
            {{ salida?.Consecutivo }}</p>
        </div>
        <div class="col">
          <p class="text-uppercase"><strong>{{'GLOBAL.fecha_creacion' | translate}}:</strong>
            {{ salida?.FechaCreacion | date }}</p>
        </div>
        <div class="col">
          <p class="text-uppercase"><strong>{{'GLOBAL.funcionario' | translate}}:</strong>
            {{ salida?.Funcionario?.NombreCompleto}}</p>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <p class="text-uppercase"><strong>{{'GLOBAL.Acta_Recibido.RegistroActa.Sede' | translate}}:</strong>
            {{ salida?.Sede?.Nombre }}</p>
        </div>
        <div class="col">
          <p class="text-uppercase"><strong>{{'GLOBAL.Acta_Recibido.RegistroActa.Dependencia' | translate}}:</strong>
            {{ salida?.Dependencia?.Nombre }}</p>
        </div>
        <div class="col">
          <p class="text-uppercase"><strong>{{'GLOBAL.Acta_Recibido.RegistroActa.Ubicacion' | translate}}:</strong>
            {{ salida?.Ubicacion.EspacioFisicoId?.Nombre }}</p>
        </div>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="true" hideToggle>
      <mat-expansion-panel-header>{{'GLOBAL.salidas.elementos' | translate}}
      </mat-expansion-panel-header>
      <ngx-tabla-elementos-asignados [entradaId]="consecutivoEntrada" [salida_id]="salida_id">
      </ngx-tabla-elementos-asignados>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-card-actions *ngIf="consecutivoEntrada && !salida_id">
    <button mat-raised-button color="primary" (click)="onVolver()" class="float-left text-uppercase">
      {{'GLOBAL.volver' | translate}}</button>
  </mat-card-actions>

</mat-card>
